language: python
python:
- 2.7
- 3.4
- 3.5
- 3.6
cache: pip
branches:
  only:
  - master
before_install:
- pip install -U pip
install:
- pip install codecov
- pip install -e .[test]
script:
- coverage run --source=sentinelsat -m py.test -v
after_success:
- codecov
- if [[ $TRAVIS_PYTHON_VERSION = 3.6 && $TRAVIS_PULL_REQUEST = false ]]; then curl -X POST http://readthedocs.org/build/sentinelsat; fi
sudo: false
notifications:
  email: false
