interactions:
- request:
    body: q=%28beginPosition%3A%5BNOW-1DAY+TO+NOW%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON+%28%28-66.2695312+-8.0592296%2C+-66.2695312+0.7031074%2C+-57.3046875+0.7031074%2C+-57.3046875+-8.0592296%2C+-66.2695312+-8.0592296%29%29%29%22%29
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"(beginPosition:[NOW-1DAY\
        \ TO NOW]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312 -8.0592296,\
        \ -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296, -66.2695312\
        \ -8.0592296)))\\\")\"\n   },\n   \"author\": {\"name\": \"Sentinels Scientific\
        \ Data Hub\"},\n   \"link\": [\n      {\n         \"rel\": \"self\",\n   \
        \      \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[NOW-1DAY\
        \ TO NOW]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312 -8.0592296,\
        \ -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296, -66.2695312\
        \ -8.0592296)))\\\")&start=0&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[NOW-1DAY\
        \ TO NOW]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312 -8.0592296,\
        \ -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296, -66.2695312\
        \ -8.0592296)))\\\")&start=0&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[NOW-1DAY\
        \ TO NOW]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312 -8.0592296,\
        \ -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296, -66.2695312\
        \ -8.0592296)))\\\")&start=13&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"search\",\n         \"href\": \"\
        opensearch_description.xml\",\n         \"type\": \"application/opensearchdescription+xml\"\
        \n      }\n   ],\n   \"title\": \"Sentinels Scientific Data Hub search results\
        \ for: (beginPosition:[NOW-1DAY TO NOW]) AND (footprint:\\\"Intersects(POLYGON\
        \ ((-66.2695312 -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074,\
        \ -57.3046875 -8.0592296, -66.2695312 -8.0592296)))\\\")\",\n   \"opensearch:startIndex\"\
        : \"0\",\n   \"opensearch:totalResults\": \"14\",\n   \"entry\": [\n     \
        \ {\n         \"summary\": \"Date: 2017-05-31T10:10:44.251Z, Instrument: SAR-C\
        \ SAR, Mode: VV VH, Satellite: Sentinel-1, Size: 7.9 GB\",\n         \"str\"\
        : [\n            {\n               \"name\": \"acquisitiontype\",\n      \
        \         \"content\": \"NOMINAL\"\n            },\n            {\n      \
        \         \"name\": \"filename\",\n               \"content\": \"S1A_IW_SLC__1SDV_20170531T101044_20170531T101114_016824_01BF89_501A.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>0.191467,-65.930214 0.668332,-68.153389\
        \ 2.466461,-67.777847 1.995244,-65.553474 0.191467,-65.930214<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        \n            },\n            {\n               \"name\": \"format\",\n  \
        \             \"content\": \"SAFE\"\n            },\n            {\n     \
        \          \"name\": \"identifier\",\n               \"content\": \"S1A_IW_SLC__1SDV_20170531T101044_2017[...]
- request:
    body: q=%28beginPosition%3A%5BNOW-1DAY+TO+NOW%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON+%28%28-66.2695312+-8.0592296%2C+-66.2695312+0.7031074%2C+-57.3046875+0.7031074%2C+-57.3046875+-8.0592296%2C+-66.2695312+-8.0592296%29%29%29%22%29
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n     [...]
[...]
