interactions:
- request:
    body: q=%28beginPosition%3A%5B2015-01-01T00%3A00%3A00Z+TO+2015-12-31T00%3A00%3A00Z%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON%28%280+0%2C0+10%2C10+10%2C10+0%2C0+0%29%29%29%22%29
    headers:
      Authorization: [Basic cmVnaW86SzZzbTZz]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\"\
        : \"application/atom+xml\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((0 0,0 10,10\
        \ 10,10 0,0 0)))\\\")&start=0&rows=100\"\n      },\n      {\n         \"rel\"\
        : \"first\",\n         \"type\": \"application/atom+xml\",\n         \"href\"\
        : \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((0 0,0 10,10\
        \ 10,10 0,0 0)))\\\")&start=0&rows=100\"\n      },\n      {\n         \"rel\"\
        : \"next\",\n         \"type\": \"application/atom+xml\",\n         \"href\"\
        : \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((0 0,0 10,10\
        \ 10,10 0,0 0)))\\\")&start=100&rows=100\"\n      },\n      {\n         \"\
        rel\": \"last\",\n         \"type\": \"application/atom+xml\",\n         \"\
        href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((0 0,0 10,10\
        \ 10,10 0,0 0)))\\\")&start=469&rows=100\"\n      },\n      {\n         \"\
        rel\": \"search\",\n         \"type\": \"application/opensearchdescription+xml\"\
        ,\n         \"href\": \"opensearch_description.xml\"\n      }\n   ],\n   \"\
        xmlns\": \"http://www.w3.org/2005/Atom\",\n   \"opensearch:itemsPerPage\"\
        : \"100\",\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((0 0,0 10,10\
        \ 10,10 0,0 0)))\\\")\",\n   \"author\": {\"name\": \"Sentinels Scientific\
        \ Data Hub\"},\n   \"title\": \"Sentinels Scientific Data Hub search results\
        \ for: (beginPosition:[2015-01-01T00:00:00Z TO 2015-12-31T00:00:00Z]) AND\
        \ (footprint:\\\"Intersects(POLYGON((0 0,0 10,10 10,10 0,0 0)))\\\")\",\n\
        \   \"updated\": \"2016-11-21T21:15:33.785Z\",\n   \"opensearch:totalResults\"\
        : \"470\",\n   \"entry\": [\n      {\n         \"summary\": \"Date: 2015-09-29T10:00:16Z,\
        \ Instrument: MSI, Mode: , Satellite: Sentinel-2, Size: 5.38 GB\",\n     \
        \    \"id\": \"b84456bd-b09f-4d48-807e-78a55330d3bf\",\n         \"title\"\
        : \"S2A_OPER_PRD_MSIL1C_PDMC_20161031T231012_R122_V20150929T100016_20150929T100016\"\
        ,\n         \"str\": [\n            {\n               \"content\": \"b84456bd-b09f-4d48-807e-78a55330d3bf\"\
        ,\n               \"name\": \"uuid\"\n            },\n            {\n    \
        \           \"content\": \"S2A_OPER_PRD_MSIL1C_PDMC_20161031T231012_R122_V20150929T100016_20150929T100016.SAFE\"\
        ,\n               \"name\": \"filename\"\n            },\n            {\n\
        \               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>7.1630303903464,2.504381441340332\
        \ 7.014386445019823,2.47167703162482 6.865867918093913,2.438958657317244 6.717392988478136,2.40637636815267\
        \ 6.568940115180135,2.373864803135131 6.42043728512395,2.341316331080864 6.271919649554881,2.308648547577551\
        \ 6.243953628631767,2.302500108222014 6.243953628631767,2.3025001082220147\
        \ 6.231246895825923,2.299706483191177 6.123508458239819,2.276117589627299\
        \ 5.974843299836337,2.243512321349673 5.826170528615973[...]
[...]
