interactions:
- request:
    body: q=xxx%3Ayyy
    headers:
      Authorization: [Basic cmVnaW86SzZzbTZz]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "<!DOCTYPE html><html><head><title>Apache Tomcat/8.0.36 - Error\
        \ report</title><style type=\"text/css\">H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}\
        \ H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}\
        \ H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}\
        \ BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}\
        \ B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}\
        \ P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A\
        \ {color : black;}A.name {color : black;}.line {height: 1px; background-color:\
        \ #525D76; border: none;}</style> </head><body><h1>HTTP Status 500 - Server\
        \ returned HTTP response code: 400 for URL: http://localhost:30333//solr/dhus/select?q=xxx:yyy&amp;wt=xslt&amp;tr=opensearch_atom.xsl&amp;dhusLongName=Sentinels+Scientific+Data+Hub&amp;dhusServer=https%3A%2F%2Fscihub.copernicus.eu%2Fapihub%2F&amp;originalQuery=xxx%3Ayyy&amp;rows=100&amp;start=0&amp;sort=ingestiondate+desc</h1><div\
        \ class=\"line\"></div><p><b>type</b> Exception report</p><p><b>message</b>\
        \ <u>Server returned HTTP response code: 400 for URL: http://localhost:30333//solr/dhus/select?q=xxx:yyy&amp;wt=xslt&amp;tr=opensearch_atom.xsl&amp;dhusLongName=Sentinels+Scientific+Data+Hub&amp;dhusServer=https%3A%2F%2Fscihub.copernicus.eu%2Fapihub%2F&amp;originalQuery=xxx%3Ayyy&amp;rows=100&amp;start=0&amp;sort=ingestiondate+desc</u></p><p><b>description</b>\
        \ <u>The server encountered an internal error that prevented it from fulfilling\
        \ this request.</u></p><p><b>exception</b></p><pre>java.io.IOException: Server\
        \ returned HTTP response code: 400 for URL: http://localhost:30333//solr/dhus/select?q=xxx:yyy&amp;wt=xslt&amp;tr=opensearch_atom.xsl&amp;dhusLongName=Sentinels+Scientific+Data+Hub&amp;dhusServer=https%3A%2F%2Fscihub.copernicus.eu%2Fapihub%2F&amp;originalQuery=xxx%3Ayyy&amp;rows=100&amp;start=0&amp;sort=ingestiondate+desc\n\
        \tsun.net.www.protocol.http.HttpURLConnection.getInputStream(HttpURLConnection.java:1627)\n\
        \tfr.gael.dhus.server.http.[...]
