interactions:
- request:
    body: q=%28beginPosition%3A%5B2014-12-05T00%3A00%3A00Z+TO+2014-12-08T00%3A00%3A00Z%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON%28%28-66.2695312+-8.0592296%2C-66.2695312+0.7031074%2C-57.3046875+0.7031074%2C-57.3046875+-8.0592296%2C-66.2695312+-8.0592296%29%29%29%22%29+AND+%28producttype%3AGRD%29
    headers:
      Authorization: [Basic cmVnaW86SzZzbTZz]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\"\
        : \"application/atom+xml\",\n         \"href\": \"https://scihub.copernicus.eu/dhus/search?q=(beginPosition:[2014-12-05T00:00:00Z\
        \ TO 2014-12-08T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (producttype:GRD)&start=0&rows=100\"\n      },\n\
        \      {\n         \"rel\": \"first\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/dhus/search?q=(beginPosition:[2014-12-05T00:00:00Z\
        \ TO 2014-12-08T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (producttype:GRD)&start=0&rows=100\"\n      },\n\
        \      {\n         \"rel\": \"last\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/dhus/search?q=(beginPosition:[2014-12-05T00:00:00Z\
        \ TO 2014-12-08T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (producttype:GRD)&start=0&rows=100\"\n      },\n\
        \      {\n         \"rel\": \"search\",\n         \"type\": \"application/opensearchdescription+xml\"\
        ,\n         \"href\": \"opensearch_description.xml\"\n      }\n   ],\n   \"\
        xmlns\": \"http://www.w3.org/2005/Atom\",\n   \"opensearch:itemsPerPage\"\
        : \"100\",\n   \"id\": \"https://scihub.copernicus.eu/dhus/search?q=(beginPosition:[2014-12-05T00:00:00Z\
        \ TO 2014-12-08T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (producttype:GRD)\",\n   \"author\": {\"name\": \"\
        Sentinels Scientific Data Hub\"},\n   \"title\": \"Sentinels Scientific Data\
        \ Hub search results for: (beginPosition:[2014-12-05T00:00:00Z TO 2014-12-08T00:00:00Z])\
        \ AND (footprint:\\\"Intersects(POLYGON((-66.2695312 -8.0592296,-66.2695312\
        \ 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312 -8.0592296)))\\\
        \") AND (producttype:GRD)\",\n   \"updated\": \"2017-01-20T19:41:06.037Z\"\
        ,\n   \"opensearch:totalResults\": \"1\",\n   \"entry\": {\n      \"summary\"\
        : \"Date: 2014-12-06T22:37:26.852Z, Instrument: SAR-C SAR, Mode: HH HV, Satellite:\
        \ Sentinel-1, Size: 507 MB\",\n      \"id\": \"eb684a80-be6a-483f-8270-b4abec35af02\"\
        ,\n      \"title\": \"S1A_S2_GRDH_1SDH_20141206T223726_20141206T223750_003604_00442F_CF75\"\
        ,\n      \"str\": [\n         {\n            \"content\": \"SM\",\n      \
        \      \"name\": \"sensoroperationalmode\"\n         },\n         {\n    \
        \        \"content\": \"S2\",\n            \"name\": \"swathidentifier\"\n\
        \         },\n         {\n            \"content\": \"ASCENDING\",\n      \
        \      \"name\": \"orbitdirection\"\n         },\n         {\n           \
        \ \"content\": \"GRD\",\n            \"name\": \"producttype\"\n         },\n\
        \         {\n            \"content\": \"Sentinel-1\",\[...]
[...]
