interactions:
- request:
    body: q=%28beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-02T00%3A00%3A00Z%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON+%28%28-66.2695312+-8.0592296%2C+-66.2695312+0.7031074%2C+-57.3046875+0.7031074%2C+-57.3046875+-8.0592296%2C+-66.2695312+-8.0592296%29%29%29%22%29+AND+%28producttype%3AS2MSI1C%29
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\"\
        : \"application/atom+xml\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:S2MSI1C)&start=0&rows=100\"\
        \n      },\n      {\n         \"rel\": \"first\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:S2MSI1C)&start=0&rows=100\"\
        \n      },\n      {\n         \"rel\": \"last\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:S2MSI1C)&start=12&rows=100\"\
        \n      },\n      {\n         \"rel\": \"search\",\n         \"type\": \"\
        application/opensearchdescription+xml\",\n         \"href\": \"opensearch_description.xml\"\
        \n      }\n   ],\n   \"xmlns\": \"http://www.w3.org/2005/Atom\",\n   \"opensearch:itemsPerPage\"\
        : \"100\",\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:S2MSI1C)\",\n   \"author\"\
        : {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"title\": \"Sentinels\
        \ Scientific Data Hub search results for: (beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:S2MSI1C)\",\n   \"updated\"\
        : \"2017-04-28T14:18:31.775Z\",\n   \"opensearch:totalResults\": \"13\",\n\
        \   \"entry\": [\n      {\n         \"summary\": \"Date: 2016-12-01T14:10:42Z,\
        \ Instrument: MSI, Mode: , Satellite: Sentinel-2, Size: 346.06 MB\",\n   \
        \      \"id\": \"3649ad61-9466-4174-97f9-a51a8735f10a\",\n         \"title\"\
        : \"S2A_OPER_PRD_MSIL1C_PDMC_20161201T224921_R110_V20161201T141042_20161201T141042\"\
        ,\n         \"str\": [\n            {\n               \"content\": \"3649ad61-9466-4174-97f9-a51a8735f10a\"\
        ,\n               \"name\": \"uuid\"\n            },\n            {\n    \
        \           \"content\": \"S2A_OPER_PRD_MSIL1C_PDMC_20161201T224921_R110_V20161201T141042_20161201T141042.SAFE\"\
        ,\n               \"name\": \"filename\"\n            },\n            {\n\
        \               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-2.802411836487493,-57.59873071250791\
        \ -2.715796509100339,-57.579515418335774 -2.567154018630716,-57.54653227812816\
        \ -2.418532558114225,-57.51357040568482 -2.26999554059246,-57.48053190247021\
        \ -2.12140687480377,-57.44775800139432 -2.066093945266016,-57.43549893337569\
        \ -1.972796176701054,-57.414734332459375 -1.82431732790835,-57.38204117861661\
        \ -1.809168652563093,-57.37871263659679 -1.80927362038077,-56.912245922484004\
        \ -2.80265109237225[...]
