interactions:
- request:
    body: q=%28beginPosition%3A%5B2015-12-19T00%3A00%3A00Z+TO+2015-12-28T00%3A00%3A00Z%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON%28%28-66.2695312+-8.0592296%2C-66.2695312+0.7031074%2C-57.3046875+0.7031074%2C-57.3046875+-8.0592296%2C-66.2695312+-8.0592296%29%29%29%22%29+AND+%28platformname%3ASentinel-1%29
    headers:
      Authorization: [Basic cmVnaW86SzZzbTZz]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\"\
        : \"application/atom+xml\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-28T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (platformname:Sentinel-1)&start=0&rows=100\"\n  \
        \    },\n      {\n         \"rel\": \"first\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-28T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (platformname:Sentinel-1)&start=0&rows=100\"\n  \
        \    },\n      {\n         \"rel\": \"last\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-28T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (platformname:Sentinel-1)&start=10&rows=100\"\n \
        \     },\n      {\n         \"rel\": \"search\",\n         \"type\": \"application/opensearchdescription+xml\"\
        ,\n         \"href\": \"opensearch_description.xml\"\n      }\n   ],\n   \"\
        xmlns\": \"http://www.w3.org/2005/Atom\",\n   \"opensearch:itemsPerPage\"\
        : \"100\",\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-28T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (platformname:Sentinel-1)\",\n   \"author\": {\"\
        name\": \"Sentinels Scientific Data Hub\"},\n   \"title\": \"Sentinels Scientific\
        \ Data Hub search results for: (beginPosition:[2015-12-19T00:00:00Z TO 2015-12-28T00:00:00Z])\
        \ AND (footprint:\\\"Intersects(POLYGON((-66.2695312 -8.0592296,-66.2695312\
        \ 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312 -8.0592296)))\\\
        \") AND (platformname:Sentinel-1)\",\n   \"updated\": \"2017-01-20T19:41:07.382Z\"\
        ,\n   \"opensearch:totalResults\": \"11\",\n   \"entry\": [\n      {\n   \
        \      \"summary\": \"Date: 2015-12-27T10:03:55.389Z, Instrument: SAR-C SAR,\
        \ Mode: HH HV, Satellite: Sentinel-1, Size: 513.57 MB\",\n         \"id\"\
        : \"c719604a-d37c-4acd-8508-1c1cf995ab0f\",\n         \"title\": \"S1A_EW_GRDM_1SDH_20151227T100355_20151227T100510_009226_00D4D8_18A0\"\
        ,\n         \"str\": [\n            {\n               \"content\": \"T\",\n\
        \               \"name\": \"processed\"\n            },\n            {\n \
        \              \"content\": \"NOMINAL\",\n               \"name\": \"acquisitiontype\"\
        \n            },\n            {\n               \"content\": \"S1A_EW_GRDM_1SDH_20151227T100355_20151227T100510_009226_00D4D8_18A0.SAFE\"\
        ,\n               \"name\": \"filename\"\n            },\n            {\n\
        \               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-8.455783,-64.402794 -7.635231,-68.074547\
        \ -3.081243,-67.078720 -3.879990,-63.431263 -8.455783,-64.402794<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        ,\n               \"name\": \"gmlfootprint\"\n            },\n           \
        \ {\n               \"content\": \"SAFE\",\n               \"name\": \"format\"\
        \n            },\n            {\n               \"content\": \"S1A_EW_GRDM_1SDH_20151227T10035[...]
