interactions:
- request:
    body: q=%28beginPosition%3A%5B2015-05-01T00%3A00%3A00Z+TO+2015-07-05T00%3A00%3A00Z%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON%28%28-32.0554580+-53.9319760%2C-31.7483900+-53.8674350%2C-31.6460170+-54.0396610%2C-31.9544050+-54.1044620%2C-32.0554580+-53.9319760%29%29%29%22%29+AND+%28producttype%3AOCN%29
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\"\
        : \"application/atom+xml\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-32.0554580\
        \ -53.9319760,-31.7483900 -53.8674350,-31.6460170 -54.0396610,-31.9544050\
        \ -54.1044620,-32.0554580 -53.9319760)))\\\") AND (producttype:OCN)&start=0&rows=100\"\
        \n      },\n      {\n         \"rel\": \"first\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-32.0554580\
        \ -53.9319760,-31.7483900 -53.8674350,-31.6460170 -54.0396610,-31.9544050\
        \ -54.1044620,-32.0554580 -53.9319760)))\\\") AND (producttype:OCN)&start=0&rows=100\"\
        \n      },\n      {\n         \"rel\": \"last\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-32.0554580\
        \ -53.9319760,-31.7483900 -53.8674350,-31.6460170 -54.0396610,-31.9544050\
        \ -54.1044620,-32.0554580 -53.9319760)))\\\") AND (producttype:OCN)&start=2&rows=100\"\
        \n      },\n      {\n         \"rel\": \"search\",\n         \"type\": \"\
        application/opensearchdescription+xml\",\n         \"href\": \"opensearch_description.xml\"\
        \n      }\n   ],\n   \"xmlns\": \"http://www.w3.org/2005/Atom\",\n   \"opensearch:itemsPerPage\"\
        : \"100\",\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-32.0554580\
        \ -53.9319760,-31.7483900 -53.8674350,-31.6460170 -54.0396610,-31.9544050\
        \ -54.1044620,-32.0554580 -53.9319760)))\\\") AND (producttype:OCN)\",\n \
        \  \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"title\"\
        : \"Sentinels Scientific Data Hub search results for: (beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-32.0554580\
        \ -53.9319760,-31.7483900 -53.8674350,-31.6460170 -54.0396610,-31.9544050\
        \ -54.1044620,-32.0554580 -53.9319760)))\\\") AND (producttype:OCN)\",\n \
        \  \"updated\": \"2017-04-06T00:11:41.275Z\",\n   \"opensearch:totalResults\"\
        : \"3\",\n   \"entry\": [\n      {\n         \"summary\": \"Date: 2015-06-19T21:10:30.362Z,\
        \ Instrument: SAR-C SAR, Mode: VV, Satellite: Sentinel-1, Size: 878.49 KB\"\
        ,\n         \"id\": \"f30b2a6a-b0c1-49f1-b19e-e10c3cf06101\",\n         \"\
        title\": \"S1A_WV_OCN__2SSV_20150619T211030_20150619T211738_006447_008883_C1F4\"\
        ,\n         \"str\": [\n            {\n               \"content\": \"T\",\n\
        \               \"name\": \"processed\"\n            },\n            {\n \
        \              \"content\": \"NOMINAL\",\n               \"name\": \"acquisitiontype\"\
        \n            },\n            {\n               \"content\": \"S1A_WV_OCN__2SSV_20150619T211030_20150619T211738_006447_008883_C1F4.SAFE\"\
        ,\n               \"name\": \"filename\"\n            },\n            {\n\
        \               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-53.931267,-32.057858\
        \ -53.866734,-31.750776 -54.038925,-31.648441 -54.103718,-31.956841 -53.931267,-32.057858<\\\
        /gml:coordinates>\\n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\\
        n<\\/gml:Polygon>\",\n               \"name\": \"gmlfootprint\"\n        \
        \    },\n            {\n               \"content\": \"SAFE\",\n          \
        \     \"name\": \"format\"\n            },\n            {\n              \
        \ \"content\": \"S1A_WV_OCN__2S[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('f30b2a6a-b0c1-49f1-b19e-e10c3cf06101')/?$format=json
  response:
    body: {string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/$value"},"Id":"f30b2a6a-b0c1-49f1-b19e-e10c3cf06101","Name":"S1A_WV_OCN__2SSV_20150619T211030_20150619T211738_006447_008883_C1F4","ContentType":"application/octet-stream","ContentLength":"539922","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1447805161063)\/","IngestionDate":"\/Date(1447805161063)\/","EvictionDate":null,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1434748230362)\/","End":"\/Date(1434748658785)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"E8C626CD343621C572F30BA1E0BF5AA7"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-53.931267,-32.057858
        -53.866734,-31.750776 -54.038925,-31.648441 -54.103718,-31.956841 -53.931267,-32.057858</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Metalink":"<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><metalink xmlns=\"urn:ietf:params:xml:ns:metalink\"><file
        name=\"S1A_WV_OCN__2SSV_20150619T211030_20150619T211738_006447_008883_C1F4.zip\"><hash
        type=\"MD5\">E8C626CD343621C572F30BA1E0BF5AA7</hash><size>539922</size><url>https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/$value</url></file></metalink>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/Class"}}}}'}
    headers:
      Content-Type: [application/json]
      DataServiceVersion: ['2.0']
    status: {code: 200, message: OK}
[...]
