interactions:
- request:
    body: q=%28beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-02T00%3A00%3A00Z%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON+%28%28-66.2695312+-8.0592296%2C+-66.2695312+0.7031074%2C+-57.3046875+0.7031074%2C+-57.3046875+-8.0592296%2C+-66.2695312+-8.0592296%29%29%29%22%29+AND+%28producttype%3ASLC%29
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\"\
        : \"application/atom+xml\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:SLC)&start=0&rows=100\"\n\
        \      },\n      {\n         \"rel\": \"first\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:SLC)&start=0&rows=100\"\n\
        \      },\n      {\n         \"rel\": \"last\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:SLC)&start=5&rows=100\"\n\
        \      },\n      {\n         \"rel\": \"search\",\n         \"type\": \"application/opensearchdescription+xml\"\
        ,\n         \"href\": \"opensearch_description.xml\"\n      }\n   ],\n   \"\
        xmlns\": \"http://www.w3.org/2005/Atom\",\n   \"opensearch:itemsPerPage\"\
        : \"100\",\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:SLC)\",\n   \"author\":\
        \ {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"title\": \"Sentinels\
        \ Scientific Data Hub search results for: (beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312\
        \ -8.0592296, -66.2695312 0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296,\
        \ -66.2695312 -8.0592296)))\\\") AND (producttype:SLC)\",\n   \"updated\"\
        : \"2017-04-28T14:18:31.103Z\",\n   \"opensearch:totalResults\": \"6\",\n\
        \   \"entry\": [\n      {\n         \"summary\": \"Date: 2016-12-01T09:32:29.967Z,\
        \ Instrument: SAR-C SAR, Mode: VV VH, Satellite: Sentinel-1, Size: 7.18 GB\"\
        ,\n         \"id\": \"0ad39c8c-0e53-4c67-896e-33cf7a929623\",\n         \"\
        title\": \"S1A_IW_SLC__1SDV_20161201T093229_20161201T093256_014184_016EA7_E6EF\"\
        ,\n         \"str\": [\n            {\n               \"content\": \"0ad39c8c-0e53-4c67-896e-33cf7a929623\"\
        ,\n               \"name\": \"uuid\"\n            },\n            {\n    \
        \           \"content\": \"NOMINAL\",\n               \"name\": \"acquisitiontype\"\
        \n            },\n            {\n               \"content\": \"S1A_IW_SLC__1SDV_20161201T093229_20161201T093256_014184_016EA7_E6EF.SAFE\"\
        ,\n               \"name\": \"filename\"\n            },\n            {\n\
        \               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-10.180071,-57.886711\
        \ -9.665778,-60.152054 -8.044798,-59.779308 -8.552775,-57.525368 -10.180071,-57.886711<\\\
        /gml:coordinates>\\n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\\
        n<\\/gml:Polygon>\",\n               \"name\": \"gmlfootprint\"\n        \
        \    },\n            {\n               \"content\": \"SAFE\",\n          \
        \     \"name\": \"format\"\n            },\n            {\n              \
        \ \"content\": \"S1A_IW_SLC__1SDV_[...]
