interactions:
- request:
    body: q=%28beginPosition%3A%5BNOW-1DAY+TO+NOW%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON+%28%28-66.2695312+-8.0592296%2C+-66.2695312+0.7031074%2C+-57.3046875+0.7031074%2C+-57.3046875+-8.0592296%2C+-66.2695312+-8.0592296%29%29%29%22%29
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\",\n
        \  \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\": \"application/atom+xml\",\n
        \        \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[NOW-1DAY
        TO NOW]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312 -8.0592296, -66.2695312
        0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296, -66.2695312 -8.0592296)))\\\")&start=0&rows=100\"\n
        \     },\n      {\n         \"rel\": \"first\",\n         \"type\": \"application/atom+xml\",\n
        \        \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[NOW-1DAY
        TO NOW]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312 -8.0592296, -66.2695312
        0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296, -66.2695312 -8.0592296)))\\\")&start=0&rows=100\"\n
        \     },\n      {\n         \"rel\": \"last\",\n         \"type\": \"application/atom+xml\",\n
        \        \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[NOW-1DAY
        TO NOW]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312 -8.0592296, -66.2695312
        0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296, -66.2695312 -8.0592296)))\\\")&start=1&rows=100\"\n
        \     },\n      {\n         \"rel\": \"search\",\n         \"type\": \"application/opensearchdescription+xml\",\n
        \        \"href\": \"opensearch_description.xml\"\n      }\n   ],\n   \"xmlns\":
        \"http://www.w3.org/2005/Atom\",\n   \"opensearch:itemsPerPage\": \"100\",\n
        \  \"id\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[NOW-1DAY
        TO NOW]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312 -8.0592296, -66.2695312
        0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296, -66.2695312 -8.0592296)))\\\")\",\n
        \  \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"title\":
        \"Sentinels Scientific Data Hub search results for: (beginPosition:[NOW-1DAY
        TO NOW]) AND (footprint:\\\"Intersects(POLYGON ((-66.2695312 -8.0592296, -66.2695312
        0.7031074, -57.3046875 0.7031074, -57.3046875 -8.0592296, -66.2695312 -8.0592296)))\\\")\",\n
        \  \"updated\": \"2017-04-26T20:24:31.114Z\",\n   \"opensearch:totalResults\":
        \"2\",\n   \"entry\": [\n      {\n         \"summary\": \"Date: 2017-04-26T10:03:19.29Z,
        Instrument: SAR-C SAR, Mode: HH HV, Satellite: Sentinel-1, Size: 513.51 MB\",\n
        \        \"id\": \"c8f81494-e7fc-453e-b0db-9755eb65c8e3\",\n         \"title\":
        \"S1B_EW_GRDM_1SDH_20170426T100319_20170426T100434_005330_009579_C9B4\",\n
        \        \"str\": [\n            {\n               \"content\": \"NOMINAL\",\n
        \              \"name\": \"acquisitiontype\"\n            },\n            {\n
        \              \"content\": \"S1B_EW_GRDM_1SDH_20170426T100319_20170426T100434_005330_009579_C9B4.SAFE\",\n
        \              \"name\": \"filename\"\n            },\n            {\n               \"content\":
        \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\"
        xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\n
        \     <gml:LinearRing>\\n         <gml:coordinates>-8.455584,-64.402061 -7.635056,-68.073814
        -3.081734,-67.078369 -3.880462,-63.430904 -8.455584,-64.402061<\\/gml:coordinates>\\n
        \     <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\",\n
        \              \"name\": \"gmlfootprint\"\n            },\n            {\n
        \              \"content\": \"SAFE\",\n               \"name\": \"format\"\n
        \           },\n            {\n               \"content\": \"S1B_EW_GRDM_1SDH_20170426T100319_201704[...]
- request:
    body: q=%28beginPosition%3A%5BNOW-1DAY+TO+NOW%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON+%28%28-66.2695312+-8.0592296%2C+-66.2695312+0.7031074%2C+-57.3046875+0.7031074%2C+-57.3046875+-8.0592296%2C+-66.2695312+-8.0592296%29%29%29%22%29
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http:/[...]
[...]
