interactions:
- request:
    body: q=%28beginPosition%3A%5B2014-10-10T00%3A00%3A00Z+TO+2014-12-31T00%3A00%3A00Z%5D%29+AND+%28footprint%3A%22Intersects%28POLYGON%28%28-66.2695312+-8.0592296%2C-66.2695312+0.7031074%2C-57.3046875+0.7031074%2C-57.3046875+-8.0592296%2C-66.2695312+-8.0592296%29%29%29%22%29+AND+%28producttype%3AGRD%29
    headers:
      Authorization: [Basic cmVnaW86SzZzbTZz]
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2014-10-10T00:00:00Z\
        \ TO 2014-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (producttype:GRD)\",\n   \"author\": {\"name\": \"\
        Sentinels Scientific Data Hub\"},\n   \"title\": \"Sentinels Scientific Data\
        \ Hub search results for: (beginPosition:[2014-10-10T00:00:00Z TO 2014-12-31T00:00:00Z])\
        \ AND (footprint:\\\"Intersects(POLYGON((-66.2695312 -8.0592296,-66.2695312\
        \ 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312 -8.0592296)))\\\
        \") AND (producttype:GRD)\",\n   \"updated\": \"2017-01-20T19:41:12.834Z\"\
        ,\n   \"opensearch:totalResults\": \"0\",\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\"\
        : \"application/atom+xml\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2014-10-10T00:00:00Z\
        \ TO 2014-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (producttype:GRD)&start=0&rows=100\"\n      },\n\
        \      {\n         \"rel\": \"first\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2014-10-10T00:00:00Z\
        \ TO 2014-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (producttype:GRD)&start=0&rows=100\"\n      },\n\
        \      {\n         \"rel\": \"last\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=(beginPosition:[2014-10-10T00:00:00Z\
        \ TO 2014-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (producttype:GRD)&start=-1&rows=100\"\n      },\n\
        \      {\n         \"rel\": \"search\",\n         \"type\": \"application/opensearchdescription+xml\"\
        ,\n         \"href\": \"opensearch_description.xml\"\n      }\n   ],\n   \"\
        opensearch:startIndex\": \"0\",\n   \"subtitle\": \"Displaying 0 results.\
        \ Request done in 0.028 seconds.\",\n   \"xmlns\": \"http://www.w3.org/2005/Atom\"\
        ,\n   \"opensearch:Query\": {\n      \"searchTerms\": \"(beginPosition:[2014-10-10T00:00:00Z\
        \ TO 2014-12-31T00:00:00Z]) AND (footprint:\\\"Intersects(POLYGON((-66.2695312\
        \ -8.0592296,-66.2695312 0.7031074,-57.3046875 0.7031074,-57.3046875 -8.0592296,-66.2695312\
        \ -8.0592296)))\\\") AND (producttype:GRD)\",\n      \"role\": \"request\"\
        ,\n      \"startPage\": \"1\"\n   },\n   \"opensearch:itemsPerPage\": \"100\"\
        \n}}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
