interactions:
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+AND+footprint%3A%22Intersects%28POLYGON+%28%28-66.2695+-8.0592%2C+-66.2695+0.7031%2C+-57.3047+0.7031%2C+-57.3047+-8.0592%2C+-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[NOW-1DAY\
        \ TO NOW] AND footprint:\\\"Intersects(POLYGON ((-66.2695 -8.0592, -66.2695\
        \ 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\"\"\n \
        \  },\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"\
        link\": [\n      {\n         \"rel\": \"self\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] AND footprint:\\\"Intersects(POLYGON ((-66.2695 -8.0592, -66.2695\
        \ 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\"&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] AND footprint:\\\"Intersects(POLYGON ((-66.2695 -8.0592, -66.2695\
        \ 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\"&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] AND footprint:\\\"Intersects(POLYGON ((-66.2695 -8.0592, -66.2695\
        \ 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\"&start=23&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"search\",\n         \"href\": \"opensearch_description.xml\"\
        ,\n         \"type\": \"application/opensearchdescription+xml\"\n      }\n\
        \   ],\n   \"title\": \"Sentinels Scientific Data Hub search results for:\
        \ beginPosition:[NOW-1DAY TO NOW] AND footprint:\\\"Intersects(POLYGON ((-66.2695\
        \ -8.0592, -66.2695 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\
        \"\",\n   \"opensearch:startIndex\": \"0\",\n   \"opensearch:totalResults\"\
        : \"24\",\n   \"entry\": [\n      {\n         \"summary\": \"Date: 2017-06-09T09:47:22.713Z,\
        \ Instrument: SAR-C SAR, Mode: VV VH, Satellite: Sentinel-1, Size: 1.61 GB\"\
        ,\n         \"str\": [\n            {\n               \"name\": \"acquisitiontype\"\
        ,\n               \"content\": \"NOMINAL\"\n            },\n            {\n\
        \               \"name\": \"filename\",\n               \"content\": \"S1A_IW_GRDH_1SDV_20170609T094722_20170609T094747_016955_01C394_3E4B.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-4.289351,-60.699345 -3.793172,-62.949936\
        \ -2.286647,-62.624969 -2.777990,-60.376698 -4.289351,-60.699345<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        \n            },\n            {\n               \"name\": \"format\",\n  \
        \             \"content\": \"SAFE\"\n            },\n            {\n     \
        \          \"name\": \"identifier\",\n               \"content\": \"S1A_IW_GRDH_1SDV_20170609T094722[...]
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+AND+footprint%3A%22Intersects%28POLYGON+%28%28-66.2695+-8.0592%2C+-66.2695+0.7031%2C+-57.3047+0.7031%2C+-57.3047+-8.0592%2C+-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"[...]
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+AND+footprint%3A%22Intersects%28POLYGON+%28%28-66.2695+-8.0592%2C+-66.2695+0.7031%2C+-57.3047+0.7031%2C+-57.3047+-8.0592%2C+-66.2695+-8.0592%29%29%29%22+AND+polarisationmode%3AHH+AND+producttype%3AGRD
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[NOW-1DAY\
        \ TO NOW] AND footprint:\\\"Intersects(POLYGON ((-66.2695 -8.0592, -66.2695\
        \ 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\" AND polarisationmode:HH\
        \ AND producttype:GRD\"\n   },\n   \"xmlns\": \"http://www.w3.org/2005/Atom\"\
        ,\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"subtitle\"\
        : \"Displaying 0 results. Request done in 0.005 seconds.\",\n   \"link\":\
        \ [\n      {\n         \"rel\": \"self\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] AND footprint:\\\"Intersects(POLYGON ((-66.2695 -8.0592, -66.2695\
        \ 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\" AND polarisationmode:HH\
        \ AND producttype:GRD&start=0&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"first\",\n         \"hre[...]
