interactions:
- request:
    body: q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"type\"\
        : \"application/atom+xml\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100\"\
        \n      },\n      {\n         \"rel\": \"first\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100\"\
        \n      },\n      {\n         \"rel\": \"last\",\n         \"type\": \"application/atom+xml\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100\"\
        \n      },\n      {\n         \"rel\": \"search\",\n         \"type\": \"\
        application/opensearchdescription+xml\",\n         \"href\": \"opensearch_description.xml\"\
        \n      }\n   ],\n   \"xmlns\": \"http://www.w3.org/2005/Atom\",\n   \"opensearch:itemsPerPage\"\
        : \"100\",\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"\
        ,\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"title\"\
        : \"Sentinels Scientific Data Hub search results for: S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"\
        ,\n   \"updated\": \"2017-03-29T18:41:32.415Z\",\n   \"opensearch:totalResults\"\
        : \"1\",\n   \"entry\": {\n      \"summary\": \"Date: 2015-06-03T09:26:24.921Z,\
        \ Instrument: SAR-C SAR, Mode: HH, Satellite: Sentinel-1, Size: 10.54 KB\"\
        ,\n      \"id\": \"1f62a176-c980-41dc-b3a1-c735d660c910\",\n      \"title\"\
        : \"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"\
        ,\n      \"str\": [\n         {\n            \"content\": \"T\",\n       \
        \     \"name\": \"processed\"\n         },\n         {\n            \"content\"\
        : \"NOMINAL\",\n            \"name\": \"acquisitiontype\"\n         },\n \
        \        {\n            \"content\": \"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E.SAFE\"\
        ,\n            \"name\": \"filename\"\n         },\n         {\n         \
        \   \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>42.260288,-47.310867 42.298096,-47.558411\
        \ 42.476940,-47.508129 42.439095,-47.259823 42.260288,-47.310867<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        ,\n            \"name\": \"gmlfootprint\"\n         },\n         {\n     \
        \       \"content\": \"SAFE\",\n            \"name\": \"format\"\n       \
        \  },\n         {\n            \"content\": \"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_00620[...]
