interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=3&start=0&q=beginPosition%3A%5B%22NOW-1MONTH%22+TO+%2A%5D+identifier%3A%2AIW_GRDH%2A
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"NOW-1MONTH\" TO *]
        identifier:*IW_GRDH*","subtitle":"Displaying 0 to 2 of 10000 total results.
        Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*","opensearch:totalResults":"10000","opensearch:startIndex":"0","opensearch:itemsPerPage":"3","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*&start=0&rows=3&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*&start=0&rows=3&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*&start=3&rows=3&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*&start=15613&rows=3&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S1A_IW_GRDH_1SDV_20230310T075746_20230310T075811_047579_05B6B2_8312","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/Products(''Quicklook'')/$value"}],"id":"753c29d7-42c4-4ff9-a962-bfb4219816c6","summary":"Date:
        2023-03-10T07:57:46.067Z, Instrument: SAR-C SAR, Mode: VV VH, Satellite: Sentinel-1,
        Size: 1.59 GB","ondemand":"false","date":[{"name":"beginposition","content":"2023-03-10T07:57:46.067Z"},{"name":"endposition","content":"2023-03-10T07:58:11.066Z"},{"name":"ingestiondate","content":"2023-03-10T08:36:30.322Z"}],"int":[{"name":"missiondatatakeid","content":"374450"},{"name":"slicenumber","content":"5"},{"name":"orbitnumber","content":"47579"},{"name":"lastorbitnumber","content":"47579"},{"name":"relativeorbitnumber","content":"82"},{"name":"lastrelativeorbitnumber","content":"82"}],"str":[{"name":"filename","content":"S1A_IW_GRDH_1SDV_20230310T075746_20230310T075811_047579_05B6B2_8312.SAFE"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S1A_IW_GRDH_1SDV_20230310T075746_20230310T075811_047579_05B6B2_8312"},{"name":"size","content":"1.59
        GB"},{"name":"status","content":"ARCHIVED"},{"name":"timeliness","content":"NRT-3h"},{"name":"sensoroperationalmode","content":"IW"},{"name":"swathidentifier","content":"IW"},{"name":"orbitdirection","content":"DESCENDING"},{"name":"producttype","content":"GRD"},{"name":"platformname","content":"Sentinel-1"},{"name":"platformidentifier","content":"2014-016A"},{"name":"instrumentname","content":"Synthetic
        Aperture Radar (C-band)"},{"name":"instrumentshortname","content":"SAR-C SAR"},{"name":"productclass","content":"S"},{"name":"polarisationmode","content":"VV
        VH"},{"name":"acquisitiontype","content":"NOMINAL"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>37.054382,-27.192364
        37.453793,-30.028040 38.955353,-29.718151 38.557442,-26.823713 37.054382,-27.192364</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"footprint","content":"MULTIPOLYGON
        (((-27.192364 37.054382, -26.823713 38.557442, -29.718151 38.955353, -30.02804
        37.453793, -27.192364 37.054382)))"},{"name":"uuid","content":"753c29d7-42c4-4ff9-a962-bfb4219816c6"}]},{"title":"S1A_IW_GRDH_1SDV_20230310T075721_20230310T0757[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('753c29d7-42c4-4ff9-a962-bfb4219816c6')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/$value"},"Id":"753c29d7-42c4-4ff9-a962-bfb4219816c6","Name":"S1A_IW_GRDH_1SDV_20230310T075746_20230310T075811_047579_05B6B2_8312","ContentType":"application/octet-stream","ContentLength":"841709916","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1678437618451)\/","IngestionDate":"\/Date(1678437390322)\/","ModificationDate":"\/Date(1678437618451)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1678435066067)\/","End":"\/Date(1678435091066)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"69bdce1998ccc02f56193290d38322e9"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>37.054382,-27.192364
        37.453793,-30.028040 38.955353,-29.718151 38.557442,-26.823713 37.054382,-27.192364</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: ''
[...]
