interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=3&start=0&q=beginPosition%3A%5B%22NOW-1MONTH%22+TO+%2A%5D+identifier%3A%2AIW_GRDH%2A
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"NOW-1MONTH\" TO *]
        identifier:*IW_GRDH*","subtitle":"Displaying 0 to 2 of 10000 total results.
        Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*","opensearch:totalResults":"10000","opensearch:startIndex":"0","opensearch:itemsPerPage":"3","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*&start=0&rows=3&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*&start=0&rows=3&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*&start=3&rows=3&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] identifier:*IW_GRDH*&start=26477&rows=3&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S1A_IW_GRDH_1SDV_20210704T171954_20210704T172021_038630_048EF1_D8EF","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')/Products(''Quicklook'')/$value"}],"id":"4493e38b-4580-4d48-b972-2c348420dd40","summary":"Date:
        2021-07-04T17:19:54.132Z, Instrument: SAR-C SAR, Mode: VV VH, Satellite: Sentinel-1,
        Size: 1.78 GB","ondemand":"false","date":[{"name":"beginposition","content":"2021-07-04T17:19:54.132Z"},{"name":"endposition","content":"2021-07-04T17:20:21.431Z"},{"name":"ingestiondate","content":"2021-07-04T19:54:16.597Z"}],"int":[{"name":"missiondatatakeid","content":"298737"},{"name":"orbitnumber","content":"38630"},{"name":"lastorbitnumber","content":"38630"},{"name":"relativeorbitnumber","content":"58"},{"name":"lastrelativeorbitnumber","content":"58"},{"name":"slicenumber","content":"8"}],"str":[{"name":"filename","content":"S1A_IW_GRDH_1SDV_20210704T171954_20210704T172021_038630_048EF1_D8EF.SAFE"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S1A_IW_GRDH_1SDV_20210704T171954_20210704T172021_038630_048EF1_D8EF"},{"name":"size","content":"1.78
        GB"},{"name":"status","content":"ARCHIVED"},{"name":"timeliness","content":"Fast-24h"},{"name":"sensoroperationalmode","content":"IW"},{"name":"swathidentifier","content":"IW"},{"name":"orbitdirection","content":"ASCENDING"},{"name":"producttype","content":"GRD"},{"name":"platformname","content":"Sentinel-1"},{"name":"platformidentifier","content":"2014-016A"},{"name":"instrumentname","content":"Synthetic
        Aperture Radar (C-band)"},{"name":"instrumentshortname","content":"SAR-C SAR"},{"name":"productclass","content":"S"},{"name":"polarisationmode","content":"VV
        VH"},{"name":"acquisitiontype","content":"NOMINAL"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-26.000120,17.934324
        -25.406389,20.428576 -27.033045,20.916525 -27.635944,18.389595 -26.000120,17.934324</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"footprint","content":"MULTIPOLYGON
        (((18.389595 -27.635944, 20.916525 -27.033045, 20.428576 -25.406389, 17.934324
        -26.00012, 18.389595 -27.635944)))"},{"name":"uuid","content":"4493e38b-4580-4d48-b972-2c348420dd40"}]},{"title":"S1B_IW_GRDH_1SDV_20210704T150109_20210704T1501[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('4493e38b-4580-4d48-b972-2c348420dd40')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')/$value"},"Id":"4493e38b-4580-4d48-b972-2c348420dd40","Name":"S1A_IW_GRDH_1SDV_20210704T171954_20210704T172021_038630_048EF1_D8EF","ContentType":"application/octet-stream","ContentLength":"910229337","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1625428562127)\/","IngestionDate":"\/Date(1625428456597)\/","ModificationDate":"\/Date(1625428562127)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1625419194132)\/","End":"\/Date(1625419221431)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"d4ae1ce660f2075c366f6e66ca4480c0"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-26.000120,17.934324
        -25.406389,20.428576 -27.033045,20.916525 -27.635944,18.389595 -26.000120,17.934324</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4493e38b-4580-4d48-b972-2c348420dd40'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
[...]
