interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products?$format=json&$top=23&$orderby=ContentLength&$filter=Online%20eq%20true
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11de4d5f-689e-4a62-98b2-6fcd529f74e7'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11de4d5f-689e-4a62-98b2-6fcd529f74e7'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11de4d5f-689e-4a62-98b2-6fcd529f74e7'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11de4d5f-689e-4a62-98b2-6fcd529f74e7'')/$value"},"Id":"11de4d5f-689e-4a62-98b2-6fcd529f74e7","Name":"S3B_OL_2_LFR____20190919T005805_20190919T010105_20200219T124123_0179_030_088_1980_LR1_R_NT_002","ContentType":"application/octet-stream","ContentLength":"0","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1587102082140)\/","IngestionDate":"\/Date(1586883011496)\/","ModificationDate":"\/Date(1619905206901)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1568854684531)\/","End":"\/Date(1568854864531)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"d41d8cd98f00b204e9800998ecf8427e"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>52.4767,131.488
        52.4215,132.502 52.351,133.516 52.2724,134.521 52.1861,135.514 52.0912,136.505
        51.9871,137.501 51.8729,138.5 51.7548,139.484 51.6261,140.462 51.4841,141.423
        51.3397,142.388 51.1871,143.349 51.0256,144.316 50.8573,145.264 50.6817,146.203
        50.5026,147.125 50.312,148.051 50.1167,148.969 49.91,149.882 52.4574,151.367
        54.9906,153.024 57.5005,154.889 59.9813,157.013 60.2379,155.88 60.4822,154.723
        60.7177,153.557 60.9378,152.39 61.1528,151.189 61.3566,149.974 61.551,148.726
        61.7332,147.477 61.9027,146.221 62.0657,144.969 62.2131,143.679 62.3454,142.382
        62.4688,141.074 62.5798,139.745 62.6773,138.419 62.7645,137.047 62.8369,135.695
        62.896,134.346 62.9355,133.006 60.3219,132.637 57.7066,132.261 55.09,131.877
        52.4767,131.488</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11de4d5f-689e-4a62-98b2-6fcd529f74e7'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11de4d5f-689e-4a62-98b2-6fcd529f74e7'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11de4d5f-689e-4a62-98b2-6fcd529f74e7'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11de4d5f-689e-4a62-98b2-6fcd529f74e7'')/Class"}}},{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''635a21d9-2c6a-4379-8541-9d012ad59dca'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''635a21d9-2c6a-4379-8541-9d012ad59dca'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''635a21d9-2c6a-437[...]
