interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products?$format=json&$top=3&$orderby=ContentLength&$filter=Online%20eq%20false
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/$value"},"Id":"fdf6b29c-da32-4923-a543-270c89a3dd62","Name":"S1B_IW_RAW__0SSV_20170329T103209_20170329T103242_004922_0089AD_2DDD","ContentType":"application/octet-stream","ContentLength":"4828","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1559032949166)\/","IngestionDate":"\/Date(1490792296140)\/","ModificationDate":"\/Date(1490792337187)\/","EvictionDate":null,"Online":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1490783529963)\/","End":"\/Date(1490783562363)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"B8BD328A55FAB0946DD079164671AFD5"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">   <gml:outerBoundaryIs>      <gml:LinearRing>         <gml:coordinates>11.1583,-71.9768
        9.2012,-72.3679 8.9074,-70.1565 10.8685,-69.7517 11.1583,-71.9768 11.1583,-71.9768</gml:coordinates>      </gml:LinearRing>   </gml:outerBoundaryIs></gml:Polygon>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/Class"}}},{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''32a1ae3f-fbd7-4601-a9c7-5f7ea6674611'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''32a1ae3f-fbd7-4601-a9c7-5f7ea6674611'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''32a1ae3f-fbd7-460[...]
