interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=15&start=0&q=beginPosition%3A%5B%22NOW-1MONTH%22+TO+%2A%5D+size%3A%2F.%2BKB%2F
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"NOW-1MONTH\" TO *]
        size:/.+KB/","subtitle":"Displaying 0 to 14 of 75 total results. Request done
        in ... seconds.","updated":"...","author":{"name":"Sentinels Scientific Data
        Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] size:/.+KB/","opensearch:totalResults":"75","opensearch:startIndex":"0","opensearch:itemsPerPage":"15","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"NOW-1MONTH\"
        TO *] size:/.+KB/","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] size:/.+KB/&start=0&rows=15&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] size:/.+KB/&start=0&rows=15&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] size:/.+KB/&start=15&rows=15&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1MONTH\"
        TO *] size:/.+KB/&start=74&rows=15&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3A_SR_1_SRA____20230309T204558_20230309T204623_20230309T225028_0024_096_214______PS1_O_NR_004","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')/Products(''Quicklook'')/$value"}],"id":"b1d8a9ab-6072-4ecd-bc44-8d64419d71cb","summary":"Date:
        2023-03-09T20:45:58.338Z, Instrument: SRAL, Satellite: Sentinel-3, Size: 995.77
        KB","ondemand":"false","date":[{"name":"beginposition","content":"2023-03-09T20:45:58.338Z"},{"name":"endposition","content":"2023-03-09T20:46:23.31Z"},{"name":"creationdate","content":"2023-03-09T22:50:28Z"},{"name":"ingestiondate","content":"2023-03-09T23:04:10.307Z"}],"int":[{"name":"lrmpercentage","content":"0"},{"name":"sarpercentage","content":"100"},{"name":"closedseapercentage","content":"0"},{"name":"continentalicepercentage","content":"0"},{"name":"landpercentage","content":"0"},{"name":"openseapercentage","content":"100"},{"name":"relativeorbitnumber","content":"214"},{"name":"orbitnumber","content":"36762"}],"str":[{"name":"filename","content":"S3A_SR_1_SRA____20230309T204558_20230309T204623_20230309T225028_0024_096_214______PS1_O_NR_004.SEN3"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S3A_SR_1_SRA____20230309T204558_20230309T204623_20230309T225028_0024_096_214______PS1_O_NR_004"},{"name":"instrumentshortname","content":"SRAL"},{"name":"sensoroperationalmode","content":"Earth
        Observation"},{"name":"instrumentname","content":"Sar Radar ALtimeter"},{"name":"mode","content":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('b1d8a9ab-6072-4ecd-bc44-8d64419d71cb')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')/$value"},"Id":"b1d8a9ab-6072-4ecd-bc44-8d64419d71cb","Name":"S3A_SR_1_SRA____20230309T204558_20230309T204623_20230309T225028_0024_096_214______PS1_O_NR_004","ContentType":"application/octet-stream","ContentLength":"599540","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1678403102654)\/","IngestionDate":"\/Date(1678403050307)\/","ModificationDate":"\/Date(1678403102654)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1678394758338)\/","End":"\/Date(1678394783310)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"1495b98f859949929b14c1b7cd62dffc"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>63.138,1.21834
        63.9204,0.535948 64.6998,-0.182113 64.6992,-0.185998 63.9197,0.532157 63.1374,1.21463
        63.138,1.21834</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b1d8a9ab-6072-4ecd-bc44-8d64419d71cb'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: ''
[...]
