interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products?$format=json&$top=23&$orderby=ContentLength&$filter=Online%20eq%20false
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''7ed8d155-8d6a-4baa-b608-237fd26dcb31'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''7ed8d155-8d6a-4baa-b608-237fd26dcb31'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''7ed8d155-8d6a-4baa-b608-237fd26dcb31'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''7ed8d155-8d6a-4baa-b608-237fd26dcb31'')/$value"},"Id":"7ed8d155-8d6a-4baa-b608-237fd26dcb31","Name":"S1A_IW_RAW__0SDV_20170311T220927_20170311T220954_015650_019BE7_ED1E","ContentType":"application/octet-stream","ContentLength":"0","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1489290960267)\/","IngestionDate":"\/Date(1489290988283)\/","ModificationDate":"\/Date(1605874138375)\/","EvictionDate":null,"Online":false,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1489270167269)\/","End":"\/Date(1489270194670)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"d41d8cd98f00b204e9800998ecf8427e"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">   <gml:outerBoundaryIs>      <gml:LinearRing>         <gml:coordinates>-8.3581,111.0711
        -10.0039,110.6847 -10.3564,112.9037 -8.7040,113.2794 -8.3581,111.0711 -8.3581,111.0711</gml:coordinates>      </gml:LinearRing>   </gml:outerBoundaryIs></gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''7ed8d155-8d6a-4baa-b608-237fd26dcb31'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''7ed8d155-8d6a-4baa-b608-237fd26dcb31'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''7ed8d155-8d6a-4baa-b608-237fd26dcb31'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''7ed8d155-8d6a-4baa-b608-237fd26dcb31'')/Class"}}},{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''63d1532b-a085-4bf0-a471-4cfca92714fe'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''63d1532b-a085-4bf0-a471-4cfca92714fe'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''63d1532b-a085-4bf[...]
