interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products?$format=json&$top=6&$filter=Online%20eq%20false%20and%20CreationDate%20lt%20datetime'2016-01-01T00:00:00.000'%20and%20not%20startswith(Name,%20'S3')%20and%20ContentLength%20ne%200
  response:
    body:
      string: '{"d":{"results":[{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b44dda15-562b-4e07-a092-917b177f95c2'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b44dda15-562b-4e07-a092-917b177f95c2'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b44dda15-562b-4e07-a092-917b177f95c2'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b44dda15-562b-4e07-a092-917b177f95c2'')/$value"},"Id":"b44dda15-562b-4e07-a092-917b177f95c2","Name":"S1A_IW_GRDH_1SDV_20141205T060244_20141205T060309_003580_00439E_FD92","ContentType":"application/octet-stream","ContentLength":"1701943846","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1417774539514)\/","IngestionDate":"\/Date(1417774539514)\/","ModificationDate":"\/Date(1589506101340)\/","EvictionDate":null,"Online":false,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1417759364263)\/","End":"\/Date(1417759389262)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"142d03909f0d96a2c8a0da1d277b5b00"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">   <gml:outerBoundaryIs>      <gml:LinearRing>         <gml:coordinates>63.185043,8.273368
        63.626335,3.273666 65.113503,3.826569 64.659943,9.094319 63.185043,8.273368</gml:coordinates>      </gml:LinearRing>   </gml:outerBoundaryIs></gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b44dda15-562b-4e07-a092-917b177f95c2'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b44dda15-562b-4e07-a092-917b177f95c2'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b44dda15-562b-4e07-a092-917b177f95c2'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b44dda15-562b-4e07-a092-917b177f95c2'')/Class"}}},{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''d6279640-f001-4250-8f25-4da119be8063'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''d6279640-f001-4250-8f25-4da119be8063'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''d6279640-f001-425[...]
