interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=15&start=0&q=beginPosition%3A%5B%2A+TO+%222017-01-01T00%3A00%3A00Z%22%5D+size%3A%2F.%2BKB%2F
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[* TO \"2017-01-01T00:00:00Z\"]
        size:/.+KB/","subtitle":"Displaying 0 to 14 of 167 total results. Request
        done in ... seconds.","updated":"...","author":{"name":"Sentinels Scientific
        Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2017-01-01T00:00:00Z\"] size:/.+KB/","opensearch:totalResults":"167","opensearch:startIndex":"0","opensearch:itemsPerPage":"15","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[*
        TO \"2017-01-01T00:00:00Z\"] size:/.+KB/","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2017-01-01T00:00:00Z\"] size:/.+KB/&start=0&rows=15&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2017-01-01T00:00:00Z\"] size:/.+KB/&start=0&rows=15&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2017-01-01T00:00:00Z\"] size:/.+KB/&start=15&rows=15&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2017-01-01T00:00:00Z\"] size:/.+KB/&start=166&rows=15&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3A_SR_1_SRA____20160728T091652_20160728T091709_20180122T085212_0017_007_036______LR1_R_NT_003","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')/Products(''Quicklook'')/$value"}],"id":"753273dd-b3bc-408e-b663-6f43bf6dd065","summary":"Date:
        2016-07-28T09:16:52.383Z, Instrument: SRAL, Satellite: Sentinel-3, Size: 740.31
        KB","ondemand":"false","date":[{"name":"beginposition","content":"2016-07-28T09:16:52.383Z"},{"name":"endposition","content":"2016-07-28T09:17:09.497Z"},{"name":"creationdate","content":"2018-01-22T08:52:12Z"},{"name":"ingestiondate","content":"2018-11-10T14:26:38.062Z"}],"int":[{"name":"landpercentage","content":"0"},{"name":"closedseapercentage","content":"0"},{"name":"continentalicepercentage","content":"0"},{"name":"openseapercentage","content":"100"},{"name":"lrmpercentage","content":"0"},{"name":"sarpercentage","content":"100"},{"name":"orbitnumber","content":"2318"},{"name":"relativeorbitnumber","content":"35"},{"name":"lastorbitnumber","content":"2319"},{"name":"lastrelativeorbitnumber","content":"36"}],"str":[{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>80.34648854150973,106.9072536837596
        80.3913904611721,103.31466038440477 80.3997081624353,99.71101189114715 80.65556675668984,99.68379174357108
        80.91104919660295,99.65509617511184 81.1662806360787,99.62478545154897 81.421385385011,99.59270189232318
        81.67648731577329,99.55866685865836 81.93171026527703,99.52247711554405 82.18717843589997,99.48390041000148
        82.44301679851928,99.44267006106584 82.69935150085186,99.39847829354947 82.68843979280823,104.1262180535556
    [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('753273dd-b3bc-408e-b663-6f43bf6dd065')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')/$value"},"Id":"753273dd-b3bc-408e-b663-6f43bf6dd065","Name":"S3A_SR_1_SRA____20160728T091652_20160728T091709_20180122T085212_0017_007_036______LR1_R_NT_003","ContentType":"application/octet-stream","ContentLength":"759146","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1542167380238)\/","IngestionDate":"\/Date(1541859998062)\/","ModificationDate":"\/Date(1629266757063)\/","EvictionDate":null,"Online":false,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1469697412383)\/","End":"\/Date(1469697429497)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"d87454d2e51388a36cca92f1e693a755"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>80.34648854150973,106.9072536837596
        80.3913904611721,103.31466038440477 80.3997081624353,99.71101189114715 80.65556675668984,99.68379174357108
        80.91104919660295,99.65509617511184 81.1662806360787,99.62478545154897 81.421385385011,99.59270189232318
        81.67648731577329,99.55866685865836 81.93171026527703,99.52247711554405 82.18717843589997,99.48390041000148
        82.44301679851928,99.44267006106584 82.69935150085186,99.39847829354947 82.68843979280823,104.1262180535556
        82.62983617660115,108.79602892714855 82.37579946963653,108.52989216380611
        82.12210705643189,108.28129631169354 81.86864837057487,108.04845155251355
        81.61531197580732,107.82980198165397 81.361985483756,107.62398855211075 81.10855541673071,107.42981882138912
        80.85490702496352,107.24624209079212 80.60092406472492,107.07232885015742
        80.34648854150973,106.9072536837596</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753273dd-b3bc-408e-b663-6f43bf6dd065'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: ''
[...]
