interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('f30b2a6a-b0c1-49f1-INVALID-e10c3cf06101')?$format=json
  response:
    body:
      string: '{"error":{"code":null,"message":{"lang":"en","value":"Invalid key (f30b2a6a-b0c1-49f1-INVALID-e10c3cf06101)
        to access Products"}}}'
    headers:
      cause-message:
      - 'InvalidKeyException : Invalid key (f30b2a6a-b0c1-49f1-INVALID-e10c3cf06101)
        to access Products'
      content-type:
      - application/json
      dataserviceversion:
      - '1.0'
    status:
      code: 404
      message: Not Found
version: 1
