interactions:
- request:
    body: q=beginPosition%3A%5B%222015-12-19T00%3A00%3A00Z%22+TO+%222015-12-28T00%3A00%3A00Z%22%5D+platformname%3A%22Sentinel-2%22+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=5&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-28T00:00:00Z\"] platformname:\"Sentinel-2\" footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        0 to 4 of 89 total results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-28T00:00:00Z\"] platformname:\"Sentinel-2\" footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"89","opensearch:startIndex":"0","opensearch:itemsPerPage":"5","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-28T00:00:00Z\"] platformname:\"Sentinel-2\" footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-28T00:00:00Z\"] platformname:\"Sentinel-2\" footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=5&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-28T00:00:00Z\"] platformname:\"Sentinel-2\" footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=5&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-28T00:00:00Z\"] platformname:\"Sentinel-2\" footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=5&rows=5&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-28T00:00:00Z\"] platformname:\"Sentinel-2\" footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=88&rows=5&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2A_MSIL1C_20151223T142942_N0201_R053_T20MNC_20151223T143132","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''bd1204f7-71ba-4b67-a5f4-df16fbb10138'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''bd1204f7-71ba-4b67-a5f4-df16fbb10138'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''bd1204f7-71ba-4b67-a5f4-df16fbb10138'')/Products(''Quicklook'')/$value"}],"id":"bd1204f7-71ba-4b67-a5f4-df16fbb10138","summary":"Date:
        2015-12-23T14:29:42.03Z, Instrument: MSI, Satellite: Sentinel-2, Size: 425.08
        MB","ondemand":"false","date":[{"name":"datatakesensingstart","content":"2015-12-23T14:29:42.03Z"},{"name":"beginposition","content":"2015-12-23T14:29:42.03Z"},{"name":"endposition","content":"2015-12-23T14:29:42.03Z"},{"name":"ingestiondate","content":"2019-01-10T00:03:26.928Z"}],"int":[{"name":"orbitnumber","content":"2624"},{"name":"relativeorbitnumber","content":"53"}],"double":{"name":"cloudcoverpercentage","content":"34.0"},"str":[{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-1.80927576,-63.00017982
        -2.8026544,-63.00017995 -2.80223586,-62.01231066 -1.80900568,-62.01299526
        -1.80927576,-63.00017982 -1.80927576,-63.00017982</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"format","content":"SAFE"},{"name":"instrumentshortname","content":"MSI"},{"name":"sensoroperationalmode","content":"INS-NOBS"},{"name":"instrumentname","content":"Multi-Spectral
        Instrument"},{"name":"footprint","content":"MULTIPOL[...]
