interactions:
- request:
    body: q=beginposition%3A%5B2017-05-30T00%3A00%3A00Z+TO+2017-05-31T00%3A00%3A00Z%2B1DAY%5D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=0&start=0
  response:
    body: {string: "<!DOCTYPE html><html><head><title>Apache Tomcat/8.0.36 - Error\
        \ report</title><style type=\"text/css\">H1 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:22px;}\
        \ H2 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:16px;}\
        \ H3 {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;font-size:14px;}\
        \ BODY {font-family:Tahoma,Arial,sans-serif;color:black;background-color:white;}\
        \ B {font-family:Tahoma,Arial,sans-serif;color:white;background-color:#525D76;}\
        \ P {font-family:Tahoma,Arial,sans-serif;background:white;color:black;font-size:12px;}A\
        \ {color : black;}A.name {color : black;}.line {height: 1px; background-color:\
        \ #525D76; border: none;}</style> </head><body><h1>HTTP Status 500 - Server\
        \ returned HTTP response code: 400 for URL: http://localhost:30333//solr/dhus/select?q=beginposition:[2017-05-30T00:00:00Z%20TO%202017-05-31T00:00:00Z+1DAY]&amp;wt=xslt&amp;tr=opensearch_atom.xsl&amp;dhusLongName=Sentinels+Scientific+Data+Hub&amp;dhusServer=https%3A%2F%2Fscihub.copernicus.eu%2Fapihub%2F&amp;originalQuery=beginposition%3A%5B2017-05-30T00%3A00%3A00Z+TO+2017-05-31T00%3A00%3A00Z%2B1DAY%5D&amp;rows=0&amp;start=0&amp;sort=ingestiondate+desc</h1><div\
        \ class=\"line\"></div><p><b>type</b> Exception report</p><p><b>message</b>\
        \ <u>Server returned HTTP response code: 400 for URL: http://localhost:30333//solr/dhus/select?q=beginposition:[2017-05-30T00:00:00Z%20TO%202017-05-31T00:00:00Z+1DAY]&amp;wt=xslt&amp;tr=opensearch_atom.xsl&amp;dhusLongName=Sentinels+Scientific+Data+Hub&amp;dhusServer=https%3A%2F%2Fscihub.copernicus.eu%2Fapihub%2F&amp;originalQuery=beginposition%3A%5B2017-05-30T00%3A00%3A00Z+TO+2017-05-31T00%3A00%3A00Z%2B1DAY%5D&amp;rows=0&amp;start=0&amp;sort=ingestiondate+desc</u></p><p><b>description</b>\
        \ <u>The server encountered an internal error that prevented it from fulfilling\
        \ this request.</u></p><p><b>exception</b></p><pre>java.io.IOException: Server\
        \ returned HTTP response code: 400 for URL: http://localhost:30333//solr/dhus/select?q=beginposition:[2017-05-30T00:00:00Z%20TO%202017-05-31T00:00:00Z+1DAY]&amp;wt=xslt&amp;tr=opensearch_atom.xsl&amp;dhusLongName=Sentinels+Scientific+Data+Hub&amp;dhusServer=https%3A%2F%2Fscihub.copernicus.eu%2Fapihub%2F&amp;originalQuery=beginposition%3A%5B2017-05-30T00%3A00%3A00Z+TO+2017-05-31T00%3A00%3A00Z%2B1DAY%5D&amp;rows=0&amp;start=0&amp;sort=ingestiondate+desc\n\
    [...]
- request:
    body: q=beginposition%3A%5B2017-05-30T00%3A00%3A00Z+TO+2017-05-31T00%3A00%3A00Z%252B1DAY%5D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=0&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : 1,\n      \"role\": \"request\",\n      \"searchTerms\": \"beginposition:[2017-05-30T00:00:00Z\
        \ TO 2017-05-31T00:00:00Z%2B1DAY]\"\n   },\n   \"xmlns\": \"http://www.w3.org/2005/Atom\"\
        ,\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"subtitle\"\
        : \"Displaying 0 to -1 of 15918 total results. Request done in 0 seconds.\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"href\"\
        : \"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z\
        \ TO 2017-05-31T00:00:00Z%2B1DAY]&start=0&rows=0\",\n         \"type\": \"\
        application/atom+xml\"\n      },\n      {\n         \"rel\": \"first\",\n\
        \         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z\
        \ TO 2017-05-31T00:00:00Z%2B1DAY]&start=0&rows=0\",\n         \"type\": \"\
        application/atom+xml\"\n      },\n      {\n         \"rel\": \"next\",\n \
        \        \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z\
        \ TO 2017-05-31T00:00:00Z%2B1DAY]&start=NaN&rows=0\",\n         \"type\":\
        \ \"application/atom+xml\"\n      },\n      {\n         \"rel\": \"last\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z\
        \ TO 2017-05-31T00:00:00Z%2B1DAY]&start=15917&rows=0\",\n         \"type\"\
        : \"application/atom+xml\"\n      },\n      {\n         \"rel\": \"search\"\
        ,\n         \"href\": \"opensearch_description.xml\",\n         \"type\":\
        \ \"application/opensearchdescription+xml\"\n      }\n   ],\n   \"opensearch:itemsPerPage\"\
        : 0,\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z\
        \ TO 2017-05-31T00:00:00Z%2B1DAY]\",\n   \"title\": \"Sentinels Scientific\
        \ Data Hub search results for: beginposition:[2017-05-30T00:00:00Z TO 2017-05-31T00:00:00Z%2B1DAY]\"\
        ,\n   \"opensearch:startIndex\": 0,\n   \"updated\": \"2017-06-19T11:34:42.818Z\"\
        ,\n   \"opensearch:totalResults\": 15918,\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        \n}}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
