interactions:
- request:
    body: q=beginPosition%3A%5B%2A+TO+%222020-01-01T00%3A00%3A00Z%22%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=1&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[* TO \"2020-01-01T00:00:00Z\"]
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying 0 to
        0 of 102061 total results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"102061","opensearch:startIndex":"0","opensearch:itemsPerPage":"1","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=1&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=1&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=1&rows=1&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=102060&rows=1&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":{"title":"S3B_SL_1_RBT____20191113T013455_20191113T013755_20200811T121820_0179_032_102_5760_LR1_R_NT_004","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''52b35ddd-8ff7-43f4-abdc-876531a002b5'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''52b35ddd-8ff7-43f4-abdc-876531a002b5'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''52b35ddd-8ff7-43f4-abdc-876531a002b5'')/Products(''Quicklook'')/$value"}],"id":"52b35ddd-8ff7-43f4-abdc-876531a002b5","summary":"Date:
        2019-11-13T01:34:54.62Z, Instrument: SLSTR, Satellite: Sentinel-3, Size: 341.75
        MB","ondemand":"false","date":[{"name":"beginposition","content":"2019-11-13T01:34:54.62Z"},{"name":"endposition","content":"2019-11-13T01:37:54.62Z"},{"name":"creationdate","content":"2020-08-11T00:18:20Z"},{"name":"ingestiondate","content":"2020-12-12T19:19:56.501Z"}],"int":[{"name":"orbitnumber","content":"8074"},{"name":"relativeorbitnumber","content":"102"}],"str":[{"name":"ecmwf","content":"ANALYSIS"},{"name":"productlevel","content":"L1"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-4.99862,-44.6652
        -5.1063,-45.1124 -5.20623,-45.5622 -5.31281,-46.0109 -5.43039,-46.4534 -5.52858,-46.9025
        -5.64431,-47.348 -5.74378,-47.8005 -5.84622,-48.2521 -5.95637,-48.6932 -6.06005,-49.1406
        -6.16732,-49.5965 -6.26661,-50.0428 -6.37162,-50.4868 -6.47389,-50.9414 -6.57528,-51.3951
        -6.67617,-51.8377 -6.78546,-52.2909 -6.88482,-52.74 -6.98277,-53.1859 -7.0819,-53.6403
        -7.1902,-54.094 -7.28742,-54.5437 -7.38564,-54.9979 -7.48804,-55.4413 -7.58322,-55.8935[...]
[...]
