interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('091f9a7a-73e6-4658-b559-2d5801797fd5')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''091f9a7a-73e6-4658-b559-2d5801797fd5'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''091f9a7a-73e6-4658-b559-2d5801797fd5'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''091f9a7a-73e6-4658-b559-2d5801797fd5'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''091f9a7a-73e6-4658-b559-2d5801797fd5'')/$value"},"Id":"091f9a7a-73e6-4658-b559-2d5801797fd5","Name":"S2A_MSIL1C_20180326T203051_N0206_R114_T09XWB_20180326T234951","ContentType":"application/octet-stream","ContentLength":"164574241","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1522128730198)\/","IngestionDate":"\/Date(1522128523660)\/","ModificationDate":"\/Date(1619803138564)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1522096251026)\/","End":"\/Date(1522096251026)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"472a0a494024f250ae7fef9f171e4ca8"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>72.89250305314366,-127.10947
        72.97069393899238,-126.97693 73.10461085419054,-126.74628 73.23827714389587,-126.51265
        73.37173051090146,-126.27623 73.50487989600694,-126.03612 73.63783886905108,-125.79248
        73.77050383170085,-125.54414 73.80945333531135,-125.47023 72.880581640185,-125.65718
        72.89250305314366,-127.10947</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''091f9a7a-73e6-4658-b559-2d5801797fd5'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''091f9a7a-73e6-4658-b559-2d5801797fd5'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''091f9a7a-73e6-4658-b559-2d5801797fd5'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''091f9a7a-73e6-4658-b559-2d5801797fd5'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('091f9a7a-73e6-4658-b559-2d5801797fd5')/$value
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline;filename="S2A_MSIL1C_20180326T203051_N0206_R114_T09XWB_20180326T234951.zip"
      content-range:
      - bytes 0-164574240/164574241
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - 472a0a494024f250ae7fef9f171e4ca8
      last-modified:
      - Tue, 27 Mar 2018 05:32:10 UTC
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('d8340134-878f-4891-ba4f-4df54f1e3ab4')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A.zip"
      content-range:
      - bytes 0-213690/213691
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - 9ae4d76b566f94af54a2ef14c8709da9
      last-modified:
      - Tue, 17 Nov 2015 23:28:01 UTC
    status:
      code: 200
      message: OK
version: 1
