interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-02T00%3A00%3A00Z%5D+platformname%3ASentinel-3+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        22 results. Request done in 2.507 seconds.","updated":"2019-04-22T23:15:50.175Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"22","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=21&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3A_SR_1_SRA_BS_20161201T131246_20161201T140315_20180124T073528_3029_011_295______LR1_R_NT_003","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''ca6b032f-b7ad-4c72-9952-b7e3ffbcf873'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''ca6b032f-b7ad-4c72-9952-b7e3ffbcf873'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''ca6b032f-b7ad-4c72-9952-b7e3ffbcf873'')/Products(''Quicklook'')/$value"}],"id":"ca6b032f-b7ad-4c72-9952-b7e3ffbcf873","summary":"Date:
        2016-12-01T13:12:45.51Z, Instrument: SRAL, Mode: , Satellite: Sentinel-3,
        Size: 1.74 GB","date":[{"name":"beginposition","content":"2016-12-01T13:12:45.51Z"},{"name":"endposition","content":"2016-12-01T14:03:15.491Z"},{"name":"creationdate","content":"2018-01-24T07:35:28Z"},{"name":"ingestiondate","content":"2019-04-13T01:50:20.031Z"}],"int":[{"name":"landpercentage","content":"31"},{"name":"closedseapercentage","content":"0"},{"name":"continentalicepercentage","content":"9"},{"name":"openseapercentage","content":"59"},{"name":"lrmpercentage","content":"0"},{"name":"sarpercentage","content":"100"},{"name":"orbitnumber","content":"4118"},{"name":"relativeorbitnumber","content":"295"}],"str":[{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>81.4238,43.1684
        81.2807,31.1071 80.7853,19.877 79.9897,10.0814 78.9585,1.88137 77.7511,-4.85321
        76.4142,-10.364 74.9824,-14.8974 73.4801,-18.6638 71.9248,-21.8301 70.3291,-24.5245
        68.7018,-26.8447 67.0497,-28.8653 65.3775,-30.6433 63.6891,-32.2231 61.9872,-33.639
        60.2741,-34.9185 58.5515,-36.0832 56.8208,-37.1506 55.0832,-38.135 53.3394,-39.0481
        51.5904,-39.8995 49.8366,-40.6973 48.0787,-41.4482 46.317,-42.158 44.5519,-42.8316
        42.7838,-43.4731 41.0[...]
