interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-30T00%3A00%3A00Z%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=15&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        0 to 14 of 1300 total results. Request done in 2.684 seconds.","updated":"2019-04-22T23:15:56.654Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"1300","opensearch:startIndex":"0","opensearch:itemsPerPage":"15","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=15"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=15"},{"rel":"next","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=15&rows=15"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=1299&rows=15"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3A_SR_1_SRA_BS_20161229T015012_20161229T024041_20180124T165414_3029_012_302______LR1_R_NT_003","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''d91733c7-7be5-452d-9d11-230b0ca0affb'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''d91733c7-7be5-452d-9d11-230b0ca0affb'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''d91733c7-7be5-452d-9d11-230b0ca0affb'')/Products(''Quicklook'')/$value"}],"id":"d91733c7-7be5-452d-9d11-230b0ca0affb","summary":"Date:
        2016-12-29T01:50:11.548Z, Instrument: SRAL, Mode: , Satellite: Sentinel-3,
        Size: 1.70 GB","date":[{"name":"beginposition","content":"2016-12-29T01:50:11.548Z"},{"name":"endposition","content":"2016-12-29T02:40:41.494Z"},{"name":"creationdate","content":"2018-01-24T16:54:14Z"},{"name":"ingestiondate","content":"2019-04-13T08:20:04.25Z"}],"int":[{"name":"landpercentage","content":"36"},{"name":"closedseapercentage","content":"0"},{"name":"continentalicepercentage","content":"6"},{"name":"openseapercentage","content":"56"},{"name":"lrmpercentage","content":"0"},{"name":"sarpercentage","content":"100"},{"name":"orbitnumber","content":"4510"},{"name":"relativeorbitnumber","content":"302"},{"name":"lastorbitnumber","content":"4511"},{"name":"lastrelativeorbitnumber","content":"303"}],"str":[{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-81.4089,33.7478
        -81.2655,21.7613 -80.7735,10.5955 -79.9841,0.844095 -78.9609,-7.33107 -77.7622,-14.055
        -76.4344,-19.5639 -75.0117,-24.1004 -73.5185,-27.8724 -71.9722,-31.0453 -70.3853,-33.7466
        -68.7667,-36.0737 -67.123,-38.1007 -65.4591,-39.8848 -63.7788,-41.4702 -62.0849,-42.8913
        -60.3796,-44.1755 -58.6647,-45.3446 -56.9415,-46.416 -55.2112,-47.4041 -53.4746,-48.3206
        -51.7325,-49.1751 -49.9856,-49.9758 -48.2342,-50.7294 -46.479,-51.4417 -44.7202,-52.1176[...]
