interactions:
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"\"\n   },\n   \"author\"\
        : {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"link\": [\n      {\n\
        \         \"rel\": \"self\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"&start=0&rows=100\",\n  \
        \       \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"&start=0&rows=100\",\n  \
        \       \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"&start=1&rows=100\",\n  \
        \       \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"search\",\n         \"href\": \"opensearch_description.xml\",\n \
        \        \"type\": \"application/opensearchdescription+xml\"\n      }\n  \
        \ ],\n   \"title\": \"Sentinels Scientific Data Hub search results for: beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"\",\n   \"opensearch:startIndex\"\
        : \"0\",\n   \"opensearch:totalResults\": \"2\",\n   \"entry\": [\n      {\n\
        \         \"summary\": \"Date: 2017-07-07T10:03:23.29Z, Instrument: SAR-C\
        \ SAR, Mode: HH HV, Satellite: Sentinel-1, Size: 513.51 MB\",\n         \"\
        str\": [\n            {\n               \"name\": \"acquisitiontype\",\n \
        \              \"content\": \"NOMINAL\"\n            },\n            {\n \
        \              \"name\": \"filename\",\n               \"content\": \"S1B_EW_GRDM_1SDH_20170707T100323_20170707T100438_006380_00B36B_7C5D.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-8.455720,-64.401031 -7.635096,-68.073135\
        \ -3.082132,-67.077759 -3.880957,-63.429943 -8.455720,-64.401031<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        \n            },\n            {\n               \"name\": \"format\",\n  \
        \             \"content\": \"SAFE\"\n            },\n            {\n     \
        \          \"name\": \"identifier\",\n               \"content\": \"S1B_EW_GRDM_1SDH_20170707T100323[...]
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : 1,\n      \"role\": \"req[...]
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+polarisationmode%3AHH+producttype%3AGRD+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[NOW-1DAY\
        \ TO NOW] polarisationmode:HH producttype:GRD footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \"\"\n   },\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n\
        \   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"href\":\
        \ \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY TO\
        \ NOW] polarisationmode:HH producttype:GRD footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \"&start=0&rows=100\",\n         \"type\": \"application/atom+xml\"\n    \
        \  },[...]
