interactions:
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=1&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[NOW-1DAY TO NOW] footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        0 to 0 of 25 total results. Request done in 0.064 seconds.","updated":"2020-07-07T15:59:41.205Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"25","opensearch:startIndex":"0","opensearch:itemsPerPage":"1","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=1"},{"rel":"first","type":"application/atom+xml","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=1"},{"rel":"next","type":"application/atom+xml","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=1&rows=1"},{"rel":"last","type":"application/atom+xml","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=24&rows=1"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":{"title":"S3B_SL_2_LST____20200707T133007_20200707T133307_20200707T152337_0179_041_024_2880_LN2_O_NR_004","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b721f2f4-b841-48fa-8199-9d2e789cf419'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b721f2f4-b841-48fa-8199-9d2e789cf419'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b721f2f4-b841-48fa-8199-9d2e789cf419'')/Products(''Quicklook'')/$value"}],"id":"b721f2f4-b841-48fa-8199-9d2e789cf419","summary":"Date:
        2020-07-07T13:30:07.104Z, Instrument: SLSTR, Mode: , Satellite: Sentinel-3,
        Size: 60.92 MB","date":[{"name":"creationdate","content":"2020-07-07T15:23:37Z"},{"name":"beginposition","content":"2020-07-07T13:30:07.104Z"},{"name":"endposition","content":"2020-07-07T13:33:07.104Z"},{"name":"ingestiondate","content":"2020-07-07T15:52:58.956Z"}],"int":[{"name":"orbitnumber","content":"11461"},{"name":"relativeorbitnumber","content":"24"}],"str":[{"name":"ecmwf","content":"FORECAST"},{"name":"filename","content":"S3B_SL_2_LST____20200707T133007_20200707T133307_20200707T152337_0179_041_024_2880_LN2_O_NR_004.SEN3"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-0.088435,-62.3261
        -0.190028,-61.8792 -0.2982,-61.4276 -0.401047,-60.984 -0.490561,-60.5356 -0.600319,-60.0889
        -0.695394,-59.6458 -0.804185,-59.1971 -0.894539,-58.7511 -1.00314,-58.3043
        -1.10486,-57.8574 -1.19841,-57.412 -1.30905,-56.9618 -1.40616,-56.5179 -1.50952,-56.0666
        -1.60813,-55.6248 -1.71099,-55.1765 -1.80573,-54.724 -1.90709,-54.279 -2.01014,-53.8288
        -2.11061,-53.3881 -2.21294,-52.9379 -2.31449,-52.4937 -2.4075,-52.0419 -2.50913,-51.5944
        [...]
[...]
