interactions:
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=5&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[NOW-1DAY TO NOW]","subtitle":"Displaying
        0 to 4 of 23031 total results. Request done in 0.009 seconds.","updated":"2020-06-30T13:06:55.292Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW]","opensearch:totalResults":"23031","opensearch:startIndex":"0","opensearch:itemsPerPage":"5","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[NOW-1DAY
        TO NOW]","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW]&start=0&rows=5"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW]&start=0&rows=5"},{"rel":"next","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW]&start=5&rows=5"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW]&start=23030&rows=5"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2B_MSIL1C_20200630T074619_N0209_R135_T42XWK_20200630T094849","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''169c2407-de3b-4e00-8575-0c4fcb87a312'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''169c2407-de3b-4e00-8575-0c4fcb87a312'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''169c2407-de3b-4e00-8575-0c4fcb87a312'')/Products(''Quicklook'')/$value"}],"id":"169c2407-de3b-4e00-8575-0c4fcb87a312","summary":"Date:
        2020-06-30T07:46:19.024Z, Instrument: MSI, Mode: , Satellite: Sentinel-2,
        Size: 328.08 MB","date":[{"name":"datatakesensingstart","content":"2020-06-30T07:46:19.024Z"},{"name":"beginposition","content":"2020-06-30T07:46:19.024Z"},{"name":"endposition","content":"2020-06-30T07:46:19.024Z"},{"name":"ingestiondate","content":"2020-06-30T13:04:35.621Z"}],"int":[{"name":"orbitnumber","content":"17321"},{"name":"relativeorbitnumber","content":"135"}],"double":{"name":"cloudcoverpercentage","content":"7.6248"},"str":[{"name":"sensoroperationalmode","content":"INS-NOBS"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>75.59144638489266,69.66910525712633
        75.63401690173706,69.7721853382393 75.76178887706592,70.08786110285496 75.88913398434852,70.4090809857857
        76.01609526609185,70.7357760814996 76.14268445652584,71.06777728135704 76.26887962790255,71.4055589355239
        76.39465633922454,71.74943633137758 76.5199420809625,72.09999765473772 76.55430887999826,72.19833463723029
        76.54569065714992,73.23017413561635 75.56417818230878,72.94770679558897 75.59144638489266,69.66910525712633</gml:[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://nominatim.openstreetmap.org/search?q=Metz&format=geojson
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. https://osm.org/copyright\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"place_id\":235535315,\"osm_type\":\"relation\",\"osm_id\":450381,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":16,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.7519914762865919,\"icon\":\"https://nominatim.openstreetmap.org/images/mapicons/poi_boundary_administrative.p.20.png\"},\"bbox\":[6.1360042,49.0608244,6.256451,49.1487955],\"geometry\":{\"type\":\"Point\",\"coordinates\":[6.1763552,49.1196964]}},{\"type\":\"Feature\",\"properties\":{\"place_id\":236135487,\"osm_type\":\"relation\",\"osm_id\":5524891,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":14,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.5802836358825189,\"icon\":\"https://nominatim.openstreetmap.org/images/mapicons/poi_boundary_administrative.p.20.png\"},\"bbox\":[5.9245677,48.9047808,6.5006806,49.2727216],\"geometry\":{\"typ[...]
[...]
