interactions:
- request:
    body: q=beginPosition%3A%5B%222015-01-01T00%3A00%3A00Z%22+TO+%222015-01-02T00%3A00%3A00Z%22%5D+footprint%3A%22Intersects%28POLYGON%28%280+0%2C1+1%2C0+1%2C0+0%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"2015-01-01T00:00:00Z\"
        TO \"2015-01-02T00:00:00Z\"] footprint:\"Intersects(POLYGON((0 0,1 1,0 1,0
        0)))\"","subtitle":"Displaying 0 results. Request done in 0 seconds.","updated":"2021-05-02T19:05:36.515Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-01-01T00:00:00Z\"
        TO \"2015-01-02T00:00:00Z\"] footprint:\"Intersects(POLYGON((0 0,1 1,0 1,0
        0)))\"","opensearch:totalResults":"0","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"2015-01-01T00:00:00Z\"
        TO \"2015-01-02T00:00:00Z\"] footprint:\"Intersects(POLYGON((0 0,1 1,0 1,0
        0)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-01-01T00:00:00Z\"
        TO \"2015-01-02T00:00:00Z\"] footprint:\"Intersects(POLYGON((0 0,1 1,0 1,0
        0)))\"&start=0&rows=100&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-01-01T00:00:00Z\"
        TO \"2015-01-02T00:00:00Z\"] footprint:\"Intersects(POLYGON((0 0,1 1,0 1,0
        0)))\"&start=0&rows=100&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-01-01T00:00:00Z\"
        TO \"2015-01-02T00:00:00Z\"] footprint:\"Intersects(POLYGON((0 0,1 1,0 1,0
        0)))\"&start=-1&rows=100&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
