interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-02T00%3A00%3A00Z%5D+producttype%3AS2MSI1C+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        13 results. Request done in 0.028 seconds.","updated":"2017-10-24T19:58:08.678Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"13","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=12&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2A_OPER_PRD_MSIL1C_PDMC_20161201T224921_R110_V20161201T141042_20161201T141042","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''3649ad61-9466-4174-97f9-a51a8735f10a'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''3649ad61-9466-4174-97f9-a51a8735f10a'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''3649ad61-9466-4174-97f9-a51a8735f10a'')/Products(''Quicklook'')/$value"}],"id":"3649ad61-9466-4174-97f9-a51a8735f10a","summary":"Date:
        2016-12-01T14:10:42Z, Instrument: MSI, Mode: , Satellite: Sentinel-2, Size:
        346.06 MB","date":[{"name":"ingestiondate","content":"2016-12-02T11:16:47.782Z"},{"name":"beginposition","content":"2016-12-01T14:10:42Z"},{"name":"endposition","content":"2016-12-01T14:10:42Z"}],"int":[{"name":"orbitnumber","content":"7543"},{"name":"relativeorbitnumber","content":"110"}],"double":{"name":"cloudcoverpercentage","content":"100.0"},"str":[{"name":"uuid","content":"3649ad61-9466-4174-97f9-a51a8735f10a"},{"name":"filename","content":"S2A_OPER_PRD_MSIL1C_PDMC_20161201T224921_R110_V20161201T141042_20161201T141042.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-2.802411836487493,-57.59873071250791
        -2.715796509100339,-57.579515418335774 -2.567154018630716,-57.54653227812816
        -2.418532558114225,-57.51357040568482 -2.26999554059246,-57.48053190247021
        -2.12140687480377,-57.44775800139432 -2.066093945266016,-57.43549893337569
        -1.972796176701054,-57.414734332459375 -1.82431732790835,-57.38204117861661
        -1.809168652563093,-57.37871263659679 -1.80927362038077,-56.912245922484004
        -2.802651092372252,-56.912185042742[...]
