interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=5&start=0&q=beginPosition%3A%5B%222016-12-01T00%3A00%3A00Z%22+TO+%222016-12-02T00%3A00%3A00Z%22%5D+platformname%3A%22Sentinel-3%22+footprint%3A%22Intersects%28GEOMETRYCOLLECTION%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%29%22
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"2016-12-01T00:00:00Z\"
        TO \"2016-12-02T00:00:00Z\"] platformname:\"Sentinel-3\" footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"","subtitle":"Displaying
        0 to 4 of 20 total results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2016-12-01T00:00:00Z\"
        TO \"2016-12-02T00:00:00Z\"] platformname:\"Sentinel-3\" footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"","opensearch:totalResults":"20","opensearch:startIndex":"0","opensearch:itemsPerPage":"5","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"2016-12-01T00:00:00Z\"
        TO \"2016-12-02T00:00:00Z\"] platformname:\"Sentinel-3\" footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2016-12-01T00:00:00Z\"
        TO \"2016-12-02T00:00:00Z\"] platformname:\"Sentinel-3\" footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"&start=0&rows=5&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2016-12-01T00:00:00Z\"
        TO \"2016-12-02T00:00:00Z\"] p[...]
