interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=100&start=0&q=%28identifier%3A%22S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E%22+OR+identifier%3A%22S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A%22+OR+identifier%3A%22S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3%22+OR+identifier%3A%22S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E%22%29
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: (identifier:\"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"
        OR identifier:\"S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")","subtitle":"Displaying
        4 results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=(identifier:\"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"
        OR identifier:\"S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")","opensearch:totalResults":"4","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"(identifier:\"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"
        OR identifier:\"S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=(identifier:\"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"
        OR identifier:\"S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")&start=0&rows=100&format=json"},{"rel":"first","type":"application/json","href":"https:/[...]
