interactions:
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"\"\n   },\n   \"author\"\
        : {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"link\": [\n      {\n\
        \         \"rel\": \"self\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"&start=0&rows=100\",\n  \
        \       \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"&start=0&rows=100\",\n  \
        \       \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"&start=20&rows=100\",\n \
        \        \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"search\",\n         \"href\": \"opensearch_description.xml\",\n \
        \        \"type\": \"application/opensearchdescription+xml\"\n      }\n  \
        \ ],\n   \"title\": \"Sentinels Scientific Data Hub search results for: beginPosition:[NOW-1DAY\
        \ TO NOW] footprint:\\\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047\
        \ 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\"\",\n   \"opensearch:startIndex\"\
        : \"0\",\n   \"opensearch:totalResults\": \"21\",\n   \"entry\": [\n     \
        \ {\n         \"summary\": \"Date: 2017-07-27T09:47:49.111Z, Instrument: SAR-C\
        \ SAR, Mode: VV VH, Satellite: Sentinel-1, Size: 7.41 GB\",\n         \"str\"\
        : [\n            {\n               \"name\": \"acquisitiontype\",\n      \
        \         \"content\": \"NOMINAL\"\n            },\n            {\n      \
        \         \"name\": \"filename\",\n               \"content\": \"S1A_IW_SLC__1SDV_20170727T094749_20170727T094817_017655_01D8E2_8F4E.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-5.894292,-61.043491 -5.395556,-63.286106\
        \ -3.714537,-62.916542 -4.207301,-60.680359 -5.894292,-61.043491<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        \n            },\n            {\n               \"name\": \"format\",\n  \
        \             \"content\": \"SAFE\"\n            },\n            {\n     \
        \          \"name\": \"identifier\",\n               \"content\": \"S1A_IW_SLC__1SDV_20170727T094749[...]
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : 1,\n      \"role\": \"req[...]
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+polarisationmode%3AHH+producttype%3AGRD+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[NOW-1DAY\
        \ TO NOW] polarisationmode:HH producttype:GRD footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \"\"\n   },\n   \"xmlns\": \"http://www.w3.org/2005/Atom\",\n   \"author\"\
        : {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"subtitle\": \"Displaying\
        \ 0 results. Request done in 0.01 seconds.\",\n   \"link\": [\n      {\n \
        \        \"rel\": \"self\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY\
        \ TO NOW] polarisationmode:HH producttype:GRD footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \"&start=0&rows=100\",\n         \"type\": \"application/atom+xml\"\n    \
   [...]
