interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-02T00%3A00%3A00Z%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22+instrumentshortname%3ASRAL
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/s3/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z] footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" instrumentshortname:SRAL\"\n   },\n   \"author\": {\"name\": \"Sentinel-3\
        \ Scientific Data Hub\"},\n   \"link\": [\n      {\n         \"rel\": \"self\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/s3/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z] footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" instrumentshortname:SRAL&start=0&rows=100\",\n         \"type\": \"\
        application/atom+xml\"\n      },\n      {\n         \"rel\": \"first\",\n\
        \         \"href\": \"https://scihub.copernicus.eu/s3/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z] footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" instrumentshortname:SRAL&start=0&rows=100\",\n         \"type\": \"\
        application/atom+xml\"\n      },\n      {\n         \"rel\": \"last\",\n \
        \        \"href\": \"https://scihub.copernicus.eu/s3/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z] footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" instrumentshortname:SRAL&start=0&rows=100\",\n         \"type\": \"\
        application/atom+xml\"\n      },\n      {\n         \"rel\": \"search\",\n\
        \         \"href\": \"opensearch_description.xml\",\n         \"type\": \"\
        application/opensearchdescription+xml\"\n      }\n   ],\n   \"title\": \"\
        Sentinel-3 Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z] footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" instrumentshortname:SRAL\",\n   \"opensearch:startIndex\": \"0\",\n\
        \   \"opensearch:totalResults\": \"1\",\n   \"entry\": {\n      \"summary\"\
        : \"Date: 2016-12-01T13:13:17.65Z, Instrument: SRAL, Mode: , Satellite: Sentinel-3,\
        \ Size: 76.62 MB\",\n      \"arr\": {\n         \"str\": \"002\",\n      \
        \   \"name\": \"collection\"\n      },\n      \"str\": [\n         {\n   \
        \         \"name\": \"filename\",\n            \"content\": \"S3A_SR_2_LAN____20161201T131318_20161201T140321_20161226T235359_3003_011_295______LN3_O_NT_002.SEN3\"\
        \n         },\n         {\n            \"name\": \"gmlfootprint\",\n     \
        \       \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>81.2254,29.2728 80.6795,18.2472\
        \ 79.8436,8.70602 78.7824,0.751891 77.5532,-5.77262 76.2009,-11.1143 74.758,-15.5149\
        \ 73.2478,-19.1778 71.6869,-22.2631 70.0872,-24.8938 68.4571,-27.1632 66.8029,-29.143\
        \ 65.1294,-30.8879 63.4401,-32.4404 61.7378,-33.8338 60.0245,-35.0943 58.302,-36.243\
        \ 56.5715,-37.2969 54.8342,-38.2697 53.091,-39.1727 51.3426,-40.0154 49.5895,-40.8056\
        \ 47.8323,-41.5499 46.0715,-42.2538 44.3073,-42.9222 42.5402,-43.5591 40.7703,-44[...]
