interactions:
- request:
    body: q=S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426+OR+S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426
        OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1","subtitle":"Displaying
        2 results. Request done in 0.004 seconds.","updated":"2018-09-06T13:23:47.900Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426
        OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1","opensearch:totalResults":"2","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426
        OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426
        OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426
        OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426
        OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1&start=1&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''2f379a52-3041-4b92-a8a8-92bddc495594'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''2f379a52-3041-4b92-a8a8-92bddc495594'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''2f379a52-3041-4b92-a8a8-92bddc495594'')/Products(''Quicklook'')/$value"}],"id":"2f379a52-3041-4b92-a8a8-92bddc495594","summary":"Date:
        2017-02-05T10:52:21.026Z, Instrument: MSI, Mode: , Satellite: Sentinel-2,
        Size: 601.97 MB","date":[{"name":"ingestiondate","content":"2017-03-01T23:11:57.474Z"},{"name":"beginposition","content":"2017-02-05T10:52:21.026Z"},{"name":"endposition","content":"2017-02-05T10:52:21.026Z"}],"int":[{"name":"orbitnumber","content":"8485"},{"name":"relativeorbitnumber","content":"51"}],"double":{"name":"cloudcoverpercentage","content":"99.4448"},"str":[{"name":"filename","content":"S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>41.101467774923506,1.925747032612858
        41.00933478266592,1.891994473543675 40.863098054828505,1.838760980763545 40.71690053230905,1.785727720426546
        40.570714099729294,1.732860387356861 40.55475933977942,1.727125253949334 40.538607851727775,0.638419022640916
        41.52685230149302,0.6028173807795 41.546758769895376,1.918508192616414 41.101467774923506,1.925747032612858
        41.101467774923506,1.925747032612858</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBound[...]
[...]
