interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('8df46c9e-a20c-43db-a19a-4240c2ed3b8b')?$format=json&$expand=Attributes
  response:
    body: {string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')/$value"},"Id":"8df46c9e-a20c-43db-a19a-4240c2ed3b8b","Name":"S1A_EW_GRDM_1SDV_20151121T100356_20151121T100429_008701_00C622_A0EC","ContentType":"application/octet-stream","ContentLength":"143549851","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1448112121652)\/","IngestionDate":"\/Date(1448112124992)\/","EvictionDate":null,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1448100236675)\/","End":"\/Date(1448100269714)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"D5E4DF5C38C6E97BF7E7BD540AB21C05"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-5.880887,-63.852531
        -5.075419,-67.495872 -3.084356,-67.066071 -3.880541,-63.430576 -5.880887,-63.852531</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Metalink":"<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><metalink xmlns=\"urn:ietf:params:xml:ns:metalink\"><file
        name=\"S1A_EW_GRDM_1SDV_20151121T100356_20151121T100429_008701_00C622_A0EC.zip\"><hash
        type=\"MD5\">D5E4DF5C38C6E97BF7E7BD540AB21C05</hash><size>143549851</size><url>https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')/$value</url></file></metalink>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')/Nodes"}},"Attributes":{"results":[{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')/Attributes(''Acquisition%20Type'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')/Attributes(''Acquisition%20Type'')","type":"DHuS.Attribute"},"Id":"Acquisition
        Type","Name":"Acquisition Type","ContentType":"text/plain","ContentLength":"7","Value":"NOMINAL","Category":"product"},{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')/Attributes(''Carrier%20rocket'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8df46c9e-a20c-43db-a19a-4240c2ed3b8b'')/Attributes(''Carrier%20rocket'')","type":"DHuS.Attribute"},"Id":"Carrier
        rocket","Name":"Carrier rocket","ContentType":"text/plain","ContentLength":"5","Value":"Soyuz","Category":"platform"},{"__metadata":{"id":"https://scihub.[...]
[...]
