interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('cff87b35-633a-4566-854c-483377b2a8cf')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''cff87b35-633a-4566-854c-483377b2a8cf'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''cff87b35-633a-4566-854c-483377b2a8cf'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''cff87b35-633a-4566-854c-483377b2a8cf'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''cff87b35-633a-4566-854c-483377b2a8cf'')/$value"},"Id":"cff87b35-633a-4566-854c-483377b2a8cf","Name":"S3A_OL_2_LFR____20161116T080625_20161116T080625_20180317T173444_0000_011_078_1800_LR2_R_NT_002","ContentType":"application/octet-stream","ContentLength":"803094","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1538494872065)\/","IngestionDate":"\/Date(1524415060710)\/","ModificationDate":"\/Date(1524415060710)\/","EvictionDate":null,"Online":false,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1479284213178)\/","End":"\/Date(1479283603015)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"CC5FA8DF0FC4FE018FD484DEBC7F264C"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>62.8948,25.934
        62.8479,27.2846 62.7889,28.6336 62.7167,29.9826 62.6322,31.3159 62.5346,32.6479
        62.4248,33.9664 62.3033,35.2734 62.1683,36.5735 62.0218,37.857 61.8662,39.1336
        61.6955,40.3944 61.5165,41.6389 61.3227,42.8691 61.1189,44.0852 60.9022,45.2809
        60.6787,46.4647 60.4436,47.6298 60.1979,48.7807 59.9425,49.9104 59.9617,49.9282
        60.2172,48.798 60.4631,47.6464 60.6984,46.4807 60.9219,45.2963 61.1387,44.0999
        61.3427,42.8832 61.5365,41.6524 61.7157,40.4069 61.8864,39.1453 62.0421,37.8679
        62.1887,36.5837 62.3237,35.2828 62.4452,33.9747 62.5551,32.6551 62.6527,31.3225
        62.7372,29.9884 62.8094,28.6382 62.8683,27.2882 62.9152,25.9368 62.8948,25.934</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''cff87b35-633a-4566-854c-483377b2a8cf'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''cff87b35-633a-4566-854c-483377b2a8cf'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''cff87b35-633a-4566-854c-483377b2a8cf'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''cff87b35-633a-4566-854c-483377b2a8cf'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Range:
      - bytes=0-1
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('cff87b35-633a-4566-854c-483377b2a8cf')/$value
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '2.0'
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-1
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-b3a1-c735d660c910')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E.zip"
      content-range:
      - bytes 0-1/213433
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - 9eb46e4e31f77f108213e16bb8fbe088
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('cff87b35-633a-4566-854c-483377b2a8cf')/Attributes('Filename')/Value/$value
  response:
    body:
      string: S3A_OL_2_LFR____20161116T080625_20161116T080625_20180317T173444_0000_011_078_1800_LR2_R_NT_002.SEN3
    headers:
      content-type:
      - text/plain;charset=utf-8
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-1
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('cff87b35-633a-4566-854c-483377b2a8cf')/$value
  response:
    body:
      string: ''
    headers:
      content-type:
      - text/plain
      dataserviceversion:
      - '2.0'
    status:
      code: 202
      message: Accepted
version: 1
