interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z-1DAY+TO+2016-12-01T00%3A00%3A00Z%2B1DAY-1HOUR%5D+footprint%3A%22Intersects%28ENVELOPE%280%2C+10%2C+10%2C+0%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 10,
        10, 0))\"","subtitle":"Displaying 26 results. Request done in 0.054 seconds.","updated":"2018-09-06T13:23:26.295Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 10,
        10, 0))\"","opensearch:totalResults":"26","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 10,
        10, 0))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 10,
        10, 0))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 10,
        10, 0))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 10,
        10, 0))\"&start=25&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3A_SR_1_SRA_A__20161201T204713_20161201T213742_20170627T114742_3029_011_299______MR1_R_NT_002","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''270e3bd2-35f4-4c8f-b303-c1d035b85f53'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''270e3bd2-35f4-4c8f-b303-c1d035b85f53'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''270e3bd2-35f4-4c8f-b303-c1d035b85f53'')/Products(''Quicklook'')/$value"}],"id":"270e3bd2-35f4-4c8f-b303-c1d035b85f53","summary":"Date:
        2016-12-01T20:47:12.56Z, Instrument: SRAL, Mode: , Satellite: Sentinel-3,
        Size: 2.24 GB","date":[{"name":"ingestiondate","content":"2017-09-25T23:37:59.967Z"},{"name":"beginposition","content":"2016-12-01T20:47:12.56Z"},{"name":"endposition","content":"2016-12-01T21:37:42.094Z"}],"int":[{"name":"lrmpercentage","content":"0"},{"name":"sarpercentage","content":"100"},{"name":"closedseapercentage","content":"0"},{"name":"continentalicepercentage","content":"17"},{"name":"landpercentage","content":"47"},{"name":"openseapercentage","content":"34"},{"name":"orbitnumber","content":"4122"},{"name":"lastorbitnumber","content":"4123"},{"name":"relativeorbitnumber","content":"299"},{"name":"lastrelativeorbitnumber","content":"300"}],"str":[{"name":"filename","content":"S3A_SR_1_SRA_A__20161201T204713_20161201T213742_20170627T114742_3029_011_299______MR1_R_NT_002.SEN3"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-81.4201,109.409
        -81.2741,97.4111 -80.7794,86.2425 -79.9875,76.4949 -78.9621,68.327 -77.7617,61.6116
        -76.4325,56.1109 -75.0087,51.5818 -73.5147,47.8162 -71.9677,44.6488 -70.3802,41.9521
        -68.7611,39.6291 -67.1171,37.6055 -65.4529,35.8244 -63.7724,34.2417 -62.0782,32.8228
        -60.3728,31.5406 -58.6577,30.3734 -56.9343,29.3036 -55.2039,28.3169 -53.4672,27.4018
        -51.725,26.5485 -49.978,25.7489 -48.2266,24.9963 -46.4713,24.2849 -44.7125,23.61
        -42.9505,[...]
