interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-02T00%3A00%3A00Z%5D+producttype%3ASLC+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:SLC footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        6 results. Request done in 0.031 seconds.","updated":"2018-09-06T13:22:39.939Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:SLC footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"6","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:SLC footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:SLC footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:SLC footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:SLC footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=5&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S1A_IW_SLC__1SDV_20161201T093229_20161201T093256_014184_016EA7_E6EF","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''0ad39c8c-0e53-4c67-896e-33cf7a929623'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''0ad39c8c-0e53-4c67-896e-33cf7a929623'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''0ad39c8c-0e53-4c67-896e-33cf7a929623'')/Products(''Quicklook'')/$value"}],"id":"0ad39c8c-0e53-4c67-896e-33cf7a929623","summary":"Date:
        2016-12-01T09:32:29.967Z, Instrument: SAR-C SAR, Mode: VV VH, Satellite: Sentinel-1,
        Size: 7.18 GB","date":[{"name":"ingestiondate","content":"2016-12-01T14:05:00.646Z"},{"name":"beginposition","content":"2016-12-01T09:32:29.967Z"},{"name":"endposition","content":"2016-12-01T09:32:56.912Z"}],"int":[{"name":"missiondatatakeid","content":"93863"},{"name":"orbitnumber","content":"14184"},{"name":"lastorbitnumber","content":"14184"},{"name":"relativeorbitnumber","content":"112"},{"name":"lastrelativeorbitnumber","content":"112"},{"name":"slicenumber","content":"6"}],"str":[{"name":"uuid","content":"0ad39c8c-0e53-4c67-896e-33cf7a929623"},{"name":"acquisitiontype","content":"NOMINAL"},{"name":"filename","content":"S1A_IW_SLC__1SDV_20161201T093229_20161201T093256_014184_016EA7_E6EF.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-10.180071,-57.886711
        -9.665778,-60.152054 -8.044798,-59.779308 -8.552775,-57.525368 -10.180071,-57.886711</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S1A_IW_SLC__1SDV_20161201T093229_20161201T093256_014184_016EA7_E6EF"},{"name":"instrumentshortname","content":"SAR-C
        SAR"},{"name":"sensoroperationalmode","content":"IW"},{"name":"instrumentname","content":"Synthetic
  [...]
