interactions:
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=5&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[NOW-1DAY TO NOW]","subtitle":"Displaying
        0 to 4 of 23106 total results. Request done in 0.005 seconds.","updated":"2020-06-23T16:32:27.472Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[NOW-1DAY
        TO NOW]","opensearch:totalResults":"23106","opensearch:startIndex":"0","opensearch:itemsPerPage":"5","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[NOW-1DAY
        TO NOW]","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[NOW-1DAY
        TO NOW]&start=0&rows=5"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[NOW-1DAY
        TO NOW]&start=0&rows=5"},{"rel":"next","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[NOW-1DAY
        TO NOW]&start=5&rows=5"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[NOW-1DAY
        TO NOW]&start=23105&rows=5"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2B_MSIL2A_20200623T111629_N0214_R037_T41XML_20200623T130334","link":[{"href":"https://scihub.copernicus.eu/dhus/odata/v1/Products(''85e66bc0-3d28-4191-b0c6-cbaccb5df654'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/dhus/odata/v1/Products(''85e66bc0-3d28-4191-b0c6-cbaccb5df654'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/dhus/odata/v1/Products(''85e66bc0-3d28-4191-b0c6-cbaccb5df654'')/Products(''Quicklook'')/$value"}],"id":"85e66bc0-3d28-4191-b0c6-cbaccb5df654","summary":"Date:
        2020-06-23T11:16:29.024Z, Instrument: MSI, Mode: , Satellite: Sentinel-2,
        Size: 860.34 MB","date":[{"name":"beginposition","content":"2020-06-23T11:16:29.024Z"},{"name":"endposition","content":"2020-06-23T11:16:29.024Z"},{"name":"ingestiondate","content":"2020-06-23T16:31:23.549Z"}],"int":[{"name":"orbitnumber","content":"17223"},{"name":"relativeorbitnumber","content":"37"}],"double":[{"name":"vegetationpercentage","content":"1.23E-4"},{"name":"notvegetatedpercentage","content":"3.7200000000000004E-4"},{"name":"waterpercentage","content":"6.450569"},{"name":"unclassifiedpercentage","content":"0.002674"},{"name":"mediumprobacloudspercentage","content":"0.601046"},{"name":"highprobacloudspercentage","content":"55.052352"},{"name":"snowicepercentage","content":"36.988425"},{"name":"cloudcoverpercentage","content":"56.176578"}],"str":[{"name":"level1cpdiidentifier","content":"S2B_OPER_MSI_L1C_TL_EPAE_20200623T122748_A017223_T41XML_N02.09"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>81.90748103627195,56.62188393530005
        81.95644737476664,63.62478835890375 80.97284377382584,63.55719378094982 80.92925761838922,57.30716094300509
        81.90748103627195,56.62188393530005</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"footprint","content":"MULTIPOLYGON
        (((57.30716094300509 80.92925761838922, 63.55719378094982 80.97284377382584,
        63.62478835890375 81.95644737476664, 56.62188393530005 81.90748103627195,
     [...]
- request:
    body: null
    headers:
    method: POST
    uri: https://nominatim.openstreetmap.org/search?q=Metz&format=geojson
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. https://osm.org/copyright\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"place_id\":235535315,\"osm_type\":\"relation\",\"osm_id\":450381,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":16,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.7519914762865919,\"icon\":\"https://nominatim.openstreetmap.org/images/mapicons/poi_boundary_administrative.p.20.png\"},\"bbox\":[6.1360042,49.0608244,6.256451,49.1487955],\"geometry\":{\"type\":\"Point\",\"coordinates\":[6.1763552,49.1196964]}},{\"type\":\"Feature\",\"properties\":{\"place_id\":236135487,\"osm_type\":\"relation\",\"osm_id\":5524891,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":14,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.5802836358825189,\"icon\":\"https://nominatim.openstreetmap.org/images/mapicons/poi_boundary_administrative.p.20.png\"},\"bbox\":[5.9245677,48.9047808,6.5006806,49.2727216],\"geometry\":{\"typ[...]
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=5&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[NOW-1DAY TO NOW]","subtitle":"D[...]
[...]
