interactions:
- request:
    body: q=S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426+OR+S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426\
        \ OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1\"\
        \n   },\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n \
        \  \"link\": [\n      {\n         \"rel\": \"self\",\n         \"href\": \"\
        https://scihub.copernicus.eu/apihub/search?q=S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426\
        \ OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426\
        \ OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426\
        \ OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1&start=2&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"search\",\n         \"href\": \"opensearch_description.xml\"\
        ,\n         \"type\": \"application/opensearchdescription+xml\"\n      }\n\
        \   ],\n   \"title\": \"Sentinels Scientific Data Hub search results for:\
        \ S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426 OR S1A_EW_GRDH_1SDH_20141003T003840_20141003T003920_002658_002F54_4DD1\"\
        ,\n   \"opensearch:startIndex\": \"0\",\n   \"opensearch:totalResults\": \"\
        3\",\n   \"entry\": [\n      {\n         \"summary\": \"Date: 2017-02-05T10:52:21.026Z,\
        \ Instrument: MSI, Mode: , Satellite: Sentinel-2, Size: 601.97 MB\",\n   \
        \      \"str\": [\n            {\n               \"name\": \"filename\",\n\
        \               \"content\": \"S2A_MSIL1C_20170205T105221_N0204_R051_T31TCF_20170205T105426.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>41.101467774923506,1.925747032612858\
        \ 41.00933478266592,1.891994473543675 40.863098054828505,1.838760980763545\
        \ 40.71690053230905,1.785727720426546 40.570714099729294,1.732860387356861\
        \ 40.55475933977942,1.727125253949334 40.538607851727775,0.638419022640916\
        \ 41.52685230149302,0.6028173807795 41.546758769895376,1.918508192616414 41.101467774923506,1.925747032612858\
        \ 41.101467774923506,1.925747032612858<\\/gml:coordinates>\\n      <\\/gml:LinearRi[...]
[...]
