interactions:
- request:
    body: q=timeliness%3ANon%5C+Time%5C+Critical
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: timeliness:Non\\ Time\\ Critical","subtitle":"Displaying
        0 to -1 of 4475454 total results. Request done in 0.273 seconds.","updated":"2021-04-30T17:41:55.747Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=timeliness:Non\\
        Time\\ Critical","opensearch:totalResults":"4475454","opensearch:startIndex":"0","opensearch:itemsPerPage":"0","opensearch:Query":{"role":"request","searchTerms":"timeliness:Non\\
        Time\\ Critical","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=timeliness:Non\\
        Time\\ Critical&start=0&rows=0&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=timeliness:Non\\
        Time\\ Critical&start=0&rows=0&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=timeliness:Non\\
        Time\\ Critical&start=NaN&rows=0&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=timeliness:Non\\
        Time\\ Critical&start=4475453&rows=0&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
[...]
