interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('5618ce1b-923b-4df2-81d9-50b53e5aded9')?$format=json
  response:
    body: {string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/$value"},"Id":"5618ce1b-923b-4df2-81d9-50b53e5aded9","Name":"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C","ContentType":"application/octet-stream","ContentLength":"130222","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1447836780497)\/","IngestionDate":"\/Date(1447836780497)\/","EvictionDate":null,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1432628200873)\/","End":"\/Date(1432628658591)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"5D05813D2ABCAED0C2E9C04A8570997A"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>3.979146,147.846664
        4.018075,148.030945 3.837322,148.068436 3.798364,147.884155 3.979146,147.846664</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Metalink":"<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><metalink xmlns=\"urn:ietf:params:xml:ns:metalink\"><file
        name=\"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C.zip\"><hash
        type=\"MD5\">5D05813D2ABCAED0C2E9C04A8570997A</hash><size>130222</size><url>https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/$value</url></file></metalink>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Class"}}}}'}
    headers:
      Content-Type: [application/json]
      DataServiceVersion: ['2.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('5618ce1b-923b-4df2-81d9-50b53e5aded9')/$value
  response:
    body: {}
    headers:
      Content-Disposition: [inline;filename="S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C.zip"]
      Content-Range: [bytes 0-130221/130222]
      Content-Type: [application/octet-stream]
      DataServiceVersion: ['2.0']
      ETag: [5D05813D2ABCAED0C2E9C04A8570997A]
      Last-Modified: ['Wed, 18 Nov 2015 08:53:00 UTC']
    status: {code: 200, message: OK}
[...]
- request:
    body: q=S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C+OR+S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A+OR+S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C\
        \ OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR\
        \ S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"\n\
        \   },\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n  \
        \ \"link\": [\n      {\n         \"rel\": \"self\",\n         \"href\": \"\
        https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C\
        \ OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR\
        \ S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C\
        \ OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR\
        \ S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C\
        \ OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR\
        \ S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=2&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"search\",\n         \"href\": \"opensearch_description.xml\"\
        ,\n         \"type\": \"application/opensearchdescription+xml\"\n      }\n\
        \   ],\n   \"title\": \"Sentinels Scientific Data Hub search results for:\
        \ S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A\
        \ OR S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"\
        ,\n   \"opensearch:startIndex\": \"0\",\n   \"opensearch:totalResults\": \"\
        3\",\n   \"entry\": [\n      {\n         \"summary\": \"Date: 2015-05-26T08:16:40.873Z,\
        \ Instrument: SAR-C SAR, Mode: VV, Satellite: Sentinel-1, Size: 11.09 KB\"\
        ,\n         \"str\": [\n            {\n               \"name\": \"processed\"\
        ,\n               \"content\": \"T\"\n            },\n            {\n    \
        \           \"name\": \"acquisitiontype\",\n               \"content\": \"\
        NOMINAL\"\n            },\n            {\n               \"name\": \"filename\"\
        ,\n               \"content\": \"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>3.979146,147.846664 4.018075,148.030945\
        \ 3.837322,148.068436 3.798364,147.884155 3.979146,147.846664<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        \n            },\n            {\n               \"name\": \"form[...]
[...]
