interactions:
- request:
    body: q=beginposition%3A%5B2017-05-30T00%3A00%3A00Z+TO+2017-05-31T00%3A00%3A00Z%2B1DAY%5D
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=0&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginposition:[2017-05-30T00:00:00Z
        TO 2017-05-31T00:00:00Z+1DAY]","subtitle":"Displaying 0 to -1 of 16212 total
        results. Request done in 0.003 seconds.","updated":"2018-09-06T13:23:27.012Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z
        TO 2017-05-31T00:00:00Z+1DAY]","opensearch:totalResults":"16212","opensearch:startIndex":"0","opensearch:itemsPerPage":"0","opensearch:Query":{"role":"request","searchTerms":"beginposition:[2017-05-30T00:00:00Z
        TO 2017-05-31T00:00:00Z+1DAY]","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z
        TO 2017-05-31T00:00:00Z+1DAY]&start=0&rows=0"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z
        TO 2017-05-31T00:00:00Z+1DAY]&start=0&rows=0"},{"rel":"next","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z
        TO 2017-05-31T00:00:00Z+1DAY]&start=NaN&rows=0"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginposition:[2017-05-30T00:00:00Z
        TO 2017-05-31T00:00:00Z+1DAY]&start=16211&rows=0"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}]}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
