interactions:
- request:
    body: q=beginPosition%3A%5B2015-12-19T00%3A00%3A00Z+TO+2015-12-26T00%3A00%3A00Z%5D+AND+footprint%3A%22Intersects%28POLYGON%28%2810.83+53.04%2C11.64+53.04%2C11.64+52.65%2C10.83+52.65%2C10.83+53.04%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"\"\n   },\n   \"author\"\
        : {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"link\": [\n      {\n\
        \         \"rel\": \"self\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"&start=0&rows=100\",\n \
        \        \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"&start=0&rows=100\",\n \
        \        \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"&start=12&rows=100\",\n\
        \         \"type\": \"application/atom+xml\"\n      },\n      {\n        \
        \ \"rel\": \"search\",\n         \"href\": \"opensearch_description.xml\"\
        ,\n         \"type\": \"application/opensearchdescription+xml\"\n      }\n\
        \   ],\n   \"title\": \"Sentinels Scientific Data Hub search results for:\
        \ beginPosition:[2015-12-19T00:00:00Z TO 2015-12-26T00:00:00Z] AND footprint:\\\
        \"Intersects(POLYGON((10.83 53.04,11.64 53.04,11.64 52.65,10.83 52.65,10.83\
        \ 53.04)))\\\"\",\n   \"opensearch:startIndex\": \"0\",\n   \"opensearch:totalResults\"\
        : \"13\",\n   \"entry\": [\n      {\n         \"summary\": \"Date: 2015-12-24T10:33:29Z,\
        \ Instrument: MSI, Mode: , Satellite: Sentinel-2, Size: 7.54 GB\",\n     \
        \    \"str\": [\n            {\n               \"name\": \"processed\",\n\
        \               \"content\": \"T\"\n            },\n            {\n      \
        \         \"name\": \"filename\",\n               \"content\": \"S2A_OPER_PRD_MSIL1C_PDMC_20151224T192602_R065_V20151224T103329_20151224T103329.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>52.30543279228197,8.999706660884636\
        \ 51.363241707829694,8.999712727409818 51.353106166584254,10.50631726877677\
        \ 51.32586278927718,11.940730468616296 51.27892518278614,13.442095184333063\
        \ 51.35153861060137,13.449316928500433 51.35482321981505,13.633943954137738\
        \ 51.3631578430335,15.140188798644372 52.305346065306985,15.143149245994097\
        \ 53.1601655679278,15.145980830901935 53.14985988974457,16.641564956251077\
        \ 54.136377428733155,16.6803358[...]
[...]
- request:
    body: q=beginPosition%3A%5B2015-12-19T00%3A00%3A00Z+TO+2015-12-26T00%3A00%3A00Z%5D+AND+footprint%3A%22IsWithin%28POLYGON%28%2810.83+53.04%2C11.64+53.04%2C11.64+52.65%2C10.83+52.65%2C10.83+53.04%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"IsWithin(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"\"\n   },\n   \"xmlns\"\
        : \"http://www.w3.org/2005/Atom\",\n   \"author\": {\"name\": \"Sentinels\
        \ Scientific Data Hub\"},\n   \"subtitle\": \"Displaying 0 results. Request\
        \ done in 6.02 seconds.\",\n   \"link\": [\n      {\n         \"rel\": \"\
        self\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"IsWithin(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"&start=0&rows=100\",\n \
        \        \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"IsWithin(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"&start=0&rows=100\",\n \
        \        \"type\": \"application/atom+xml\"\n      },\n      {\n         \"\
        rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"IsWithin(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"&start=-1&rows=100\",\n\
        \         \"type\": \"application/atom+xml\"\n      },\n      {\n        \
        \ \"rel\": \"search\",\n         \"href\": \"opensearch_description.xml\"\
        ,\n         \"type\": \"application/opensearchdescription+xml\"\n      }\n\
        \   ],\n   \"opensearch:itemsPerPage\": \"100\",\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"IsWithin(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"\",\n   \"title\": \"Sentinels\
        \ Scientific Data Hub search results for: beginPosition:[2015-12-19T00:00:00Z\
        \ TO 2015-12-26T00:00:00Z] AND footprint:\\\"IsWithin(POLYGON((10.83 53.04,11.64\
        \ 53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\\\"\",\n   \"opensearch:startIndex\"\
        : \"0\",\n   \"updated\": \"2017-06-09T19:43:17.886Z\",\n   \"opensearch:totalResults\"\
        : \"0\",\n   \"xmlns:opensearch\": \"http://a9.com/-/spec/opensearch/1.1/\"\
        \n}}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
