interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=100&start=0&q=%28uuid%3A%221ff948db-72a6-4309-9ded-031129de6254%22+OR+uuid%3A%2259ff51f1-f7e2-472b-9c71-48815424503a%22+OR+uuid%3A%22fc46ba14-c343-4a36-a002-7bc8845fda1b%22%29
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: (uuid:\"1ff948db-72a6-4309-9ded-031129de6254\"
        OR uuid:\"59ff51f1-f7e2-472b-9c71-48815424503a\" OR uuid:\"fc46ba14-c343-4a36-a002-7bc8845fda1b\")","subtitle":"Displaying
        3 results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=(uuid:\"1ff948db-72a6-4309-9ded-031129de6254\"
        OR uuid:\"59ff51f1-f7e2-472b-9c71-48815424503a\" OR uuid:\"fc46ba14-c343-4a36-a002-7bc8845fda1b\")","opensearch:totalResults":"3","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"(uuid:\"1ff948db-72a6-4309-9ded-031129de6254\"
        OR uuid:\"59ff51f1-f7e2-472b-9c71-48815424503a\" OR uuid:\"fc46ba14-c343-4a36-a002-7bc8845fda1b\")","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=(uuid:\"1ff948db-72a6-4309-9ded-031129de6254\"
        OR uuid:\"59ff51f1-f7e2-472b-9c71-48815424503a\" OR uuid:\"fc46ba14-c343-4a36-a002-7bc8845fda1b\")&start=0&rows=100&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=(uuid:\"1ff948db-72a6-4309-9ded-031129de6254\"
        OR uuid:\"59ff51f1-f7e2-472b-9c71-48815424503a\" OR uuid:\"fc46ba14-c343-4a36-a002-7bc8845fda1b\")&start=0&rows=100&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=(uuid:\"1ff948db-72a6-4309-9ded-031129de6254\"
        OR uuid:\"59ff51f1-f7e2-472b-9c71-48815424503a\" OR uuid:\"fc46ba14-c343-4a36-a002-7bc8845fda1b\")&start=2&rows=100&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3B_SR_1_SRA____20210704T114011_20210704T114030_20210704T133742_0018_054_180______LN3_O_NR_004","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')/Products(''Quicklook'')/$value"}],"id":"1ff948db-72a6-4309-9ded-031129de6254","summary":"Date:
        2021-07-04T11:40:11.343Z, Instrument: SRAL, Satellite: Sentinel-3, Size: 849.21
        KB","ondemand":"false","date":[{"name":"beginposition","content":"2021-07-04T11:40:11.343Z"},{"name":"endposition","content":"2021-07-04T11:40:30.277Z"},{"name":"creationdate","content":"2021-07-04T13:37:42Z"},{"name":"ingestiondate","content":"2021-07-04T13:48:00.665Z"}],"int":[{"name":"lrmpercentage","content":"0"},{"name":"sarpercentage","content":"100"},{"name":"closedseapercentage","content":"0"},{"name":"continentalicepercentage","content":"0"},{"name":"landpercentage","content":"19"},{"name":"openseapercentage","content":"80"},{"name":"relativeorbitnumber","content":"180"},{"name":"orbitnumber","content":"16622"}],"str":[{"name":"filename","content":"S3B_SR_1_SRA____20210704T114011_20210704T114030_20210704T133742_0018_054_180______LN3_O_NR_004.SEN3"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S3B_SR_1_SRA____20210704T114011_20210704T114030_20210704T133742_0018_054_180______LN3_O_NR_004"},{"name":"instrumentshortname","content":"SRAL"},{"name":"sensoroperationalmode","content":"Earth
        Observation"},{"name":"instrumentname","content":"Sar Radar ALtimeter"},{"name":"mode","content":"[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1ff948db-72a6-4309-9ded-031129de6254')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')/$value"},"Id":"1ff948db-72a6-4309-9ded-031129de6254","Name":"S3B_SR_1_SRA____20210704T114011_20210704T114030_20210704T133742_0018_054_180______LN3_O_NR_004","ContentType":"application/octet-stream","ContentLength":"446090","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1625406600577)\/","IngestionDate":"\/Date(1625406480665)\/","ModificationDate":"\/Date(1625406600577)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1625398811343)\/","End":"\/Date(1625398830277)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"e678d5c42e832351de9a59f7c4c2f0c0"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>80.2314,93.7728
        80.5598,89.7663 80.8411,85.4986 80.8394,85.4947 80.5582,89.7618 80.2298,93.7678
        80.2314,93.7728</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1ff948db-72a6-4309-9ded-031129de6254'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Range:
      - bytes=0-1
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1ff948db-72a6-4309-9ded-031129de6254')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="S3B_SR_1_SRA____20210704T114011_20210704T114030_20210704T133742_0018_054_180______LN3_O_NR_004.zip"
      content-range:
      - bytes 0-1/446090
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - e678d5c42e832351de9a59f7c4c2f0c0
    status:
      code: 206
      message: Partial Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('59ff51f1-f7e2-472b-9c71-48815424503a')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="S3B_SR_1_SRA____20210702T205132_20210702T205157_20210702T225021_0024_054_157______LN3_O_NR_004.zip"
      content-range:
      - bytes 0-588915/588916
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - 07f5460466071d74ce86918293b647cc
    status:
      code: 200
      message: OK
version: 1
