interactions:
- request:
    body: q=beginPosition%3A%5B%22NOW-1DAY%22+TO+%22NOW%22%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=5&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"NOW-1DAY\" TO \"NOW\"]
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying 0 to
        4 of 136 total results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"136","opensearch:startIndex":"0","opensearch:itemsPerPage":"5","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=5&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=5&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=5&rows=5&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=135&rows=5&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3A_SY_2_SYN____20210505T134243_20210505T134543_20210506T065428_0179_071_238_3060_LN2_O_ST_002","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''db59f4b9-1e0e-4bfa-aeb3-536ae1606e75'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''db59f4b9-1e0e-4bfa-aeb3-536ae1606e75'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''db59f4b9-1e0e-4bfa-aeb3-536ae1606e75'')/Products(''Quicklook'')/$value"}],"id":"db59f4b9-1e0e-4bfa-aeb3-536ae1606e75","summary":"Date:
        2021-05-05T13:42:43.491Z, Instrument: SYNERGY, Satellite: Sentinel-3, Size:
        641.99 MB","ondemand":"false","date":[{"name":"beginposition","content":"2021-05-05T13:42:43.491Z"},{"name":"endposition","content":"2021-05-05T13:45:43.491Z"},{"name":"creationdate","content":"2021-05-06T06:54:28Z"},{"name":"ingestiondate","content":"2021-05-06T08:21:22.763Z"}],"int":[{"name":"relativeorbitnumber","content":"238"},{"name":"orbitnumber","content":"27161"}],"double":{"name":"cloudcoverpercentage","content":"52.063882"},"str":[{"name":"filename","content":"S3A_SY_2_SYN____20210505T134243_20210505T134543_20210506T065428_0179_071_238_3060_LN2_O_ST_002.SEN3"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S3A_SY_2_SYN____20210505T134243_20210505T134543_20210506T065428_0179_071_238_3060_LN2_O_ST_002"},{"name":"instrumentshortname","content":"SYNERGY"},{"name":"sensoroperationalmode","content":"Earth
        Observation"},{"name":"instrumentname","content":"Synergy"},{"name":"mode","content":"EO"},{"na[...]
- request:
    body: q=beginPosition%3A%5B%22NOW-1DAY%22+TO+%22NOW%22%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=5&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1[...]
- request:
    body: q=beginPosition%3A%5B%22NOW-1DAY%22+TO+%22NOW%22%5D+polarisationmode%3A%22HH%22+producttype%3A%22GRD%22+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=5&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"NOW-1DAY\" TO \"NOW\"]
        polarisationmode:\"HH\" producttype:\"GRD\" footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        0 results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] polarisationmode:\"HH\" producttype:\"GRD\" footprint:\"Intersects(POLYGON((-66.2695
        -8.059[...]
