interactions:
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[NOW-1DAY TO NOW] footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        57 results. Request done in 0.285 seconds.","updated":"2019-04-22T23:15:30.353Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"57","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=56&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3B_SL_1_RBT____20190422T142951_20190422T143251_20190422T161608_0180_024_267_2880_LN2_O_NR_003","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''9e372755-8d8a-45f5-8c6e-94847719d2e1'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''9e372755-8d8a-45f5-8c6e-94847719d2e1'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''9e372755-8d8a-45f5-8c6e-94847719d2e1'')/Products(''Quicklook'')/$value"}],"id":"9e372755-8d8a-45f5-8c6e-94847719d2e1","summary":"Date:
        2019-04-22T14:29:50.9Z, Instrument: SLSTR, Mode: , Satellite: Sentinel-3,
        Size: 565.18 MB","date":[{"name":"creationdate","content":"2019-04-22T16:16:08Z"},{"name":"beginposition","content":"2019-04-22T14:29:50.9Z"},{"name":"endposition","content":"2019-04-22T14:32:50.9Z"},{"name":"ingestiondate","content":"2019-04-22T17:13:55.513Z"}],"int":[{"name":"orbitnumber","content":"5159"},{"name":"relativeorbitnumber","content":"267"}],"str":[{"name":"ecmwf","content":"FORECAST"},{"name":"filename","content":"S3B_SL_1_RBT____20190422T142951_20190422T143251_20190422T161608_0180_024_267_2880_LN2_O_NR_003.SEN3"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-0.072909,-77.2901
        -0.174441,-76.8432 -0.275961,-76.3963 -0.377463,-75.9494 -0.484631,-75.4972
        -0.58039,-75.0555 -0.685053,-74.5998 -0.783172,-74.1616 -0.887424,-73.712
        -0.990334,-73.2591 -1.09111,-72.8127 -1.19468,-72.3672 -1.28917,-71.9263 -1.40059,-71.4732
        -1.49781,-71.0309 -1.59945,-70.5828 -1.70204,-70.1338 -1.80226,-69.6909 -1.89742,-69.2357
        -1.9978,-68.793 -2.1,-68.3436 -2.20086,-67.9015 -2.30296,-67.4474 -2.39521,-67.0045
        -2.49679,-66.5562 [...]
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmln[...]
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+polarisationmode%3AHH+producttype%3AGRD+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[NOW-1DAY TO NOW] polarisationmode:HH
        producttype:GRD footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        0 results. Request done in 0.113 seconds.","updated":"2019-04-22T23:15:32.058Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[NOW-1DAY
        TO NOW] polarisationmode:HH producttype:GRD footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.703[...]
