interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('11af8bd9-24d0-4401-9789-b7b73786e122')?$format=json&$expand=Attributes
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')/$value"},"Id":"11af8bd9-24d0-4401-9789-b7b73786e122","Name":"S3A_OL_2_LFR____20160922T014239_20160922T014239_20180309T131012_0000_009_060_1440_LR2_R_NT_002","ContentType":"application/octet-stream","ContentLength":"700011","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1538374607668)\/","IngestionDate":"\/Date(1523124299601)\/","ModificationDate":"\/Date(1523124299601)\/","EvictionDate":null,"Online":false,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1474509300563)\/","End":"\/Date(1474509520769)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"098645497FA5AB932ED2DF98426E5B58"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>83.9565,122.375
        83.9304,128.238 83.8429,133.991 83.6952,139.553 83.4931,144.78 83.2393,149.681
        82.9423,154.17 82.605,158.297 82.2313,162.054 81.8286,165.448 81.4033,168.528
        80.9533,171.296 80.4849,173.817 79.9995,176.079 79.5004,178.138 78.9887,179.996
        78.4666,-178.285 77.9369,-176.727 77.398,-175.297 76.8526,-173.989 76.8575,-173.947
        77.4031,-175.254 77.9422,-176.684 78.4722,-178.24 78.9945,-179.958 79.5064,178.185
        80.0058,176.127 80.4916,173.866 80.9603,171.346 81.4106,168.578 81.8363,165.497
        82.2394,162.102 82.6135,158.343 82.9512,154.214 83.2485,149.721 83.5027,144.813
        83.7051,139.579 83.853,134.009 83.9406,128.246 83.9667,122.374 83.9565,122.375</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')/Nodes"}},"Attributes":{"results":[{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')/Attributes(''Baseline%20Collection'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')/Attributes(''Baseline%20Collection'')","type":"DHuS.Attribute"},"Id":"Baseline
        Collection","Name":"Baseline Collection","ContentType":"text/plain","ContentLength":"3","Value":"002","Category":"product"},{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')/Attributes(''Cycle%20number'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''11af8bd9-24d0-4401-9789-b7b73786e122'')/Attributes(''Cycle%20number'')","type":"DHuS.Attribute"},"Id":"Cycle
        number","Name":"Cycle number","ContentType":"text/plain","ContentLength":"1","Value":"9","Category":"product"},{"__metadata":{"id":"https://apihub.copernicus.eu[...]
[...]
