interactions:
- request:
    body: q=identifier%3A%28%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","error":{"code":"400","message":"org.apache.solr.search.SyntaxError:
        Cannot parse ''identifier:()'': Encountered \" \")\" \") \"\" at line 1, column
        12.\nWas expecting one of:\n    <NOT> ...\n    \"+\" ...\n    \"-\" ...\n    <BAREOPER>
        ...\n    \"(\" ...\n    \"*\" ...\n    <QUOTED> ...\n    <TERM> ...\n    <PREFIXTERM>
        ...\n    <WILDTERM> ...\n    <REGEXPTERM> ...\n    \"[\" ...\n    \"{\" ...\n    <LPARAMS>
        ...\n    \"filter(\" ...\n    <NUMBER> ...\n    <TERM> ...\n    \"*\" ...\n    "}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
