interactions:
- request:
    body: q=beginPosition%3A%5B%222015-12-19T00%3A00%3A00Z%22+TO+%222015-12-20T00%3A00%3A00Z%22%5D+cloudcoverpercentage%3A%5B%220%22+TO+%2210%22%5D+platformname%3A%22Sentinel-2%22+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-20T00:00:00Z\"] cloudcoverpercentage:[\"0\" TO \"10\"] platformname:\"Sentinel-2\"
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying 15 results.
        Request done in 0.507 seconds.","updated":"2021-05-02T18:51:09.027Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-20T00:00:00Z\"] cloudcoverpercentage:[\"0\" TO \"10\"] platformname:\"Sentinel-2\"
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"15","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-20T00:00:00Z\"] cloudcoverpercentage:[\"0\" TO \"10\"] platformname:\"Sentinel-2\"
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-20T00:00:00Z\"] cloudcoverpercentage:[\"0\" TO \"10\"] platformname:\"Sentinel-2\"
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-20T00:00:00Z\"] cloudcoverpercentage:[\"0\" TO \"10\"] platformname:\"Sentinel-2\"
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2015-12-19T00:00:00Z\"
        TO \"2015-12-20T00:00:00Z\"] cloudcoverpercentage:[\"0\" TO \"10\"] platformname:\"Sentinel-2\"
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=14&rows=100&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2A_MSIL1C_20151219T144722_N0201_R139_T20NLF_20151219T145202","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''e071bdda-47ec-4434-aafa-00340442bdda'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''e071bdda-47ec-4434-aafa-00340442bdda'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''e071bdda-47ec-4434-aafa-00340442bdda'')/Products(''Quicklook'')/$value"}],"id":"e071bdda-47ec-4434-aafa-00340442bdda","summary":"Date:
        2015-12-19T14:47:22.029Z, Instrument: MSI, Satellite: Sentinel-2, Size: 403.60
        MB","ondemand":"false","date":[{"name":"datatakesensingstart","content":"2015-12-19T14:47:22.029Z"},{"name":"beginposition","content":"2015-12-19T14:47:22.029Z"},{"name":"endposition","content":"2015-12-19T14:47:22.029Z"},{"name":"ingestiondate","content":"2019-01-09T18:14:17.334Z"}],"int":[{"name":"orbitnumber","content":"2567"},{"name":"relativeorbitnumber","content":"139"}],"double":{"name":"cloudcoverpercentage","content":"0.0"},"str":[{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>0.90446347,-64.79727532
        -0.08843892,-64.79705494 -0.08847381,-63.81057837 0.90482039,-63.81067782
        0.90446347,-64.79727532 0.90446347,-64.79727532</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"format","content":"SAFE"},{"name":"instrumentshortname","content":"MSI"},{"name":"sensoroperationalmode","content":"INS-NOBS"},{"name":"instrumentname","content":"Multi-Spectral
        Instrument"},{"name":"footprint","content":"MULTIPOLYGO[...]
