interactions:
- request:
    body: q=identifier%3AS1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"identifier:S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A\"\
        \n   },\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n \
        \  \"link\": [\n      {\n         \"rel\": \"self\",\n         \"href\": \"\
        https://scihub.copernicus.eu/apihub/search?q=identifier:S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=identifier:S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=identifier:S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"search\",\n         \"href\": \"opensearch_description.xml\"\
        ,\n         \"type\": \"application/opensearchdescription+xml\"\n      }\n\
        \   ],\n   \"title\": \"Sentinels Scientific Data Hub search results for:\
        \ identifier:S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A\"\
        ,\n   \"opensearch:startIndex\": \"0\",\n   \"opensearch:totalResults\": \"\
        1\",\n   \"entry\": {\n      \"summary\": \"Date: 2015-05-26T21:10:28.984Z,\
        \ Instrument: SAR-C SAR, Mode: VV, Satellite: Sentinel-1, Size: 10.65 KB\"\
        ,\n      \"str\": [\n         {\n            \"name\": \"processed\",\n  \
        \          \"content\": \"T\"\n         },\n         {\n            \"name\"\
        : \"acquisitiontype\",\n            \"content\": \"NOMINAL\"\n         },\n\
        \         {\n            \"name\": \"filename\",\n            \"content\"\
        : \"S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A.SAFE\"\
        \n         },\n         {\n            \"name\": \"gmlfootprint\",\n     \
        \       \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-53.931976,-32.055458\
        \ -53.867435,-31.748390 -54.039661,-31.646017 -54.104462,-31.954405 -53.931976,-32.055458<\\\
        /gml:coordinates>\\n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\\
        n<\\/gml:Polygon>\"\n         },\n         {\n            \"name\": \"format\"\
        ,\n            \"content\": \"SAFE\"\n         },\n         {\n          \
        \  \"name\": \"identifier\",\n            \"content\": \"S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006[...]
