interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=Metz&format=geojson
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. https://osm.org/copyright\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"place_id\":308019380,\"osm_type\":\"relation\",\"osm_id\":450381,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":16,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.7519914762865919,\"icon\":\"https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png\"},\"bbox\":[6.1360042,49.0608244,6.256451,49.1487955],\"geometry\":{\"type\":\"Point\",\"coordinates\":[6.1763552,49.1196964]}},{\"type\":\"Feature\",\"properties\":{\"place_id\":308449483,\"osm_type\":\"relation\",\"osm_id\":5524891,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":14,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.5802836358825189,\"icon\":\"https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png\"},\"bbox\":[5.9245677,48.9047808,6.5006806,49.2727216],\"geometry\":{\"type\":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=1&start=0&q=beginPosition%3A%5B%222020-01-01T00%3A00%3A00Z%22+TO+%222020-01-02T00%3A00%3A00Z%22%5D+footprint%3A%22Intersects%28ENVELOPE%286.1360042%2C+6.256451%2C+49.1487955%2C+49.0608244%29%29%22
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"","subtitle":"Displaying 0 to 0 of 33 total results.
        Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"","opensearch:totalResults":"33","opensearch:startIndex":"0","opensearch:itemsPerPage":"1","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"&start=0&rows=1&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"&start=0&rows=1&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"&start=1&rows=1&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"&start=32&rows=1&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":{"title":"S3A_SL_1_RBT____20200101T213211_20200101T213511_20210115T193749_0180_053_186_0720_LR1_R_NT_004","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''c968c8e6-c3e0-4b3a-962d-336eb2434f06'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''c968c8e6-c3e0-4b3a-962d-336eb2434f06'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''c968c8e6-c3e0-4b3a-962d-336eb2434f06'')/Products(''Quicklook'')/$value"}],"id":"c968c8e6-c3e0-4b3a-962d-336eb2434f06","summary":"Date:
        2020-01-01T21:32:11.46Z, Instrument: SLSTR, Satellite: Sentinel-3, Size: 338.26
        MB","ondemand":"false","date":[{"name":"beginposition","content":"2020-01-01T21:32:11.46Z"},{"name":"endposition","content":"2020-01-01T21:35:11.46Z"},{"name":"creationdate","content":"2021-01-15T19:37:49Z"},{"name":"ingestiondate","content":"2022-03-04T12:33:42.286Z"}],"int":[{"name":"orbitnumber","content":"20179"},{"name":"relativeorbitnumber","content":"186"}],"str":[{"name":"ecmwf","content":"ANALYSIS"},{"name":"productlevel","content":"L1"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>54.4904,9.60427
        54.443,8.82484 54.402,8.04266 54.3642,7.26248 54.3061,6.48287 54.2432,5.70251
        54.1783,4.93424 54.1073,4.16322 54.0274,3.39758 53.9499,2.61651 53.8646,1.86102
        53.7798,1.09457 53.6813,0.34608 53.5815,-0.412725 53.4764,-1.15779 53.3757,-1.90198
        53.2539,-2.64625 53.137,-3.38239 53.0151,-4.11857 52.889,-4.84475 52.7595,-5.56552
        52.6264,-6.28355 52.4876,-7.00115 52.3415,-7.72344 52.1906,-8.41825 52.0378,-9.12766
        51.881,-9.81642 51.7252,-1[...]
