interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('f30b2a6a-b0c1-49f1-INVALID-e10c3cf06101')?$format=json
  response:
    body: {string: '{"error":{"code":null,"message":{"lang":"en","value":"Invalid
        key (f30b2a6a-b0c1-49f1-INVALID-e10c3cf06101) to access Products"}}}'}
    headers:
      Content-Type: [application/json]
      DataServiceVersion: ['1.0']
      cause-message: ['InvalidKeyException : Invalid key (f30b2a6a-b0c1-49f1-INVALID-e10c3cf06101)
          to access Products']
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-xxxx-c735d660c910')?$format=json
  response:
    body: {string: '{"error":{"code":null,"message":{"lang":"en","value":"Invalid
        key (1f62a176-c980-41dc-xxxx-c735d660c910) to access Products"}}}'}
    headers:
      Content-Type: [application/json]
      DataServiceVersion: ['1.0']
      cause-message: ['InvalidKeyException : Invalid key (1f62a176-c980-41dc-xxxx-c735d660c910)
          to access Products']
    status: {code: 404, message: Not Found}
version: 1
