interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('463d84ea-a647-40db-a3e1-2fe0f4148d45')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''463d84ea-a647-40db-a3e1-2fe0f4148d45'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''463d84ea-a647-40db-a3e1-2fe0f4148d45'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''463d84ea-a647-40db-a3e1-2fe0f4148d45'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''463d84ea-a647-40db-a3e1-2fe0f4148d45'')/$value"},"Id":"463d84ea-a647-40db-a3e1-2fe0f4148d45","Name":"S1A_IW_GRDH_1SDV_20210722T182826_20210722T182851_038894_0496E2_5BD9","ContentType":"application/octet-stream","ContentLength":"928085469","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1626982503413)\/","IngestionDate":"\/Date(1626982391262)\/","ModificationDate":"\/Date(1626982503413)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1626978506043)\/","End":"\/Date(1626978531041)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"94be690a5984f4fdd690ed36d9f9dd70"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>43.132477,-10.053490
        43.536472,-6.874254 42.037018,-6.551157 41.632385,-9.654956 43.132477,-10.053490</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''463d84ea-a647-40db-a3e1-2fe0f4148d45'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''463d84ea-a647-40db-a3e1-2fe0f4148d45'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''463d84ea-a647-40db-a3e1-2fe0f4148d45'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''463d84ea-a647-40db-a3e1-2fe0f4148d45'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Range:
      - bytes=0-1
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('463d84ea-a647-40db-a3e1-2fe0f4148d45')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="S1A_IW_GRDH_1SDV_20210722T182826_20210722T182851_038894_0496E2_5BD9.zip"
      content-range:
      - bytes 0-1/928085469
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - 94be690a5984f4fdd690ed36d9f9dd70
    status:
      code: 206
      message: Partial Content
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('463d84ea-a647-40db-a3e1-2fe0f4148d45')/Nodes('S1A_IW_GRDH_1SDV_20210722T182826_20210722T182851_038894_0496E2_5BD9.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''463d84ea-a647-40db-a3e1-2fe0f4148d45'')/Nodes(''S1A_IW_GRDH_1SDV_20210722T182826_20210722T182851_038894_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('463d84ea-a647-40db-a3e1-2fe0f4148d45')/Nodes('S1A_IW_GRDH_1SDV_20210722T182826_20210722T182851_038894_0496E2_5BD9.SAFE')/Nodes('manifest.safe')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="manifest.safe"
      content-range:
      - bytes 0-21643/21644
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - manifest.safe-21644
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('463d84ea-a647-40db-a3e1-2fe0f4148d45')/Nodes('S1A_IW_GRDH_1SDV_20210722T182826_20210722T182851_038894_0496E2_5BD9.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-1018/1019
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-1019
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('3df11ca3-7362-4c42-87fb-4736e80576c1')/Nodes('S1A_IW_GRDH_1SDV_20221121T135457_20221121T135510_045993_058110_E27A.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''3df11ca3-7362-4c42-87fb-4736e80576c1'')/Nodes(''S1A_IW_GRDH_1SDV_20221121T135457_20221121T135510_045993_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('3df11ca3-7362-4c42-87fb-4736e80576c1')/Nodes('S1A_IW_GRDH_1SDV_20221121T135457_20221121T135510_045993_058110_E27A.SAFE')/Nodes('manifest.safe')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="manifest.safe"
      content-range:
      - bytes 0-24004/24005
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - manifest.safe-24005
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('3df11ca3-7362-4c42-87fb-4736e80576c1')/Nodes('S1A_IW_GRDH_1SDV_20221121T135457_20221121T135510_045993_058110_E27A.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-1025/1026
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-1026
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('201e987f-6893-4314-a803-d84c6a4062b5')/Nodes('S1A_IW_GRDH_1SDV_20221121T134953_20221121T135022_045993_058110_0293.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''201e987f-6893-4314-a803-d84c6a4062b5'')/Nodes(''S1A_IW_GRDH_1SDV_20221121T134953_20221121T135022_045993_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('201e987f-6893-4314-a803-d84c6a4062b5')/Nodes('S1A_IW_GRDH_1SDV_20221121T134953_20221121T135022_045993_058110_0293.SAFE')/Nodes('manifest.safe')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="manifest.safe"
      content-range:
      - bytes 0-24008/24009
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - manifest.safe-24009
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('201e987f-6893-4314-a803-d84c6a4062b5')/Nodes('S1A_IW_GRDH_1SDV_20221121T134953_20221121T135022_045993_058110_0293.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-1025/1026
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-1026
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('bb5e6a09-a899-4c69-a546-133a045691cf')/Nodes('S1A_IW_GRDH_1SDV_20221121T135137_20221121T135202_045993_058110_88D4.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''bb5e6a09-a899-4c69-a546-133a045691cf'')/Nodes(''S1A_IW_GRDH_1SDV_20221121T135137_20221121T135202_045993_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('bb5e6a09-a899-4c69-a546-133a045691cf')/Nodes('S1A_IW_GRDH_1SDV_20221121T135137_20221121T135202_045993_058110_88D4.SAFE')/Nodes('manifest.safe')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="manifest.safe"
      content-range:
      - bytes 0-24008/24009
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - manifest.safe-24009
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('bb5e6a09-a899-4c69-a546-133a045691cf')/Nodes('S1A_IW_GRDH_1SDV_20221121T135137_20221121T135202_045993_058110_88D4.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-1025/1026
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-1026
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
      Range:
      - bytes=0-1
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('7aff8f23-e91f-4f82-9ad0-6039ed7552d2')/$value
  response:
    body:
      string: '<html><body><h1>504 Gateway Time-out</h1>

        The server didn''t respond in time.

        </body></html>

        '
    headers:
      content-type:
      - text/html
    status:
      code: 504
      message: Gateway Time-out
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('cbdb6fdb-780a-42e4-8dc7-236fd71f2cbe')/Nodes('S1A_IW_GRDH_1SDV_20221121T135407_20221121T135432_045993_058110_FBF6.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''cbdb6fdb-780a-42e4-8dc7-236fd71f2cbe'')/Nodes(''S1A_IW_GRDH_1SDV_20221121T135407_20221121T135432_045993_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('cbdb6fdb-780a-42e4-8dc7-236fd71f2cbe')/Nodes('S1A_IW_GRDH_1SDV_20221121T135407_20221121T135432_045993_058110_FBF6.SAFE')/Nodes('manifest.safe')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="manifest.safe"
      content-range:
      - bytes 0-24009/24010
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - manifest.safe-24010
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('cbdb6fdb-780a-42e4-8dc7-236fd71f2cbe')/Nodes('S1A_IW_GRDH_1SDV_20221121T135407_20221121T135432_045993_058110_FBF6.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-1025/1026
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-1026
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('ddfb289e-59a2-44c5-bbd9-9d19ce3de5cb')/Nodes('S1A_IW_GRDH_1SDV_20221121T135252_20221121T135317_045993_058110_B080.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''ddfb289e-59a2-44c5-bbd9-9d19ce3de5cb'')/Nodes(''S1A_IW_GRDH_1SDV_20221121T135252_20221121T135317_045993_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('ddfb289e-59a2-44c5-bbd9-9d19ce3de5cb')/Nodes('S1A_IW_GRDH_1SDV_20221121T135252_20221121T135317_045993_058110_B080.SAFE')/Nodes('manifest.safe')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="manifest.safe"
      content-range:
      - bytes 0-24008/24009
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - manifest.safe-24009
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('ddfb289e-59a2-44c5-bbd9-9d19ce3de5cb')/Nodes('S1A_IW_GRDH_1SDV_20221121T135252_20221121T135317_045993_058110_B080.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-1025/1026
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-1026
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('ddfb289e-59a2-44c5-bbd9-9d19ce3de5cb')/Nodes('S1A_IW_GRDH_1SDV_20221121T135252_20221121T135317_045993_058110_B080.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-1025/1026
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-1026
    status:
      code: 200
      message: ''
version: 1
