interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0&q=%F5%E4%F6%FC%FF%28
  response:
    body:
      string: "{\"feed\":{\"xmlns:opensearch\":\"http://a9.com/-/spec/opensearch/1.1/\",\"xmlns\":\"http://www.w3.org/2005/Atom\",\"error\":{\"code\":\"400\",\"message\":\"org.apache.solr.search.SyntaxError:
        Cannot parse '\xF5\xE4\xF6\xFC\xFF(': Encountered \\\"<EOF>\\\" at line 1,
        column 6.\\nWas expecting one of:\\n    <NOT> ...\\n    \\\"+\\\" ...\\n    \\\"-\\\"
        ...\\n    <BAREOPER> ...\\n    \\\"(\\\" ...\\n    \\\"*\\\" ...\\n    <QUOTED>
        ...\\n    <TERM> ...\\n    <PREFIXTERM> ...\\n    <WILDTERM> ...\\n    <REGEXPTERM>
        ...\\n    \\\"[\\\" ...\\n    \\\"{\\\" ...\\n    <LPARAMS> ...\\n    \\\"filter(\\\"
        ...\\n    <NUMBER> ...\\n    <TERM> ...\\n    \\\"*\\\" ...\\n    \"}}}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('%C3%B5%C3%A4%C3%B6%C3%BC%C3%BF(')?$format=json
  response:
    body:
      string: "{\"error\":{\"code\":null,\"message\":{\"lang\":\"en\",\"value\":\"Invalid
        key (\xF5\xE4\xF6\xFC\xFF() to access Products\"}}}"
    headers:
      cause-message:
      - "InvalidKeyException : Invalid key (\xF5\xE4\xF6\xFC\xFF() to access Products"
      content-type:
      - application/json
      dataserviceversion:
      - '1.0'
    status:
      code: 404
      message: Not Found
version: 1
