interactions:
- request:
    body: q=beginPosition%3A%5B2015-12-19T00%3A00%3A00Z+TO+2016-10-19T00%3A00%3A00Z%5D+cloudcoverpercentage%3A%5B0+TO+10%5D+platformname%3ASentinel-2+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=0&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2015-12-19T00:00:00Z
        TO 2016-10-19T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying 0 to
        -1 of 132 total results. Request done in 0.136 seconds.","updated":"2018-06-06T13:15:26.257Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2016-10-19T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"132","opensearch:startIndex":"0","opensearch:itemsPerPage":"0","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2015-12-19T00:00:00Z
        TO 2016-10-19T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2016-10-19T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=0"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2016-10-19T00:00:00Z] cloudcover[...]
- request:
    body: q=beginPosition%3A%5B2015-12-19T00%3A00%3A00Z+TO+2016-10-19T00%3A00%3A00Z%5D+cloudcoverpercentage%3A%5B0+TO+10%5D+platformname%3ASentinel-2+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0&orderby=cloudcoverpercentage[...]
[...]
