interactions:
- request:
    body: q=beginPosition%3A%5B%22NOW-1DAY%22+TO+%22NOW%22%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"NOW-1DAY\" TO \"NOW\"]
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying 69 results.
        Request done in 0.007 seconds.","updated":"2021-05-02T18:51:07.587Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"69","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=68&rows=100&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3B_SL_2_LST____20210502T142145_20210502T142445_20210502T162718_0179_052_053_3060_LN2_O_NR_004","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''8c9b0bcd-31fd-4312-a28b-352ae436fc19'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''8c9b0bcd-31fd-4312-a28b-352ae436fc19'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''8c9b0bcd-31fd-4312-a28b-352ae436fc19'')/Products(''Quicklook'')/$value"}],"id":"8c9b0bcd-31fd-4312-a28b-352ae436fc19","summary":"Date:
        2021-05-02T14:21:45.36Z, Instrument: SLSTR, Satellite: Sentinel-3, Size: 65.46
        MB","ondemand":"false","date":[{"name":"beginposition","content":"2021-05-02T14:21:45.36Z"},{"name":"endposition","content":"2021-05-02T14:24:45.36Z"},{"name":"creationdate","content":"2021-05-02T16:27:18Z"},{"name":"ingestiondate","content":"2021-05-02T16:51:33.258Z"}],"int":[{"name":"relativeorbitnumber","content":"53"},{"name":"orbitnumber","content":"15725"}],"str":[{"name":"ecmwf","content":"FORECAST"},{"name":"filename","content":"S3B_SL_2_LST____20210502T142145_20210502T142445_20210502T162718_0179_052_053_3060_LN2_O_NR_004.SEN3"},{"name":"format","content":"SAFE"},{"name":"instrumentshortname","content":"SLSTR"},{"name":"sensoroperationalmode","content":"Earth
        Observation"},{"name":"instrumentname","content":"Sea and Land Surface Temperature
        Radiometer"},{"name":"mode","content":"EO"},{"name":"platformidentifier","content":"2018-039A"},{[...]
