interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('invalid-xyz')?$format=json
  response:
    body:
      string: '{"error":{"code":null,"message":{"lang":"en","value":"Invalid key (invalid-xyz)
        to access Products"}}}'
    headers:
      cause-message:
      - 'InvalidKeyException : Invalid key (invalid-xyz) to access Products'
      content-type:
      - application/json
      dataserviceversion:
      - '1.0'
    status:
      code: 404
      message: ''
version: 1
