interactions:
- request:
    body: q=beginPosition%3A%5B2015-12-19T00%3A00%3A00Z+TO+2015-12-28T00%3A00%3A00Z%5D+platformname%3ASentinel-1+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-1 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        11 results. Request done in 0.055 seconds.","updated":"2018-09-06T13:22:38.281Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-1 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"11","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-1 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-1 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-1 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-1 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=10&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S1A_EW_GRDM_1SDH_20151227T100355_20151227T100510_009226_00D4D8_18A0","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''c719604a-d37c-4acd-8508-1c1cf995ab0f'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''c719604a-d37c-4acd-8508-1c1cf995ab0f'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''c719604a-d37c-4acd-8508-1c1cf995ab0f'')/Products(''Quicklook'')/$value"}],"id":"c719604a-d37c-4acd-8508-1c1cf995ab0f","summary":"Date:
        2015-12-27T10:03:55.389Z, Instrument: SAR-C SAR, Mode: HH HV, Satellite: Sentinel-1,
        Size: 513.57 MB","date":[{"name":"ingestiondate","content":"2015-12-27T13:31:31.845Z"},{"name":"beginposition","content":"2015-12-27T10:03:55.389Z"},{"name":"endposition","content":"2015-12-27T10:05:10.98Z"}],"int":[{"name":"missiondatatakeid","content":"54488"},{"name":"orbitnumber","content":"9226"},{"name":"lastorbitnumber","content":"9226"},{"name":"relativeorbitnumber","content":"54"},{"name":"lastrelativeorbitnumber","content":"54"},{"name":"slicenumber","content":"1"}],"str":[{"name":"acquisitiontype","content":"NOMINAL"},{"name":"filename","content":"S1A_EW_GRDM_1SDH_20151227T100355_20151227T100510_009226_00D4D8_18A0.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-8.455783,-64.402794
        -7.635231,-68.074547 -3.081243,-67.078720 -3.879990,-63.431263 -8.455783,-64.402794</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S1A_EW_GRDM_1SDH_20151227T100355_20151227T100510_009226_00D4D8_18A0"},{"name":"instrumentshortname","content":"SAR-C
        SAR"},{"name":"sensoroperationalmode","content":"EW"},{"name":"instrumentname","content":"Synthetic
    [...]
