interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('5618ce1b-923b-4df2-81d9-50b53e5aded9')?$format=json
  response:
    body: {string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/$value"},"Id":"5618ce1b-923b-4df2-81d9-50b53e5aded9","Name":"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C","ContentType":"application/octet-stream","ContentLength":"130222","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1447836780497)\/","IngestionDate":"\/Date(1447836780497)\/","EvictionDate":null,"Online":true,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1432628200873)\/","End":"\/Date(1432628658591)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"5D05813D2ABCAED0C2E9C04A8570997A"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">   <gml:outerBoundaryIs>      <gml:LinearRing>         <gml:coordinates>3.979146,147.846664
        4.018075,148.030945 3.837322,148.068436 3.798364,147.884155 3.979146,147.846664</gml:coordinates>      </gml:LinearRing>   </gml:outerBoundaryIs></gml:Polygon>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Class"}}}}'}
    headers:
      Content-Type: [application/json]
      DataServiceVersion: ['2.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('5618ce1b-923b-4df2-81d9-50b53e5aded9')/$value
  response:
    body: {}
    headers:
      Content-Disposition: [inline;filename="S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C.zip"]
      Content-Range: [bytes 0-130221/130222]
      Content-Type: [application/octet-stream]
      DataServiceVersion: ['2.0']
      ETag: [5D05813D2ABCAED0C2E9C04A8570997A]
      Last-Modified: ['Wed, 18 Nov 2015 08:53:00 UTC']
    status: {code: 200, message: OK}
[...]
- request:
    body: q=S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C+OR+S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A+OR+S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E","subtitle":"Displaying
        3 results. Request done in 0.006 seconds.","updated":"2018-09-06T13:23:50.712Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E","opensearch:totalResults":"3","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=2&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Products(''Quicklook'')/$value"}],"id":"5618ce1b-923b-4df2-81d9-50b53e5aded9","summary":"Date:
        2015-05-26T08:16:40.873Z, Instrument: SAR-C SAR, Mode: VV, Satellite: Sentinel-1,
        Size: 11.09 KB","date":[{"name":"ingestiondate","content":"2015-11-18T08:53:00.497Z"},{"name":"beginposition","content":"2015-05-26T08:16:40.873Z"},{"name":"endposition","content":"2015-05-26T08:24:18.591Z"}],"int":[{"name":"missiondatatakeid","content":"32318"},{"name":"orbitnumber","content":"6090"},{"name":"lastorbitnumber","content":"6090"},{"name":"relativeorbitnumber","content":"68"},{"name":"lastrelativeorbitnumber","content":"68"}],"str":[{"name":"acquisitiontype","content":"NOMINAL"},{"name":"filename","content":"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>3.979146,147.846664
        4.018075,148.030945 3.837322,148.068436 3.798364,147.884155 3.979146,147.846664</gml:c[...]
[...]
