interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('invalid-xyz')?$format=json
  response:
    body: {string: '{"error":{"code":null,"message":{"lang":"en","value":"Invalid
        key (invalid-xyz) to access Products"}}}'}
    headers:
      Content-Type: [application/json]
      DataServiceVersion: ['1.0']
      cause-message: ['InvalidKeyException : Invalid key (invalid-xyz) to access Products']
    status: {code: 404, message: Not Found}
version: 1
