interactions:
- request:
    body: q=S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A+OR+S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003+OR+S3B_SR_1_SRA_BS_20181123T034448_20181123T034708_20181218T182901_0139_018_047______LN3_O_NT_003
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A
        OR S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003
        OR S3B_SR_1_SRA_BS_20181123T034448_20181123T034708_20181218T182901_0139_018_047______LN3_O_NT_003","subtitle":"Displaying
        3 results. Request done in 0.058 seconds.","updated":"2020-06-29T15:33:03.530Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A
        OR S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003
        OR S3B_SR_1_SRA_BS_20181123T034448_20181123T034708_20181218T182901_0139_018_047______LN3_O_NT_003","opensearch:totalResults":"3","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A
        OR S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003
        OR S3B_SR_1_SRA_BS_20181123T034448_20181123T034708_20181218T182901_0139_018_047______LN3_O_NT_003","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A
        OR S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003
        OR S3B_SR_1_SRA_BS_20181123T034448_20181123T034708_20181218T182901_0139_018_047______LN3_O_NT_003&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A
        OR S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003
        OR S3B_SR_1_SRA_BS_20181123T034448_20181123T034708_20181218T182901_0139_018_047______LN3_O_NT_003&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A
        OR S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003
        OR S3B_SR_1_SRA_BS_20181123T034448_20181123T034708_20181218T182901_0139_018_047______LN3_O_NT_003&start=2&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3B_SR_1_SRA_BS_20181123T034407_20181123T034411_20181218T182902_0003_018_047______LN3_O_NT_003","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fb30069b-1081-44b9-8e65-314b989dc7fb'')/Products(''Quicklook'')/$value"}],"id":"fb30069b-1081-44b9-8e65-314b989dc7fb","summary":"Date:
        2018-11-23T03:44:06.87Z, Instrument: SRAL, Mode: , Satellite: Sentinel-3,
        Size: 286.20 KB","date":[{"name":"creationdate","content":"2018-12-18T18:29:02Z"},{"name":"beginposition","content":"2018-11-23T03:44:06.87Z"},{"name":"endposition","content":"2018-11-23T03:44:10.741Z"},{"name":"ingestiondate","content":"2018-12-18T18:58:31.44Z"}],"int":[{"name":"lrmpercentage","content":"0"},{"name":"sarpercentage","content":"100"},{"name":"closedseapercentage","content":"0"},{"name":"continentalicepercentage","content":"0"},{"name":"landpercentage","content":"50"},{"name":"openseapercentage","content":"50"},{"name":"orbitnumber","content":"3014"},{"name":"relativeorbitnumber","content":"47"}],"str":[{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>68.2514,-108.283
        68.3574,-108.417 68.4633,-108.553 68.4625,-108.557 68.3566,-108.422 68.2506,-108.287
        68.2514,-108.283</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"format","content":"SAFE"},{"name":"instrumentshortname","content":"SRAL"},{"name":"sensoroperationalmode","content":"Earth
        Observation"},{"name":"instrumentname","content":"Sar Radar ALtimeter"},{"name":"footprint","content":"MULTIPOLYGON
        (((-108.287 6[...]
[...]
