interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-30T00%3A00%3A00Z%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=15&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        0 to 14 of 818 total results. Request done in 0.035 seconds.","updated":"2018-09-06T13:22:42.442Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"818","opensearch:startIndex":"0","opensearch:itemsPerPage":"15","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=15"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=15"},{"rel":"next","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=15&rows=15"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=817&rows=15"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2A_MSIL1C_20161204T142032_N0204_R010_T21NVA_20161204T142034","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''4f72ccd4-f38c-4097-b1e6-d2df0887c6cf'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''4f72ccd4-f38c-4097-b1e6-d2df0887c6cf'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''4f72ccd4-f38c-4097-b1e6-d2df0887c6cf'')/Products(''Quicklook'')/$value"}],"id":"4f72ccd4-f38c-4097-b1e6-d2df0887c6cf","summary":"Date:
        2016-12-04T14:20:32.026Z, Instrument: MSI, Mode: , Satellite: Sentinel-2,
        Size: 706.01 MB","date":[{"name":"datatakesensingstart","content":"2016-12-04T14:20:32.026Z"},{"name":"ingestiondate","content":"2018-02-21T17:54:36.922Z"},{"name":"beginposition","content":"2016-12-04T14:20:32.026Z"},{"name":"endposition","content":"2016-12-04T14:20:32.026Z"}],"int":[{"name":"orbitnumber","content":"7586"},{"name":"relativeorbitnumber","content":"10"}],"double":{"name":"cloudcoverpercentage","content":"76.6592"},"str":[{"name":"filename","content":"S2A_MSIL1C_20161204T142032_N0204_R010_T21NVA_20161204T142034.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>0.904799412660897,-57.89910845147845
        0.90491049284172,-56.9122785113194 -0.088482622864584,-56.91228927460561 -0.088471762244608,-57.89899815024451
        0.904799412660897,-57.89910845147845</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S2A_MSIL1C_20161204T142032_N0204_R010_T21NVA_20161204T142034"},{"name":"instrumentshortname","content":"MSI"},{"name":"sensoroperationalmode",[...]
