interactions:
- request:
    body: q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\"\
        \n   },\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n \
        \  \"link\": [\n      {\n         \"rel\": \"self\",\n         \"href\": \"\
        https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E&start=0&rows=100\"\
        ,\n         \"type\": \"application/atom+xml\"\n      },\n      {\n      \
        \   \"rel\": \"search\",\n         \"href\": \"opensearch_description.xml\"\
        ,\n         \"type\": \"application/opensearchdescription+xml\"\n      }\n\
        \   ],\n   \"title\": \"Sentinels Scientific Data Hub search results for:\
        \ S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E\",\n\
        \   \"opensearch:startIndex\": \"0\",\n   \"opensearch:totalResults\": \"\
        1\",\n   \"entry\": {\n      \"summary\": \"Date: 2015-06-03T09:26:24.921Z,\
        \ Instrument: SAR-C SAR, Mode: HH, Satellite: Sentinel-1, Size: 10.54 KB\"\
        ,\n      \"str\": [\n         {\n            \"name\": \"processed\",\n  \
        \          \"content\": \"T\"\n         },\n         {\n            \"name\"\
        : \"acquisitiontype\",\n            \"content\": \"NOMINAL\"\n         },\n\
        \         {\n            \"name\": \"filename\",\n            \"content\"\
        : \"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E.SAFE\"\
        \n         },\n         {\n            \"name\": \"gmlfootprint\",\n     \
        \       \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>42.260288,-47.310867 42.298096,-47.558411\
        \ 42.476940,-47.508129 42.439095,-47.259823 42.260288,-47.310867<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        \n         },\n         {\n            \"name\": \"format\",\n           \
        \ \"content\": \"SAFE\"\n         },\n         {\n            \"name\": \"\
        identifier\",\n            \"content\": \"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_0[...]
