interactions:
- request:
    body: q=%28identifier%3A%22S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3%22+OR+identifier%3A%22S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E%22%29
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: (identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")","subtitle":"Displaying
        2 results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=(identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")","opensearch:totalResults":"2","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"(identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=(identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")&start=0&rows=100&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=(identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")&start=0&rows=100&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=(identifier:\"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3\"
        OR identifier:\"S1B_IW_GRDH_1SDV_20181007T164414_20181007T164439_013049_0181B7_345E\")&start=1&rows=100&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b2ab53c9-abc4-4481-a9bf-1129f54c9707'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b2ab53c9-abc4-4481-a9bf-1129f54c9707'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''b2ab53c9-abc4-4481-a9bf-1129f54c9707'')/Products(''Quicklook'')/$value"}],"id":"b2ab53c9-abc4-4481-a9bf-1129f54c9707","summary":"Date:
        2018-10-07T16:43:49.773Z, Instrument: SAR-C SAR, Mode: VV VH, Satellite: Sentinel-1,
        Size: 1.65 GB","ondemand":"false","date":[{"name":"ingestiondate","content":"2018-10-07T20:23:18.692Z"},{"name":"beginposition","content":"2018-10-07T16:43:49.773Z"},{"name":"endposition","content":"2018-10-07T16:44:14.773Z"}],"int":[{"name":"missiondatatakeid","content":"98743"},{"name":"orbitnumber","content":"13049"},{"name":"lastorbitnumber","content":"13049"},{"name":"relativeorbitnumber","content":"73"},{"name":"lastrelativeorbitnumber","content":"73"},{"name":"slicenumber","content":"16"}],"str":[{"name":"acquisitiontype","content":"NOMINAL"},{"name":"filename","content":"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>55.026794,12.979671
        55.446896,17.079388 53.953140,17.472992 53.536812,13.518810 55.026794,12.979671</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S1B_IW_GRDH_1SDV_20181007T164349_20181007T164414_013049_0181B7_A8E3"},{"name":"instrumentshortname","content":"SAR-C
        SAR"},{"name":"sensoroperationalmode","content":"IW"},{"name":"instrumentname","content":"Synthetic
        Aper[...]
