interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0&q=ingestiondate%3A%5B%22NOW-1DAY%22+TO+%22NOW%22%5D
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: ingestiondate:[\"NOW-1DAY\" TO \"NOW\"]","subtitle":"Displaying
        0 to -1 of 10000 total results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]","opensearch:totalResults":"10000","opensearch:startIndex":"0","opensearch:itemsPerPage":"0","opensearch:Query":{"role":"request","searchTerms":"ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]&start=0&rows=0&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]&start=0&rows=0&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]&start=NaN&rows=0&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=ingestiondate:[\"NOW-1DAY\"
        TO \"NOW\"]&start=10000&rows=0&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}]}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0&q=ingestiondate%3A%5B%22NOW-1DAY%22+TO+%2A%5D
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: ingestiondate:[\"NOW-1DAY\" TO *]","subtitle":"Displaying
        0 to -1 of 10000 total results. Request done [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0&q=relativeorbitnumber%3A%7B101+TO+103%7D
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: relativeorbitnumber:{101 TO 103}","subtitle":"Displaying
        0 to -1 of 10000 total results. Request done in ...[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0&q=timeliness%3A%22Near+Real+Time%22
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: timeliness:\"Near Real Time\"","subtitle":"Displaying
        0 to -1 of 10000 total results. Request done in ... seconds[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0&q=timeliness%3A%22.%2B+Critical%22
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: timeliness:\".+ Critical\"","subtitle":"Displaying
        0 to -1 of 10000 total results. Request done in ... seconds.","[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0&q=beginposition%3A%5B%222018-01-01T00%3A00%3A00Z%22+TO+%222018-01-30T00%3A00%3A00Z%22%5D+identifier%3A%2FS%5B12+%5DA.%2A%2F+footprint%3A%22Intersects%28POINT%2814.20+59.96%29%29%22
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0&q=beginposition%3A%5B%222018-01-01T00%3A00%3A00Z%22+TO+%222018-01-30T00%3A00%3A00Z%22%5D+identifier%3AS1A%2A+footprint%3A%22Intersects%28POINT%2814.20+59.96%29%29%22
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search resu[...]
[...]
