interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-02T00%3A00%3A00Z%5D+AND+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22+AND+producttype%3ASLC
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" AND producttype:SLC\"\n   },\n   \"author\": {\"name\": \"Sentinels Scientific\
        \ Data Hub\"},\n   \"link\": [\n      {\n         \"rel\": \"self\",\n   \
        \      \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" AND producttype:SLC&start=0&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" AND producttype:SLC&start=0&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-02T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" AND producttype:SLC&start=5&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"search\",\n         \"href\": \"\
        opensearch_description.xml\",\n         \"type\": \"application/opensearchdescription+xml\"\
        \n      }\n   ],\n   \"title\": \"Sentinels Scientific Data Hub search results\
        \ for: beginPosition:[2016-12-01T00:00:00Z TO 2016-12-02T00:00:00Z] AND footprint:\\\
        \"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047\
        \ -8.0592,-66.2695 -8.0592)))\\\" AND producttype:SLC\",\n   \"opensearch:startIndex\"\
        : \"0\",\n   \"opensearch:totalResults\": \"6\",\n   \"entry\": [\n      {\n\
        \         \"summary\": \"Date: 2016-12-01T09:32:29.967Z, Instrument: SAR-C\
        \ SAR, Mode: VV VH, Satellite: Sentinel-1, Size: 7.18 GB\",\n         \"str\"\
        : [\n            {\n               \"name\": \"uuid\",\n               \"\
        content\": \"0ad39c8c-0e53-4c67-896e-33cf7a929623\"\n            },\n    \
        \        {\n               \"name\": \"acquisitiontype\",\n              \
        \ \"content\": \"NOMINAL\"\n            },\n            {\n              \
        \ \"name\": \"filename\",\n               \"content\": \"S1A_IW_SLC__1SDV_20161201T093229_20161201T093256_014184_016EA7_E6EF.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-10.180071,-57.886711\
        \ -9.665778,-60.152054 -8.044798,-59.779308 -8.552775,-57.525368 -10.180071,-57.886711<\\\
        /gml:coordinates>\\n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\\
        n<\\/gml:Polygon>\"\n            },\n            {\n               \"name\"\
        : \"format\",\n               \"content\": \"SAFE\"\n            },\n    \
        \        {\n               \"name\": \"identifier\",\n               \"content\"\
        : \"S1A_IW_SLC__1SDV_2016[...]
