interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=florida&format=geojson
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. https://osm.org/copyright\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"place_id\":307856583,\"osm_type\":\"relation\",\"osm_id\":162050,\"display_name\":\"Florida,
        United States\",\"place_rank\":8,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.8512139727980621,\"icon\":\"https://nominatim.openstreetmap.org/ui/mapicons/poi_boundary_administrative.p.20.png\"},\"bbox\":[-87.634896,24.396308,-79.974306,31.000762],\"geometry\":{\"type\":\"Point\",\"coordinates\":[-81.4639835,27.7567667]}},{\"type\":\"Feature\",\"properties\":{\"place_id\":347484469,\"osm_type\":\"relation\",\"osm_id\":1128379,\"display_name\":\"Orlando,
        Orange County, Florida, United States\",\"place_rank\":16,\"category\":\"place\",\"type\":\"city\",\"importance\":0.7305938364430198,\"icon\":\"https://nominatim.openstreetmap.org/ui/mapicons/poi_place_city.p.20.png\"},\"bbox\":[-81.5075377,28.3480634,-81.2275862,28.614283],\"geometry\":{\"type\":\"Point\",\"coordinates\":[-81.37[...]
