interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-30T00%3A00%3A00Z%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=15&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        0 to 14 of 818 total results. Request done in 0.027 seconds.","updated":"2017-10-24T19:58:03.913Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"818","opensearch:startIndex":"0","opensearch:itemsPerPage":"15","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=15"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=15"},{"rel":"next","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=15&rows=15"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-30T00:00:00Z] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=817&rows=15"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3A_SR_1_SRA_A__20161229T015012_20161229T024041_20170627T215004_3029_012_302______MR1_R_NT_002","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''d01aa781-b18e-4cff-9145-0839c4b89171'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''d01aa781-b18e-4cff-9145-0839c4b89171'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''d01aa781-b18e-4cff-9145-0839c4b89171'')/Products(''Quicklook'')/$value"}],"id":"d01aa781-b18e-4cff-9145-0839c4b89171","summary":"Date:
        2016-12-29T01:50:11.548Z, Instrument: SRAL, Mode: , Satellite: Sentinel-3,
        Size: 2.30 GB","date":[{"name":"ingestiondate","content":"2017-09-26T01:27:41.264Z"},{"name":"beginposition","content":"2016-12-29T01:50:11.548Z"},{"name":"endposition","content":"2016-12-29T02:40:41.444Z"}],"int":[{"name":"lrmpercentage","content":"0"},{"name":"sarpercentage","content":"100"},{"name":"closedseapercentage","content":"0"},{"name":"continentalicepercentage","content":"6"},{"name":"landpercentage","content":"36"},{"name":"openseapercentage","content":"56"},{"name":"orbitnumber","content":"4510"},{"name":"lastorbitnumber","content":"4511"},{"name":"relativeorbitnumber","content":"302"},{"name":"lastrelativeorbitnumber","content":"303"}],"str":[{"name":"filename","content":"S3A_SR_1_SRA_A__20161229T015012_20161229T024041_20170627T215004_3029_012_302______MR1_R_NT_002.SEN3"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-81.4089,33.7478
        -81.2655,21.7615 -80.7736,10.5958 -79.9842,0.844546 -78.961,-7.33057 -77.7623,-14.0545
        -76.4346,-19.5634 -75.0119,-24.0999 -73.5187,-27.8719 -71.9725,-31.0449 -70.3856,-33.7462
        -68.767,-36.0733 -67.1233,-38.1003 -65.4595,-39.8845 -63.7792,-41.4698 -62.0854,-42.891
        -60.3801,-44.1752 -58.6652,-45.3443 -56.942,-46.4157 -55.2117,-47.4038 -53.4752,-48.3203
        -51.7331,-49.1748 -49.9862,-49.9755 -48.2349,-50.7291 -46.4797,-51.4414 -44.721,-52.1173
[...]
