interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-xxxx-c735d660c910')?$format=json
  response:
    body:
      string: '{"error":{"code":null,"message":{"lang":"en","value":"Invalid key (1f62a176-c980-41dc-xxxx-c735d660c910)
        to access Products"}}}'
    headers:
      cause-message:
      - 'InvalidKeyException : Invalid key (1f62a176-c980-41dc-xxxx-c735d660c910)
        to access Products'
      content-type:
      - application/json
      dataserviceversion:
      - '1.0'
    status:
      code: 404
      message: Not Found
version: 1
