interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=Metz&format=geojson
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. https://osm.org/copyright\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"place_id\":258831515,\"osm_type\":\"relation\",\"osm_id\":450381,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":16,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.7519914762865919,\"icon\":\"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png\"},\"bbox\":[6.1360042,49.0608244,6.256451,49.1487955],\"geometry\":{\"type\":\"Point\",\"coordinates\":[6.1763552,49.1196964]}},{\"type\":\"Feature\",\"properties\":{\"place_id\":259358988,\"osm_type\":\"relation\",\"osm_id\":5524891,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":14,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.5802836358825189,\"icon\":\"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png\"},\"bbox\":[5.9245677,48.9047808,6.5006806,49.2727216],\"geometry\":{\"type\"[...]
- request:
    body: q=beginPosition%3A%5B%222020-01-01T00%3A00%3A00Z%22+TO+%222020-01-02T00%3A00%3A00Z%22%5D+footprint%3A%22Intersects%28ENVELOPE%286.1360042%2C+6.256451%2C+49.1487955%2C+49.0608244%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=1&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"","subtitle":"Displaying 0 to 0 of 29 total results.
        Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"","opensearch:totalResults":"29","opensearch:startIndex":"0","opensearch:itemsPerPage":"1","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"&start=0&rows=1&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"&start=0&rows=1&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"&start=1&rows=1&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"2020-01-01T00:00:00Z\"
        TO \"2020-01-02T00:00:00Z\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451,
        49.1487955, 49.0608244))\"&start=28&rows=1&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":{"title":"S3B_SL_1_RBT____20200101T205241_20200101T205541_20200812T045040_0179_034_043_0720_LR1_R_NT_004","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4d103f71-6eec-4bc6-a6f8-a1224f43c5a6'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4d103f71-6eec-4bc6-a6f8-a1224f43c5a6'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''4d103f71-6eec-4bc6-a6f8-a1224f43c5a6'')/Products(''Quicklook'')/$value"}],"id":"4d103f71-6eec-4bc6-a6f8-a1224f43c5a6","summary":"Date:
        2020-01-01T20:52:40.84Z, Instrument: SLSTR, Satellite: Sentinel-3, Size: 346.26
        MB","ondemand":"false","date":[{"name":"beginposition","content":"2020-01-01T20:52:40.84Z"},{"name":"endposition","content":"2020-01-01T20:55:40.84Z"},{"name":"creationdate","content":"2020-08-12T04:50:40Z"},{"name":"ingestiondate","content":"2020-12-12T13:15:21.954Z"}],"int":[{"name":"orbitnumber","content":"8785"},{"name":"relativeorbitnumber","content":"43"}],"str":[{"name":"ecmwf","content":"ANALYSIS"},{"name":"productlevel","content":"L1"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>54.4988,19.4325
        54.4629,18.6501 54.407,17.8711 54.367,17.0827 54.3092,16.3103 54.247,15.5362
        54.1787,14.7613 54.1202,13.9825 54.0419,13.2151 53.9602,12.4584 53.8794,11.6929
        53.7859,10.9371 53.6912,10.172 53.592,9.41555 53.4879,8.67212 53.3799,7.92038
        53.2679,7.18658 53.1519,6.45123 53.031,5.71568 52.9042,4.97544 52.7754,4.25551
        52.6337,3.54251 52.4957,2.82545 52.3516,2.10587 52.2038,1.39317 52.0501,0.703246
        51.8949,-0.002406 51.7332,-0.690346 51.56[...]
