interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-30T00%3A00%3A00Z%5D+AND+footprint%3A%22Intersects%28POLYGON+%28%28-66.2695+-8.0592%2C+-66.2695+0.7031%2C+-57.3047+0.7031%2C+-57.3047+-8.0592%2C+-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=15&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-30T00:00:00Z] AND footprint:\\\"Intersects(POLYGON ((-66.2695\
        \ -8.0592, -66.2695 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\
        \"\"\n   },\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n\
        \   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"href\":\
        \ \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-30T00:00:00Z] AND footprint:\\\"Intersects(POLYGON ((-66.2695\
        \ -8.0592, -66.2695 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\
        \"&start=0&rows=15\",\n         \"type\": \"application/atom+xml\"\n     \
        \ },\n      {\n         \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-30T00:00:00Z] AND footprint:\\\"Intersects(POLYGON ((-66.2695\
        \ -8.0592, -66.2695 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\
        \"&start=0&rows=15\",\n         \"type\": \"application/atom+xml\"\n     \
        \ },\n      {\n         \"rel\": \"next\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-30T00:00:00Z] AND footprint:\\\"Intersects(POLYGON ((-66.2695\
        \ -8.0592, -66.2695 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\
        \"&start=15&rows=15\",\n         \"type\": \"application/atom+xml\"\n    \
        \  },\n      {\n         \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z\
        \ TO 2016-12-30T00:00:00Z] AND footprint:\\\"Intersects(POLYGON ((-66.2695\
        \ -8.0592, -66.2695 0.7031, -57.3047 0.7031, -57.3047 -8.0592, -66.2695 -8.0592)))\\\
        \"&start=693&rows=15\",\n         \"type\": \"application/atom+xml\"\n   \
        \   },\n      {\n         \"rel\": \"search\",\n         \"href\": \"opensearch_description.xml\"\
        ,\n         \"type\": \"application/opensearchdescription+xml\"\n      }\n\
        \   ],\n   \"title\": \"Sentinels Scientific Data Hub search results for:\
        \ beginPosition:[2016-12-01T00:00:00Z TO 2016-12-30T00:00:00Z] AND footprint:\\\
        \"Intersects(POLYGON ((-66.2695 -8.0592, -66.2695 0.7031, -57.3047 0.7031,\
        \ -57.3047 -8.0592, -66.2695 -8.0592)))\\\"\",\n   \"opensearch:startIndex\"\
        : \"0\",\n   \"opensearch:totalResults\": \"694\",\n   \"entry\": [\n    \
        \  {\n         \"summary\": \"Date: 2016-12-28T09:56:57.96Z, Instrument: SAR-C\
        \ SAR, Mode: VV VH, Satellite: Sentinel-1, Size: 7.13 GB\",\n         \"str\"\
        : [\n            {\n               \"name\": \"acquisitiontype\",\n      \
        \         \"content\": \"NOMINAL\"\n            },\n            {\n      \
        \         \"name\": \"filename\",\n               \"content\": \"S1A_IW_SLC__1SDV_20161228T095657_20161228T095724_014578_017B01_CF5B.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-9.437869,-63.878857 -8.925982,-66.141457\
        \ -7.304338,-65.771698 -7.810013,-63.519611 -9.437869,-63.878857<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        \n            },\n            {\n               \"name\": \"format\",\n  \
        \             \"content\": \"SAFE\"\n            },\n            {\n     \
        \          \"name\": \"identifier\",\n               \"content\": \"S1A_IW_SLC__1SDV_20161228T095657[...]
