interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=1&start=0&q=beginPosition%3A%5B%2A+TO+%222020-01-01T00%3A00%3A00Z%22%5D+footprint%3A%22Intersects%28GEOMETRYCOLLECTION%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%29%22
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[* TO \"2020-01-01T00:00:00Z\"]
        footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695 -8.0592,-66.2695
        0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"","subtitle":"Displaying
        0 to 0 of 10000 total results. Request done in ... seconds.","updated":"...","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"","opensearch:totalResults":"10000","opensearch:startIndex":"0","opensearch:itemsPerPage":"1","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"&start=0&rows=1&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"&start=0&rows=1&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"&start=1&rows=1&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[*
        TO \"2020-01-01T00:00:00Z\"] footprint:\"Intersects(GEOMETRYCOLLECTION(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592))))\"&start=107299&rows=1&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":{"title":"S3A_SL_1_RBT____20191025T021159_20191025T021459_20210114T174901_0179_050_360_0000_LR1_R_NT_004","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''e5546c2b-5f5a-468c-84d4-960686df809d'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''e5546c2b-5f5a-468c-84d4-960686df809d'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''e5546c2b-5f5a-468c-84d4-960686df809d'')/Products(''Quicklook'')/$value"}],"id":"e5546c2b-5f5a-468c-84d4-960686df809d","summary":"Date:
        2019-10-25T02:11:58.676Z, Instrument: SLSTR, Satellite: Sentinel-3, Size:
        339.07 MB","ondemand":"false","date":[{"name":"beginposition","content":"2019-10-25T02:11:58.676Z"},{"name":"endposition","content":"2019-10-25T02:14:58.676Z"},{"name":"creationdate","content":"2021-01-14T17:49:01Z"},{"name":"ingestiondate","content":"2022-03-04T22:49:45.73Z"}],"int":[{"name":"orbitnumber","content":"19198"},{"name":"relativeorbitnumber","content":"360"}],"str":[{"name":"ecmwf","content":"ANALYSIS"},{"name":"productlevel","content":"L1"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>12.4748,-56.3786
        12.3951,-56.8442 12.3043,-57.3048 12.2072,-57.7549 12.1232,-58.2238 12.0293,-58.677
        11.9478,-59.1412 11.8518,-59.5974 11.7582,-60.0483 11.6655,-60.5142 11.5731,-60.9727
        11.4722,-61.4265 11.3748,-61.8877 11.2859,-62.3451 11.1883,-62.7967 11.0924,-63.2578
        10.9859,-63.7137 10.8891,-64.1654 10.7914,-64.6197 10.6918,-65.0794 10.594,-65.5287
        10.4937,-65.9876 10.3844,-66.438 10.2831,-66.8941 10.1815,-67.3489 10.0786,-67.8052
        9.96798,-68.2[...]
