interactions:
- request:
    body: q=beginPosition%3A%5B2015-05-01T00%3A00%3A00Z+TO+2015-07-05T00%3A00%3A00Z%5D+AND+footprint%3A%22Intersects%28POLYGON%28%28-32.0555+-53.9320%2C-31.7484+-53.8674%2C-31.6460+-54.0397%2C-31.9544+-54.1045%2C-32.0555+-53.9320%29%29%29%22+AND+producttype%3AOCN
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-32.0555\
        \ -53.9320,-31.7484 -53.8674,-31.6460 -54.0397,-31.9544 -54.1045,-32.0555\
        \ -53.9320)))\\\" AND producttype:OCN\"\n   },\n   \"author\": {\"name\":\
        \ \"Sentinels Scientific Data Hub\"},\n   \"link\": [\n      {\n         \"\
        rel\": \"self\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-32.0555\
        \ -53.9320,-31.7484 -53.8674,-31.6460 -54.0397,-31.9544 -54.1045,-32.0555\
        \ -53.9320)))\\\" AND producttype:OCN&start=0&rows=100\",\n         \"type\"\
        : \"application/atom+xml\"\n      },\n      {\n         \"rel\": \"first\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-32.0555\
        \ -53.9320,-31.7484 -53.8674,-31.6460 -54.0397,-31.9544 -54.1045,-32.0555\
        \ -53.9320)))\\\" AND producttype:OCN&start=0&rows=100\",\n         \"type\"\
        : \"application/atom+xml\"\n      },\n      {\n         \"rel\": \"last\"\
        ,\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-32.0555\
        \ -53.9320,-31.7484 -53.8674,-31.6460 -54.0397,-31.9544 -54.1045,-32.0555\
        \ -53.9320)))\\\" AND producttype:OCN&start=2&rows=100\",\n         \"type\"\
        : \"application/atom+xml\"\n      },\n      {\n         \"rel\": \"search\"\
        ,\n         \"href\": \"opensearch_description.xml\",\n         \"type\":\
        \ \"application/opensearchdescription+xml\"\n      }\n   ],\n   \"title\"\
        : \"Sentinels Scientific Data Hub search results for: beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-32.0555\
        \ -53.9320,-31.7484 -53.8674,-31.6460 -54.0397,-31.9544 -54.1045,-32.0555\
        \ -53.9320)))\\\" AND producttype:OCN\",\n   \"opensearch:startIndex\": \"\
        0\",\n   \"opensearch:totalResults\": \"3\",\n   \"entry\": [\n      {\n \
        \        \"summary\": \"Date: 2015-06-19T21:10:30.362Z, Instrument: SAR-C\
        \ SAR, Mode: VV, Satellite: Sentinel-1, Size: 878.49 KB\",\n         \"str\"\
        : [\n            {\n               \"name\": \"processed\",\n            \
        \   \"content\": \"T\"\n            },\n            {\n               \"name\"\
        : \"acquisitiontype\",\n               \"content\": \"NOMINAL\"\n        \
        \    },\n            {\n               \"name\": \"filename\",\n         \
        \      \"content\": \"S1A_WV_OCN__2SSV_20150619T211030_20150619T211738_006447_008883_C1F4.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>-53.931267,-32.057858\
        \ -53.866734,-31.750776 -54.038925,-31.648441 -54.103718,-31.956841 -53.931267,-32.057858<\\\
        /gml:coordinates>\\n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\\
        n<\\/gml:Polygon>\"\n            },\n            {\n               \"name\"\
        : \"format\",\n               \"content\": \"SAFE\"\n            },\n    \
        \        {\n               \"name\": \"identifier\",\n               \"content\"\
        : \"S1A_WV_OCN__2SSV_2[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('f30b2a6a-b0c1-49f1-b19e-e10c3cf06101')?$format=json
  response:
    body: {string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/$value"},"Id":"f30b2a6a-b0c1-49f1-b19e-e10c3cf06101","Name":"S1A_WV_OCN__2SSV_20150619T211030_20150619T211738_006447_008883_C1F4","ContentType":"application/octet-stream","ContentLength":"539922","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1447805161063)\/","IngestionDate":"\/Date(1447805161063)\/","EvictionDate":null,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1434748230362)\/","End":"\/Date(1434748658785)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"E8C626CD343621C572F30BA1E0BF5AA7"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-53.931267,-32.057858
        -53.866734,-31.750776 -54.038925,-31.648441 -54.103718,-31.956841 -53.931267,-32.057858</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Metalink":"<?xml
        version=\"1.0\" encoding=\"UTF-8\" standalone=\"no\"?><metalink xmlns=\"urn:ietf:params:xml:ns:metalink\"><file
        name=\"S1A_WV_OCN__2SSV_20150619T211030_20150619T211738_006447_008883_C1F4.zip\"><hash
        type=\"MD5\">E8C626CD343621C572F30BA1E0BF5AA7</hash><size>539922</size><url>https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/$value</url></file></metalink>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''f30b2a6a-b0c1-49f1-b19e-e10c3cf06101'')/Class"}}}}'}
    headers:
      Content-Type: [application/json]
      DataServiceVersion: ['2.0']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('f30b2a6a-b0c1-49f1-b19e-e10c3cf06101')/$value
  response:
    body: {}
    headers:
      Content-Disposition: [inline;filename="S1A_WV_OCN__2SSV_20150619T211030_20150619T211738_006447_008883_C1F4.zip"]
      Content-Range: [bytes 0-539921/539922]
      Content-Type: [application/octet-stream]
      DataServiceVersion: ['2.0']
      ETag: [E8C626CD343621C572F30BA1E0BF5AA7]
      Last-Modified: ['Wed, 18 Nov 2015 00:06:01 UTC']
    status: {code: 200, message: OK}
[...]
- request:
    body: q=beginPosition%3A%5B2015-05-01T00%3A00%3A00Z+TO+2015-07-05T00%3A00%3A00Z%5D+AND+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22+AND+producttype%3AOCN
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\\\
        \" AND producttype:OCN\"\n   },\n   \"xmlns\": \"http://www.w3.org/2005/Atom\"\
        ,\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"subtitle\"\
        : \"Displaying 0 results. Request done in 1.061 seconds.\",\n   \"link\":\
        \ [\n      {\n         \"rel\": \"self\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-05-01T00:00:00Z\
        \ TO 2015-07-05T00:00:00Z] AND footprint:\\\"Intersects(POLYGON((-66.2695\
        \ -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('5618ce1b-923b-4df2-81d9-50b53e5aded9')/$value
  response:
    body: {}
    headers:
      Content-Disposition: [inline;filename="S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C.zip"]
      Content-Range: [bytes 0-130221/130222]
      Content-Type: [application/octet-stream]
      DataServiceVersion: ['2.0']
      ETag: [5D05813D2ABCAED0C2E9C04A8570997A]
      Last-Modified: ['Wed, 18 Nov 2015 08:53:00 UTC']
    status: {code: 200, message: OK}
version: 1
