interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-b3a1-c735d660c910')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/$value"},"Id":"1f62a176-c980-41dc-b3a1-c735d660c910","Name":"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E","ContentType":"application/octet-stream","ContentLength":"213433","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1447779361826)\/","IngestionDate":"\/Date(1447779361826)\/","ModificationDate":"\/Date(1619777802701)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1433323584921)\/","End":"\/Date(1433324013345)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"9eb46e4e31f77f108213e16bb8fbe088"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">   <gml:outerBoundaryIs>      <gml:LinearRing>         <gml:coordinates>42.260288,-47.310867
        42.298096,-47.558411 42.476940,-47.508129 42.439095,-47.259823 42.260288,-47.310867</gml:coordinates>      </gml:LinearRing>   </gml:outerBoundaryIs></gml:Polygon>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-b3a1-c735d660c910')/Nodes('S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Nodes(''S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-b3a1-c735d660c910')/Nodes('S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E.SAFE')/Nodes('manifest.safe')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="manifest.safe"
      content-range:
      - bytes 0-20331/20332
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - manifest.safe-20332
      last-modified:
      - Thu, 30 Apr 2020 10:58:36 UTC
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-b3a1-c735d660c910')/Nodes('S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-9560/9561
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-9561
      last-modified:
      - Thu, 30 Apr 2020 10:58:37 UTC
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('635a21d9-2c6a-4379-8541-9d012ad59dca')/Nodes('S2A_MSIL2A_20190528T113321_N0212_R080_T29UPB_20190528T142130.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"error":{"code":null,"message":{"lang":"en","value":null}}}'
    headers:
      cause-message:
      - NullPointerException
      content-type:
      - application/json
      dataserviceversion:
      - '1.0'
    status:
      code: 500
      message: Internal Server Error
[...]
