interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-02T00%3A00%3A00Z%5D+platformname%3ASentinel-3+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        4 results. Request done in 0.03 seconds.","updated":"2018-09-06T13:22:39.440Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"4","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] platformname:Sentinel-3 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=3&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3A_SR_1_SRA_A__20161201T131246_20161201T140315_20170627T120317_3029_011_295______MR1_R_NT_002","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1d16f909-de53-44b0-88ad-841b0cae5cbe'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1d16f909-de53-44b0-88ad-841b0cae5cbe'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''1d16f909-de53-44b0-88ad-841b0cae5cbe'')/Products(''Quicklook'')/$value"}],"id":"1d16f909-de53-44b0-88ad-841b0cae5cbe","summary":"Date:
        2016-12-01T13:12:45.561Z, Instrument: SRAL, Mode: , Satellite: Sentinel-3,
        Size: 2.34 GB","date":[{"name":"ingestiondate","content":"2017-09-25T23:35:12.563Z"},{"name":"beginposition","content":"2016-12-01T13:12:45.561Z"},{"name":"endposition","content":"2016-12-01T14:03:15.44Z"}],"int":[{"name":"lrmpercentage","content":"0"},{"name":"sarpercentage","content":"100"},{"name":"closedseapercentage","content":"0"},{"name":"continentalicepercentage","content":"9"},{"name":"landpercentage","content":"31"},{"name":"openseapercentage","content":"59"},{"name":"orbitnumber","content":"4118"},{"name":"relativeorbitnumber","content":"295"}],"str":[{"name":"filename","content":"S3A_SR_1_SRA_A__20161201T131246_20161201T140315_20170627T120317_3029_011_295______MR1_R_NT_002.SEN3"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>81.4238,43.1684
        81.2808,31.1073 80.7853,19.8774 79.9897,10.0818 78.9586,1.88186 77.7512,-4.8527
        76.4144,-10.3634 74.9825,-14.8969 73.4803,-18.6633 71.9251,-21.8296 70.3294,-24.524
        68.7021,-26.8443 67.05,-28.8649 65.3779,-30.643 63.6895,-32.2227 61.9877,-33.6387
        60.2746,-34.9181 58.552,-36.0828 56.8214,-37.1503 55.0837,-38.1347 53.34,-39.0478
        51.591,-39.8992 49.8372,-40.697 48.0793,-41.4479 46.3177,-42.1577 44.5526,-42.8313
        42.7846,-43.4728 41[...]
