interactions:
- request:
    body: q=beginPosition%3A%5BNOW-1DAY+TO+NOW%5D+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/dhus/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[NOW-1DAY TO NOW] footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        61 results. Request done in 0.006 seconds.","updated":"2018-10-26T07:48:06.845Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"61","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/dhus/search?q=beginPosition:[NOW-1DAY
        TO NOW] footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=60&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S1B_IW_SLC__1SDV_20181025T221410_20181025T221440_013314_0189DD_3136","link":[{"href":"https://scihub.copernicus.eu/dhus/odata/v1/Products(''adde4ad8-6319-4956-811c-da2991e099a2'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/dhus/odata/v1/Products(''adde4ad8-6319-4956-811c-da2991e099a2'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/dhus/odata/v1/Products(''adde4ad8-6319-4956-811c-da2991e099a2'')/Products(''Quicklook'')/$value"}],"id":"adde4ad8-6319-4956-811c-da2991e099a2","summary":"Date:
        2018-10-25T22:14:10.32Z, Instrument: SAR-C SAR, Mode: VV VH, Satellite: Sentinel-1,
        Size: 7.74 GB","date":[{"name":"ingestiondate","content":"2018-10-26T03:17:11.35Z"},{"name":"beginposition","content":"2018-10-25T22:14:10.32Z"},{"name":"endposition","content":"2018-10-25T22:14:40.136Z"}],"int":[{"name":"missiondatatakeid","content":"100829"},{"name":"orbitnumber","content":"13314"},{"name":"lastorbitnumber","content":"13314"},{"name":"relativeorbitnumber","content":"163"},{"name":"lastrelativeorbitnumber","content":"163"},{"name":"slicenumber","content":"1"}],"str":[{"name":"acquisitiontype","content":"NOMINAL"},{"name":"filename","content":"S1B_IW_SLC__1SDV_20181025T221410_20181025T221440_013314_0189DD_3136.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>0.184564,-60.286964
        0.660693,-58.067539 -1.136703,-57.686981 -1.618645,-59.907574 0.184564,-60.286964</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S1B_IW_SLC__1SDV_20181025T221410_20181025T221440_013314_0189DD_3136"},{"name":"instrumentshortname","content":"SAR-C
        SAR"},{"name":"sensoroperationalmode","content":"IW"},{"name":"instrumentname","content":"Synthetic
        Ap[...]
