interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z-1DAY+TO+2016-12-01T00%3A00%3A00Z%2B1DAY-1HOUR%5D+footprint%3A%22Intersects%28ENVELOPE%280%2C+1%2C+1%2C+0%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 1,
        1, 0))\"","subtitle":"Displaying 6 results. Request done in 0.019 seconds.","updated":"2019-04-23T00:29:04.000Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 1,
        1, 0))\"","opensearch:totalResults":"6","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 1,
        1, 0))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 1,
        1, 0))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 1,
        1, 0))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z-1DAY
        TO 2016-12-01T00:00:00Z+1DAY-1HOUR] footprint:\"Intersects(ENVELOPE(0, 1,
        1, 0))\"&start=5&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S3A_SL_1_RBT____20161201T101338_20161201T101638_20181003T135527_0179_011_293______LR1_R_NT_003","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''7acd352f-91af-45cf-b86b-f359f002d19d'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''7acd352f-91af-45cf-b86b-f359f002d19d'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''7acd352f-91af-45cf-b86b-f359f002d19d'')/Products(''Quicklook'')/$value"}],"id":"7acd352f-91af-45cf-b86b-f359f002d19d","summary":"Date:
        2016-12-01T10:13:37.506Z, Instrument: SLSTR, Mode: , Satellite: Sentinel-3,
        Size: 527.85 MB","date":[{"name":"beginposition","content":"2016-12-01T10:13:37.506Z"},{"name":"endposition","content":"2016-12-01T10:16:37.506Z"},{"name":"creationdate","content":"2018-10-03T13:55:27Z"},{"name":"ingestiondate","content":"2019-01-31T20:45:07.556Z"}],"int":[{"name":"orbitnumber","content":"4116"},{"name":"relativeorbitnumber","content":"293"}],"str":[{"name":"ecmwf","content":"ANALYSIS"},{"name":"productlevel","content":"L1"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-0.214059,-13.2624
        -0.315768,-12.8156 -0.417458,-12.3687 -0.51912,-11.9218 -0.620751,-11.4749
        -0.73205,-11.0229 -0.828144,-10.578 -0.925386,-10.1341 -1.02993,-9.68138 -1.1282,-9.24008
        -1.23129,-8.78577 -1.33704,-8.33869 -1.43188,-7.89884 -1.54044,-7.45121 -1.63716,-6.99628
        -1.73477,-6.55724 -1.83882,-6.10668 -1.94407,-5.65506 -2.04629,-5.20937 -2.13901,-4.76459
        -2.24247,-4.31446 -2.34399,-3.87153 -2.43821,-3.42441 -2.54074,-2.97251 -2.6435,-2.52304
       [...]
