interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('fdf6b29c-da32-4923-a543-270c89a3dd62')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')","uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/$value","edit_media":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/$value"},"Id":"fdf6b29c-da32-4923-a543-270c89a3dd62","Name":"S1B_IW_RAW__0SSV_20170329T103209_20170329T103242_004922_0089AD_2DDD","ContentType":"application/octet-stream","ContentLength":"4828","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1559032949166)\/","IngestionDate":"\/Date(1490792296140)\/","ModificationDate":"\/Date(1490792337187)\/","EvictionDate":null,"Online":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1490783529963)\/","End":"\/Date(1490783562363)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"B8BD328A55FAB0946DD079164671AFD5"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">   <gml:outerBoundaryIs>      <gml:LinearRing>         <gml:coordinates>11.1583,-71.9768
        9.2012,-72.3679 8.9074,-70.1565 10.8685,-69.7517 11.1583,-71.9768 11.1583,-71.9768</gml:coordinates>      </gml:LinearRing>   </gml:outerBoundaryIs></gml:Polygon>","Products":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/Products"}},"Nodes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/Attributes"}},"Class":{"__deferred":{"uri":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''fdf6b29c-da32-4923-a543-270c89a3dd62'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('fdf6b29c-da32-4923-a543-270c89a3dd62')/$value
  response:
    body:
      string: ''
    headers:
      dataserviceversion:
      - '2.0'
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
    method: HEAD
    uri: https://scihub.copernicus.eu/apihub/odata/v1/Products('d8340134-878f-4891-ba4f-4df54f1e3ab4')/$value
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline;filename="S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A.zip"
      content-range:
      - bytes 0-213392/213393
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - a52ff03603400fbbe14727af518b425b
      last-modified:
      - Wed, 19 Jun 2019 06:21:13 UTC
    status:
      code: 200
      message: OK
[...]
