interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://nominatim.openstreetmap.org/search?q=Metz&format=geojson
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. https://osm.org/copyright\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"place_id\":258831515,\"osm_type\":\"relation\",\"osm_id\":450381,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":16,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.7519914762865919,\"icon\":\"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png\"},\"bbox\":[6.1360042,49.0608244,6.256451,49.1487955],\"geometry\":{\"type\":\"Point\",\"coordinates\":[6.1763552,49.1196964]}},{\"type\":\"Feature\",\"properties\":{\"place_id\":259358988,\"osm_type\":\"relation\",\"osm_id\":5524891,\"display_name\":\"Metz,
        Moselle, Grand Est, France m\xE9tropolitaine, France\",\"place_rank\":14,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.5802836358825189,\"icon\":\"https://nominatim.openstreetmap.org/ui/mapicons//poi_boundary_administrative.p.20.png\"},\"bbox\":[5.9245677,48.9047808,6.5006806,49.2727216],\"geometry\":{\"type\"[...]
- request:
    body: q=beginPosition%3A%5B%22NOW-1DAY%22+TO+%22NOW%22%5D+footprint%3A%22Intersects%28ENVELOPE%286.1360042%2C+6.256451%2C+49.1487955%2C+49.0608244%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=1&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[\"NOW-1DAY\" TO \"NOW\"]
        footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451, 49.1487955, 49.0608244))\"","subtitle":"Displaying
        0 to 0 of 12 total results. Request done in 0.002 seconds.","updated":"2021-05-02T18:58:10.533Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451, 49.1487955,
        49.0608244))\"","opensearch:totalResults":"12","opensearch:startIndex":"0","opensearch:itemsPerPage":"1","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451, 49.1487955,
        49.0608244))\"","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451, 49.1487955,
        49.0608244))\"&start=0&rows=1&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451, 49.1487955,
        49.0608244))\"&start=0&rows=1&format=json"},{"rel":"next","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451, 49.1487955,
        49.0608244))\"&start=1&rows=1&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=beginPosition:[\"NOW-1DAY\"
        TO \"NOW\"] footprint:\"Intersects(ENVELOPE(6.1360042, 6.256451, 49.1487955,
        49.0608244))\"&start=11&rows=1&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":{"title":"S3A_SL_1_RBT____20210502T094319_20210502T094619_20210502T120733_0179_071_193_2160_LN2_O_NR_004","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''de039661-38f6-4f03-8480-79362dcdf619'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''de039661-38f6-4f03-8480-79362dcdf619'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''de039661-38f6-4f03-8480-79362dcdf619'')/Products(''Quicklook'')/$value"}],"id":"de039661-38f6-4f03-8480-79362dcdf619","summary":"Date:
        2021-05-02T09:43:18.507Z, Instrument: SLSTR, Satellite: Sentinel-3, Size:
        466.51 MB","ondemand":"false","date":[{"name":"beginposition","content":"2021-05-02T09:43:18.507Z"},{"name":"endposition","content":"2021-05-02T09:46:18.507Z"},{"name":"creationdate","content":"2021-05-02T00:07:33Z"},{"name":"ingestiondate","content":"2021-05-02T12:18:55.063Z"}],"int":[{"name":"relativeorbitnumber","content":"193"},{"name":"orbitnumber","content":"27116"}],"str":[{"name":"ecmwf","content":"FORECAST"},{"name":"filename","content":"S3A_SL_1_RBT____20210502T094319_20210502T094619_20210502T120733_0179_071_193_2160_LN2_O_NR_004.SEN3"},{"name":"format","content":"SAFE"},{"name":"identifier","content":"S3A_SL_1_RBT____20210502T094319_20210502T094619_20210502T120733_0179_071_193_2160_LN2_O_NR_004"},{"name":"instrumentshortname","content":"SLSTR"},{"name":"sensoroperationalmode","content":"Earth
        Observation"},{"name":"instrumentname","content":"Sea and L[...]
