interactions:
- request:
    body: q=beginPosition%3A%5B2016-12-01T00%3A00%3A00Z+TO+2016-12-02T00%3A00%3A00Z%5D+producttype%3AS2MSI1C+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        13 results. Request done in 0.055 seconds.","updated":"2018-09-06T13:22:43.746Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"13","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2016-12-01T00:00:00Z
        TO 2016-12-02T00:00:00Z] producttype:S2MSI1C footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=12&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2A_MSIL1C_20161201T141042_N0204_R110_T21MUN_20161201T141043","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8f68c012-2106-4ca7-8e7d-d85ea71efd80'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8f68c012-2106-4ca7-8e7d-d85ea71efd80'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''8f68c012-2106-4ca7-8e7d-d85ea71efd80'')/Products(''Quicklook'')/$value"}],"id":"8f68c012-2106-4ca7-8e7d-d85ea71efd80","summary":"Date:
        2016-12-01T14:10:42.026Z, Instrument: MSI, Mode: , Satellite: Sentinel-2,
        Size: 451.66 MB","date":[{"name":"datatakesensingstart","content":"2016-12-01T14:10:42.026Z"},{"name":"ingestiondate","content":"2018-02-20T14:20:11.792Z"},{"name":"beginposition","content":"2016-12-01T14:10:42.026Z"},{"name":"endposition","content":"2016-12-01T14:10:42.026Z"}],"int":[{"name":"orbitnumber","content":"7543"},{"name":"relativeorbitnumber","content":"110"}],"double":{"name":"cloudcoverpercentage","content":"100.0"},"str":[{"name":"filename","content":"S2A_MSIL1C_20161201T141042_N0204_R110_T21MUN_20161201T141043.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-7.322697003784302,-58.60963459403633
        -7.319307875457226,-58.6088655294866 -7.170910284116077,-58.575577137290495
        -7.022592290492521,-58.54202656612717 -6.874199364182067,-58.5086116009075
        -6.725704846375042,-58.47527944052532 -6.577266748548857,-58.441602435516
        -6.428721276101276,-58.408106687106766 -6.330417652931396,-58.38602488559186
        -6.331858920051649,-57.81551958668987 -7.325011235731498,-57.81720304463014
        -7.322697003784302,-58.6096345[...]
