interactions:
- request:
    body: q=beginPosition%3A%5B2015-12-01T00%3A00%3A00Z-1DAY+TO+2015-12-01T00%3A00%3A00Z%252B1DAY-1HOUR%5D+footprint%3A%22Intersects%28ENVELOPE%280%2C+10%2C+10%2C+0%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[2015-12-01T00:00:00Z-1DAY\
        \ TO 2015-12-01T00:00:00Z%2B1DAY-1HOUR] footprint:\\\"Intersects(ENVELOPE(0,\
        \ 10, 10, 0))\\\"\"\n   },\n   \"author\": {\"name\": \"Sentinels Scientific\
        \ Data Hub\"},\n   \"link\": [\n      {\n         \"rel\": \"self\",\n   \
        \      \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-01T00:00:00Z-1DAY\
        \ TO 2015-12-01T00:00:00Z%2B1DAY-1HOUR] footprint:\\\"Intersects(ENVELOPE(0,\
        \ 10, 10, 0))\\\"&start=0&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-01T00:00:00Z-1DAY\
        \ TO 2015-12-01T00:00:00Z%2B1DAY-1HOUR] footprint:\\\"Intersects(ENVELOPE(0,\
        \ 10, 10, 0))\\\"&start=0&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-01T00:00:00Z-1DAY\
        \ TO 2015-12-01T00:00:00Z%2B1DAY-1HOUR] footprint:\\\"Intersects(ENVELOPE(0,\
        \ 10, 10, 0))\\\"&start=21&rows=100\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"search\",\n         \"href\": \"\
        opensearch_description.xml\",\n         \"type\": \"application/opensearchdescription+xml\"\
        \n      }\n   ],\n   \"title\": \"Sentinels Scientific Data Hub search results\
        \ for: beginPosition:[2015-12-01T00:00:00Z-1DAY TO 2015-12-01T00:00:00Z%2B1DAY-1HOUR]\
        \ footprint:\\\"Intersects(ENVELOPE(0, 10, 10, 0))\\\"\",\n   \"opensearch:startIndex\"\
        : \"0\",\n   \"opensearch:totalResults\": \"22\",\n   \"entry\": [\n     \
        \ {\n         \"summary\": \"Date: 2015-12-01T17:46:09.185Z, Instrument: SAR-C\
        \ SAR, Mode: VV VH, Satellite: Sentinel-1, Size: 6.92 GB\",\n         \"str\"\
        : [\n            {\n               \"name\": \"acquisitiontype\",\n      \
        \         \"content\": \"NOMINAL\"\n            },\n            {\n      \
        \         \"name\": \"filename\",\n               \"content\": \"S1A_IW_SLC__1SDV_20151201T174609_20151201T174636_008852_00CA51_E1D1.SAFE\"\
        \n            },\n            {\n               \"name\": \"gmlfootprint\"\
        ,\n               \"content\": \"<gml:Polygon srsName=\\\"http://www.opengis.net/gml/srs/epsg.xml#4326\\\
        \" xmlns:gml=\\\"http://www.opengis.net/gml\\\">\\n   <gml:outerBoundaryIs>\\\
        n      <gml:LinearRing>\\n         <gml:coordinates>11.472023,5.271984 11.915055,7.533403\
        \ 10.290114,7.855282 9.842856,5.606579 11.472023,5.271984<\\/gml:coordinates>\\\
        n      <\\/gml:LinearRing>\\n   <\\/gml:outerBoundaryIs>\\n<\\/gml:Polygon>\"\
        \n            },\n            {\n               \"name\": \"format\",\n  \
        \             \"content\": \"SAFE\"\n            },\n            {\n     \
        \          \"name\": \"identifier\",\n               \"content\": \"S1A_IW_SLC__1SDV_20151201T174609_20151201T1[...]
