interactions:
- request:
    body: q=%D9%A9%28%E2%97%8F%CC%AE%CC%AE%CC%83%E2%80%A2%CC%83%29%DB%B6%3A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=0&start=0
  response:
    body:
      string: "{\"feed\":{\"xmlns:opensearch\":\"http://a9.com/-/spec/opensearch/1.1/\",\"xmlns\":\"http://www.w3.org/2005/Atom\",\"error\":{\"code\":\"400\",\"message\":\"org.apache.solr.search.SyntaxError:
        Cannot parse '\u0669(\u25CF\u032E\u032E\u0303\u2022\u0303)\u06F6:': Encountered
        \\\"<EOF>\\\" at line 1, column 11.\\nWas expecting one of:\\n    <BAREOPER>
        ...\\n    \\\"(\\\" ...\\n    \\\"*\\\" ...\\n    <QUOTED> ...\\n    <TERM>
        ...\\n    <PREFIXTERM> ...\\n    <WILDTERM> ...\\n    <REGEXPTERM> ...\\n
        \   \\\"[\\\" ...\\n    \\\"{\\\" ...\\n    <LPARAMS> ...\\n    \\\"filter(\\\"
        ...\\n    <NUMBER> ...\\n    \"}}}"
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('%D9%A9(%E2%97%8F%CC%AE%CC%AE%CC%83%E2%80%A2%CC%83)%DB%B6:')?$format=json
  response:
    body:
      string: "{\"error\":{\"code\":null,\"message\":{\"lang\":\"en\",\"value\":\"Invalid
        key (\u0669(\u25CF\u032E\u032E\u0303\u2022\u0303)\u06F6:) to access Products\"}}}"
    headers:
      cause-message:
      - 'InvalidKeyException : Invalid key (?(??????)?:) to access Products'
      content-type:
      - application/json
      dataserviceversion:
      - '1.0'
    status:
      code: 404
      message: Not Found
version: 1
