interactions:
- request:
    body: q=xxx%3Ayyy
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","error":{"code":"400","message":"undefined
        field xxx"}}}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
