interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-b3a1-c735d660c910')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/$value"},"Id":"1f62a176-c980-41dc-b3a1-c735d660c910","Name":"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E","ContentType":"application/octet-stream","ContentLength":"213433","ChildrenNumber":"0","Value":null,"CreationDate":"\/Date(1447779361826)\/","IngestionDate":"\/Date(1447779361826)\/","ModificationDate":"\/Date(1619777802701)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1433323584921)\/","End":"\/Date(1433324013345)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"9eb46e4e31f77f108213e16bb8fbe088"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">   <gml:outerBoundaryIs>      <gml:LinearRing>         <gml:coordinates>42.260288,-47.310867
        42.298096,-47.558411 42.476940,-47.508129 42.439095,-47.259823 42.260288,-47.310867</gml:coordinates>      </gml:LinearRing>   </gml:outerBoundaryIs></gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1f62a176-c980-41dc-b3a1-c735d660c910'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: HEAD
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1f62a176-c980-41dc-b3a1-c735d660c910')/$value
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline;filename="S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E.zip"
      content-range:
      - bytes 0-213432/213433
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - 9eb46e4e31f77f108213e16bb8fbe088
      last-modified:
      - Tue, 17 Nov 2015 16:56:01 UTC
    status:
      code: 200
      message: OK
[...]
- request:
    body: q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E+OR+S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A+OR+S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://apihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C","subtitle":"Displaying
        3 results. Request done in 0.033 seconds.","updated":"2021-04-30T17:41:45.297Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://apihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C","opensearch:totalResults":"3","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C","startPage":"1"},"link":[{"rel":"self","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C&start=0&rows=100&format=json"},{"rel":"first","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C&start=0&rows=100&format=json"},{"rel":"last","type":"application/json","href":"https://apihub.copernicus.eu/apihub/search?q=S1A_WV_OCN__2SSH_20150603T092625_20150603T093332_006207_008194_521E
        OR S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A OR
        S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C&start=2&rows=100&format=json"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C","link":[{"href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/$value"},{"rel":"alternative","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/"},{"rel":"icon","href":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''5618ce1b-923b-4df2-81d9-50b53e5aded9'')/Products(''Quicklook'')/$value"}],"id":"5618ce1b-923b-4df2-81d9-50b53e5aded9","summary":"Date:
        2015-05-26T08:16:40.873Z, Instrument: SAR-C SAR, Mode: VV, Satellite: Sentinel-1,
        Size: 11.09 KB","ondemand":"false","date":[{"name":"ingestiondate","content":"2015-11-18T08:53:00.497Z"},{"name":"beginposition","content":"2015-05-26T08:16:40.873Z"},{"name":"endposition","content":"2015-05-26T08:24:18.591Z"}],"int":[{"name":"missiondatatakeid","content":"32318"},{"name":"orbitnumber","content":"6090"},{"name":"lastorbitnumber","content":"6090"},{"name":"relativeorbitnumber","content":"68"},{"name":"lastrelativeorbitnumber","content":"68"}],"str":[{"name":"acquisitiontype","content":"NOMINAL"},{"name":"filename","content":"S1A_WV_OCN__2SSV_20150526T081641_20150526T082418_006090_007E3E_104C.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>3.979146,147.846664
        4.018075,148.030945 3.837322,148.068436 3.798364,147.884155 3.979146,147.846664</gml:coo[...]
[...]
- request:
    body: null
    headers:
    method: HEAD
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('d8340134-878f-4891-ba4f-4df54f1e3ab4')/$value
  response:
    body:
      string: ''
    headers:
      content-disposition:
      - inline;filename="S1A_WV_OCN__2SSV_20150526T211029_20150526T211737_006097_007E78_134A.zip"
      content-range:
      - bytes 0-213690/213691
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - 9ae4d76b566f94af54a2ef14c8709da9
      last-modified:
      - Tue, 17 Nov 2015 23:28:01 UTC
    status:
      code: 200
      message: OK
version: 1
