interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1e2f27fc-637a-4537-9e45-86f1cc7161f8')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1e2f27fc-637a-4537-9e45-86f1cc7161f8'')","uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1e2f27fc-637a-4537-9e45-86f1cc7161f8'')","type":"DHuS.Product","content_type":"application/octet-stream","media_src":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1e2f27fc-637a-4537-9e45-86f1cc7161f8'')/$value","edit_media":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1e2f27fc-637a-4537-9e45-86f1cc7161f8'')/$value"},"Id":"1e2f27fc-637a-4537-9e45-86f1cc7161f8","Name":"S1A_IW_GRDH_1SDV_20230309T231138_20230309T231203_047574_05B68C_F846","ContentType":"application/octet-stream","ContentLength":"789051771","ChildrenNumber":"2","Value":null,"CreationDate":"\/Date(1678439664362)\/","IngestionDate":"\/Date(1678439436465)\/","ModificationDate":"\/Date(1678439664362)\/","EvictionDate":null,"Online":true,"OnDemand":false,"ContentDate":{"__metadata":{"type":"DHuS.TimeRange"},"Start":"\/Date(1678403498760)\/","End":"\/Date(1678403523757)\/"},"Checksum":{"__metadata":{"type":"DHuS.Checksum"},"Algorithm":"MD5","Value":"dec5548d38a8e263d3c26fe99bd4f098"},"ContentGeometry":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>25.553894,-77.905396
        25.977318,-75.365791 24.471569,-75.073135 24.045076,-77.581322 25.553894,-77.905396</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>","Products":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1e2f27fc-637a-4537-9e45-86f1cc7161f8'')/Products"}},"Nodes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1e2f27fc-637a-4537-9e45-86f1cc7161f8'')/Nodes"}},"Attributes":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1e2f27fc-637a-4537-9e45-86f1cc7161f8'')/Attributes"}},"Class":{"__deferred":{"uri":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1e2f27fc-637a-4537-9e45-86f1cc7161f8'')/Class"}}}}'
    headers:
      content-type:
      - application/json
      dataserviceversion:
      - '2.0'
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
      Range:
      - bytes=0-1
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1e2f27fc-637a-4537-9e45-86f1cc7161f8')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="S1A_IW_GRDH_1SDV_20230309T231138_20230309T231203_047574_05B68C_F846.zip"
      content-range:
      - bytes 0-1/789051771
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - dec5548d38a8e263d3c26fe99bd4f098
    status:
      code: 206
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1e2f27fc-637a-4537-9e45-86f1cc7161f8')/Nodes('S1A_IW_GRDH_1SDV_20230309T231138_20230309T231203_047574_05B68C_F846.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''1e2f27fc-637a-4537-9e45-86f1cc7161f8'')/Nodes(''S1A_IW_GRDH_1SDV_20230309T231138_20230309T231203_047574_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1e2f27fc-637a-4537-9e45-86f1cc7161f8')/Nodes('S1A_IW_GRDH_1SDV_20230309T231138_20230309T231203_047574_05B68C_F846.SAFE')/Nodes('manifest.safe')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="manifest.safe"
      content-range:
      - bytes 0-24004/24005
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - manifest.safe-24005
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('1e2f27fc-637a-4537-9e45-86f1cc7161f8')/Nodes('S1A_IW_GRDH_1SDV_20230309T231138_20230309T231203_047574_05B68C_F846.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-1021/1022
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-1022
    status:
      code: 200
      message: ''
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('753c29d7-42c4-4ff9-a962-bfb4219816c6')/Nodes('S1A_IW_GRDH_1SDV_20230310T075746_20230310T075811_047579_05B6B2_8312.SAFE')/Nodes('manifest.safe')?$format=json
  response:
    body:
      string: '{"d":{"__metadata":{"id":"https://apihub.copernicus.eu/apihub/odata/v1/Products(''753c29d7-42c4-4ff9-a962-bfb4219816c6'')/Nodes(''S1A_IW_GRDH_1SDV_20230310T075746_20230310T075811_047579_0[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('753c29d7-42c4-4ff9-a962-bfb4219816c6')/Nodes('S1A_IW_GRDH_1SDV_20230310T075746_20230310T075811_047579_05B6B2_8312.SAFE')/Nodes('manifest.safe')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="manifest.safe"
      content-range:
      - bytes 0-24001/24002
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - manifest.safe-24002
    status:
      code: 200
      message: ''
- request:
    body: null
    headers:
    method: GET
    uri: https://apihub.copernicus.eu/apihub/odata/v1/Products('753c29d7-42c4-4ff9-a962-bfb4219816c6')/Nodes('S1A_IW_GRDH_1SDV_20230310T075746_20230310T075811_047579_05B6B2_8312.SAFE')/Nodes('preview')/Nodes('map-overlay.kml')/$value
  response:
    body: {}
    headers:
      content-disposition:
      - inline;filename="map-overlay.kml"
      content-range:
      - bytes 0-1021/1022
      content-type:
      - application/octet-stream
      dataserviceversion:
      - '2.0'
      etag:
      - map-overlay.kml-1022
    status:
      code: 200
      message: ''
version: 1
