interactions:
- request:
    body: q=beginPosition%3A%5B2015-01-01T00%3A00%3A00Z+TO+2015-12-31T00%3A00%3A00Z%5D
    headers:
      Content-Type: [application/x-www-form-urlencoded]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=0&start=0
  response:
    body: {string: "{\"feed\": {\n   \"opensearch:Query\": {\n      \"startPage\"\
        : \"1\",\n      \"role\": \"request\",\n      \"searchTerms\": \"beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]\"\n   },\n   \"xmlns\": \"http://www.w3.org/2005/Atom\"\
        ,\n   \"author\": {\"name\": \"Sentinels Scientific Data Hub\"},\n   \"subtitle\"\
        : \"Displaying 0 to -1 of 384548 total results. Request done in 0.034 seconds.\"\
        ,\n   \"link\": [\n      {\n         \"rel\": \"self\",\n         \"href\"\
        : \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]&start=0&rows=0\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"first\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]&start=0&rows=0\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"next\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]&start=NaN&rows=0\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"last\",\n         \"href\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]&start=384547&rows=0\",\n         \"type\": \"application/atom+xml\"\
        \n      },\n      {\n         \"rel\": \"search\",\n         \"href\": \"\
        opensearch_description.xml\",\n         \"type\": \"application/opensearchdescription+xml\"\
        \n      }\n   ],\n   \"opensearch:itemsPerPage\": \"0\",\n   \"id\": \"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-01-01T00:00:00Z\
        \ TO 2015-12-31T00:00:00Z]\",\n   \"title\": \"Sentinels Scientific Data Hub\
        \ search results for: beginPosition:[2015-01-01T00:00:00Z TO 2015-12-31T00:00:00Z]\"\
        ,\n   \"opensearch:startIndex\": \"0\",\n   \"updated\": \"2017-06-09T19:43:05.377Z\"\
        ,\n   \"opensearch:totalResults\": \"384548\",\n   \"xmlns:opensearch\": \"\
        http://a9.com/-/spec/opensearch/1.1/\"\n}}"}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
version: 1
