interactions:
- request:
    body: q=beginPosition%3A%5B2015-12-19T00%3A00%3A00Z+TO+2015-12-28T00%3A00%3A00Z%5D+platformname%3ASentinel-2+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-2 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        11 results. Request done in 0.033 seconds.","updated":"2018-09-06T13:22:44.273Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-2 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"11","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-2 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-2 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-2 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] platformname:Sentinel-2 footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=10&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2A_OPER_PRD_MSIL1C_PDMC_20151228T112523_R110_V20151227T142229_20151227T142229","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''44517f66-9845-4792-a988-b5ae6e81fd3e'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''44517f66-9845-4792-a988-b5ae6e81fd3e'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''44517f66-9845-4792-a988-b5ae6e81fd3e'')/Products(''Quicklook'')/$value"}],"id":"44517f66-9845-4792-a988-b5ae6e81fd3e","summary":"Date:
        2015-12-27T14:22:29Z, Instrument: MSI, Mode: , Satellite: Sentinel-2, Size:
        5.50 GB","date":[{"name":"ingestiondate","content":"2015-12-28T10:57:13.725Z"},{"name":"beginposition","content":"2015-12-27T14:22:29Z"},{"name":"endposition","content":"2015-12-27T14:22:29Z"}],"int":[{"name":"orbitnumber","content":"2681"},{"name":"relativeorbitnumber","content":"110"}],"double":{"name":"cloudcoverpercentage","content":"18.153846153846153"},"str":[{"name":"filename","content":"S2A_OPER_PRD_MSIL1C_PDMC_20151228T112523_R110_V20151227T142229_20151227T142229.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-4.565257232533263,-58.80274769505742
        -5.513960396525286,-58.80535376268811 -5.515947033626909,-57.90315169909761
        -5.516014389089381,-57.903151791669515 -5.516044812342758,-57.85874693129081
        -5.516142631941845,-57.814323596961835 -5.516075248310466,-57.81432351345917
        -5.516633044843839,-57.00018056571297 -5.516700066819259,-57.000180565731384
        -5.51666329264377,-56.95603179187787 -5.516693539799448,-56.91188395837315
        -5.51662651925904,-56.9118[...]
