interactions:
- request:
    body: q=beginPosition%3A%5B2015-12-19T00%3A00%3A00Z+TO+2015-12-28T00%3A00%3A00Z%5D+cloudcoverpercentage%3A%5B0+TO+10%5D+platformname%3ASentinel-2+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying 3 results.
        Request done in 0.182 seconds.","updated":"2018-09-06T13:22:36.987Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"3","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=2&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2A_OPER_PRD_MSIL1C_PDMC_20151228T112701_R110_V20151227T142229_20151227T142229","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''6ed0b7de-3435-43df-98bf-ad63c8d077ef'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''6ed0b7de-3435-43df-98bf-ad63c8d077ef'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''6ed0b7de-3435-43df-98bf-ad63c8d077ef'')/Products(''Quicklook'')/$value"}],"id":"6ed0b7de-3435-43df-98bf-ad63c8d077ef","summary":"Date:
        2015-12-27T14:22:29Z, Instrument: MSI, Mode: , Satellite: Sentinel-2, Size:
        5.47 GB","date":[{"name":"ingestiondate","content":"2015-12-28T10:57:09.913Z"},{"name":"beginposition","content":"2015-12-27T14:22:29Z"},{"name":"endposition","content":"2015-12-27T14:22:29Z"}],"int":[{"name":"orbitnumber","content":"2681"},{"name":"relativeorbitnumber","content":"110"}],"double":{"name":"cloudcoverpercentage","content":"5.166666666666667"},"str":[{"name":"filename","content":"S2A_OPER_PRD_MSIL1C_PDMC_20151228T112701_R110_V20151227T142229_20151227T142229.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-7.277741311151398,-58.81156740766095
        -8.226396486361141,-58.81561785311765 -8.229371267918506,-57.90828889229284
        -8.229472125991359,-57.908289107748466 -8.229517681770952,-57.863631654095585
        -8.229664156708727,-57.818955784450985 -8.22956325653525,-57.81895559010358
        -8.230398500927846,-57.00018159295572 -8.230498859705568,-57.00018159299859
        -8.2304437940123,-56.95578165428923 -8.23048908614055,-56.911382652974034
        -8.23038872950755,-56.911382[...]
