interactions:
- request:
    body: null
    headers:
    method: POST
    uri: https://nominatim.openstreetmap.org/search?q=florida&format=geojson
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. https://osm.org/copyright\",\"features\":[{\"type\":\"Feature\",\"properties\":{\"place_id\":198182241,\"osm_type\":\"relation\",\"osm_id\":162050,\"display_name\":\"Florida,
        USA\",\"place_rank\":8,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.870927590329201,\"icon\":\"https://nominatim.openstreetmap.org/images/mapicons/poi_boundary_administrative.p.20.png\"},\"bbox\":[-87.634896,24.396308,-79.974306,31.000968],\"geometry\":{\"type\":\"Point\",\"coordinates\":[-81.4639835,27.7567667]}},{\"type\":\"Feature\",\"properties\":{\"place_id\":197938757,\"osm_type\":\"relation\",\"osm_id\":224590,\"display_name\":\"La
        Florida, Provincia de Santiago, Regi\xF3n Metropolitana de Santiago, Chile\",\"place_rank\":16,\"category\":\"boundary\",\"type\":\"administrative\",\"importance\":0.45795993119606304,\"icon\":\"https://nominatim.openstreetmap.org/images/mapicons/poi_boundary_administrative.p.20.png\"},\"bbox\":[-70.6147691,-33.5703843,-70.4369093,-33.4[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://nominatim.openstreetmap.org/search?q=%21%40%23%24%25%5E&format=geojson
  response:
    body:
      string: "{\"type\":\"FeatureCollection\",\"licence\":\"Data \xA9 OpenStreetMap
        contributors, ODbL 1.0. https://osm.org/copyright\",\"features\":[]}"
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Upgrade:
      - h2
    status:
      code: 200
      message: OK
version: 1
