interactions:
- request:
    body: q=beginPosition%3A%5B2014-12-05T00%3A00%3A00Z+TO+2014-12-08T00%3A00%3A00Z%5D+producttype%3AGRD+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2014-12-05T00:00:00Z
        TO 2014-12-08T00:00:00Z] producttype:GRD footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying
        1 results. Request done in 0.563 seconds.","updated":"2018-09-06T13:22:35.908Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2014-12-05T00:00:00Z
        TO 2014-12-08T00:00:00Z] producttype:GRD footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"1","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2014-12-05T00:00:00Z
        TO 2014-12-08T00:00:00Z] producttype:GRD footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2014-12-05T00:00:00Z
        TO 2014-12-08T00:00:00Z] producttype:GRD footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2014-12-05T00:00:00Z
        TO 2014-12-08T00:00:00Z] producttype:GRD footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2014-12-05T00:00:00Z
        TO 2014-12-08T00:00:00Z] producttype:GRD footprint:\"Intersects(POLYGON((-66.2695
        -8.0592,-66.2695 0.7031,-57.3047 0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":{"title":"S1A_S2_GRDH_1SDH_20141206T223726_20141206T223750_003604_00442F_CF75","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''eb684a80-be6a-483f-8270-b4abec35af02'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''eb684a80-be6a-483f-8270-b4abec35af02'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''eb684a80-be6a-483f-8270-b4abec35af02'')/Products(''Quicklook'')/$value"}],"id":"eb684a80-be6a-483f-8270-b4abec35af02","summary":"Date:
        2014-12-06T22:37:26.852Z, Instrument: SAR-C SAR, Mode: HH HV, Satellite: Sentinel-1,
        Size: 507 MB","date":[{"name":"beginposition","content":"2014-12-06T22:37:26.852Z"},{"name":"endposition","content":"2014-12-06T22:37:50.884Z"},{"name":"ingestiondate","content":"2014-12-07T01:22:53Z"}],"int":[{"name":"missiondatatakeid","content":"17455"},{"name":"slicenumber","content":"0"},{"name":"orbitnumber","content":"3604"},{"name":"lastorbitnumber","content":"3604"},{"name":"relativeorbitnumber","content":"32"},{"name":"lastrelativeorbitnumber","content":"32"}],"str":[{"name":"sensoroperationalmode","content":"SM"},{"name":"swathidentifier","content":"S2"},{"name":"orbitdirection","content":"ASCENDING"},{"name":"producttype","content":"GRD"},{"name":"platformname","content":"Sentinel-1"},{"name":"platformidentifier","content":"0000-000A"},{"name":"instrumentname","content":"Synthetic
        Aperture Radar (C-band)"},{"name":"instrumentshortname","content":"SAR-C SAR"},{"name":"filename","content":"S1A_S2_GRDH_1SDH_20141206T223726_20141206T223750_003604_00442F_CF75.SAFE"},{"name":"format","content":"SAFE"},{"name":"productclass","content":"S"},{"name":"polarisationmode","content":"HH
        HV"},{"name":"acquisitiontype","content":"NOMINAL"},{"name":"status","content":"ARCHIVED"},{"name":"size","content":"507
        MB"},{"name":"gmlfootprint","content":"<gml:Polygon srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\"
        xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-6.405005,-65.953842
        -6.247155,-65.234734 -7.699877,-64.920433 -7.858769,-65.641556 -6.405005,-65.953842</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"footprint","content":"POLYGON
        ((-65.953842 -6.405005,-65.234734 -6.247155,-64.920433 -7.699877,-65.641556
        -7.858769,-65.953842 -6.405005))"},{"name":"identifier","content":"S1A_S2_GRDH_1SDH_20141206T223726_20141206T223750_003604_00442F_CF75"},{"name":"uuid","content":"eb684a80-be6a-483f-8270-b4abec35af02"}]}}}'}
    headers:
      Content-Type: [application/json]
    status: {code: 200, message: OK}
[...]
