interactions:
- request:
    body: q=beginPosition%3A%5B2018-12-12T00%3A00%3A00Z+TO+2018-12-28T00%3A00%3A00Z%5D+cloudcoverpercentage%3A%5B0+TO+10%5D+platformname%3ASentinel-2+footprint%3A%22Intersects%28POLYGON%28%28-66.2695+-8.0592%2C-66.2695+0.7031%2C-57.3047+0.7031%2C-57.3047+-8.0592%2C-66.2695+-8.0592%29%29%29%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=UTF-8
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body:
      string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2018-12-12T00:00:00Z
        TO 2018-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","subtitle":"Displaying 5 results.
        Request done in 0.329 seconds.","updated":"2019-04-22T23:58:12.036Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2018-12-12T00:00:00Z
        TO 2018-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","opensearch:totalResults":"5","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2018-12-12T00:00:00Z
        TO 2018-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2018-12-12T00:00:00Z
        TO 2018-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2018-12-12T00:00:00Z
        TO 2018-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2018-12-12T00:00:00Z
        TO 2018-12-28T00:00:00Z] cloudcoverpercentage:[0 TO 10] platformname:Sentinel-2
        footprint:\"Intersects(POLYGON((-66.2695 -8.0592,-66.2695 0.7031,-57.3047
        0.7031,-57.3047 -8.0592,-66.2695 -8.0592)))\"&start=4&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2B_MSIL1C_20181219T142029_N0207_R010_T20MPS_20181219T160056","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''bf652bc4-299c-4c39-9238-ee5a3fdc0d3e'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''bf652bc4-299c-4c39-9238-ee5a3fdc0d3e'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''bf652bc4-299c-4c39-9238-ee5a3fdc0d3e'')/Products(''Quicklook'')/$value"}],"id":"bf652bc4-299c-4c39-9238-ee5a3fdc0d3e","summary":"Date:
        2018-12-19T14:20:29.024Z, Instrument: MSI, Mode: , Satellite: Sentinel-2,
        Size: 110.44 MB","date":[{"name":"datatakesensingstart","content":"2018-12-19T14:20:29.024Z"},{"name":"beginposition","content":"2018-12-19T14:20:29.024Z"},{"name":"endposition","content":"2018-12-19T14:20:29.024Z"},{"name":"ingestiondate","content":"2018-12-19T17:33:46.286Z"}],"int":[{"name":"orbitnumber","content":"9331"},{"name":"relativeorbitnumber","content":"10"}],"double":{"name":"cloudcoverpercentage","content":"3.6476"},"str":[{"name":"sensoroperationalmode","content":"INS-NOBS"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>-8.226809262314482,-61.331024
        -8.199464884071258,-61.3248 -8.051117827412291,-61.291107 -7.902739681819007,-61.25757
        -7.75435125617951,-61.22397 -7.605978812889898,-61.19034 -7.457565586982399,-61.15674
        -7.309118950166986,-61.123077 -7.2333399660423,-61.105927 -7.233321357004069,-61.099884
        -8.225984792224422,-61.09546 -8.226809262314482,-61.331024</gml:coordinates>\n      </gml:LinearRing>\n   </gml:outerBoundaryIs>\n</gml:Polygon>"},{"name":"footprint","content":[...]
