interactions:
- request:
    body: q=beginPosition%3A%5B2015-12-19T00%3A00%3A00Z+TO+2015-12-26T00%3A00%3A00Z%5D+footprint%3A%22Intersects%28POLYGON%28%2810.83+53.04%2C11.64+53.04%2C11.64+52.65%2C10.83+52.65%2C10.83+53.04%29%29%29%22
    headers:
      Content-Type: [application/x-www-form-urlencoded; charset=UTF-8]
    method: POST
    uri: https://scihub.copernicus.eu/apihub/search?format=json&rows=100&start=0
  response:
    body: {string: '{"feed":{"xmlns:opensearch":"http://a9.com/-/spec/opensearch/1.1/","xmlns":"http://www.w3.org/2005/Atom","title":"Sentinels
        Scientific Data Hub search results for: beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-26T00:00:00Z] footprint:\"Intersects(POLYGON((10.83 53.04,11.64
        53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\"","subtitle":"Displaying 13
        results. Request done in 0.063 seconds.","updated":"2018-09-06T13:23:36.137Z","author":{"name":"Sentinels
        Scientific Data Hub"},"id":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-26T00:00:00Z] footprint:\"Intersects(POLYGON((10.83 53.04,11.64
        53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\"","opensearch:totalResults":"13","opensearch:startIndex":"0","opensearch:itemsPerPage":"100","opensearch:Query":{"role":"request","searchTerms":"beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-26T00:00:00Z] footprint:\"Intersects(POLYGON((10.83 53.04,11.64
        53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\"","startPage":"1"},"link":[{"rel":"self","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-26T00:00:00Z] footprint:\"Intersects(POLYGON((10.83 53.04,11.64
        53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\"&start=0&rows=100"},{"rel":"first","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-26T00:00:00Z] footprint:\"Intersects(POLYGON((10.83 53.04,11.64
        53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\"&start=0&rows=100"},{"rel":"last","type":"application/atom+xml","href":"https://scihub.copernicus.eu/apihub/search?q=beginPosition:[2015-12-19T00:00:00Z
        TO 2015-12-26T00:00:00Z] footprint:\"Intersects(POLYGON((10.83 53.04,11.64
        53.04,11.64 52.65,10.83 52.65,10.83 53.04)))\"&start=12&rows=100"},{"rel":"search","type":"application/opensearchdescription+xml","href":"opensearch_description.xml"}],"entry":[{"title":"S2A_OPER_PRD_MSIL1C_PDMC_20151224T192602_R065_V20151224T103329_20151224T103329","link":[{"href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''00791c0b-2597-4170-8d35-474135815566'')/$value"},{"rel":"alternative","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''00791c0b-2597-4170-8d35-474135815566'')/"},{"rel":"icon","href":"https://scihub.copernicus.eu/apihub/odata/v1/Products(''00791c0b-2597-4170-8d35-474135815566'')/Products(''Quicklook'')/$value"}],"id":"00791c0b-2597-4170-8d35-474135815566","summary":"Date:
        2015-12-24T10:33:29Z, Instrument: MSI, Mode: , Satellite: Sentinel-2, Size:
        7.54 GB","date":[{"name":"ingestiondate","content":"2015-12-24T18:58:33.24Z"},{"name":"beginposition","content":"2015-12-24T10:33:29Z"},{"name":"endposition","content":"2015-12-24T10:33:29Z"}],"int":[{"name":"orbitnumber","content":"2636"},{"name":"relativeorbitnumber","content":"65"}],"double":{"name":"cloudcoverpercentage","content":"44.0625"},"str":[{"name":"filename","content":"S2A_OPER_PRD_MSIL1C_PDMC_20151224T192602_R065_V20151224T103329_20151224T103329.SAFE"},{"name":"gmlfootprint","content":"<gml:Polygon
        srsName=\"http://www.opengis.net/gml/srs/epsg.xml#4326\" xmlns:gml=\"http://www.opengis.net/gml\">\n   <gml:outerBoundaryIs>\n      <gml:LinearRing>\n         <gml:coordinates>52.30543279228197,8.999706660884636
        51.363241707829694,8.999712727409818 51.353106166584254,10.50631726877677
        51.32586278927718,11.940730468616296 51.27892518278614,13.442095184333063
        51.35153861060137,13.449316928500433 51.35482321981505,13.633943954137738
        51.3631578430335,15.140188798644372 52.305346065306985,15.143149245994097
        53.1601655679278,15.145980830901935 53.14985988974457,16.641564956251077 54.136377428733155,16.680335868325265
        54.[...]
[...]
